---
import Main from "../../layouts/main.astro";

import Title from "../../components/Title.astro";
import Subtitle from "../../components/Subtitle.astro";
import Paragraph from "../../components/Paragraph.astro";
import Quote from "../../components/Quote.astro";
import Separator from "../../components/Separator.astro";
---

<Main>
  <article>
    <Title>Харків</Title>

    <Subtitle>Дитинство</Subtitle>
  </article>
</Main>
