---
import Main from "../../layouts/main.astro";

import Title from "../../components/Title.astro";
import Subtitle from "../../components/Subtitle.astro";
import Paragraph from "../../components/Paragraph.astro";
import Quote from "../../components/Quote.astro";
import Separator from "../../components/Separator.astro";
---

<Main>
  <article>
    <Title>Харків</Title>

    <Subtitle>Дитинство</Subtitle>
    <Paragraph
      >Я народилася та провела дитинство у Дзержинському районі, зараз він
      називається Шевченківський. Двір, де стоїть ракета радянського типу з
      облізлою фарбою. Де вибивають килими у дворі — це завжди якось із зимою та
      татом асоціювалося. Навколо двору основні спогади, ніби і є. Дорослішаєш,
      й якісь побачення та важливі розмови все одно проходять у цьому дворі,
      біля цієї ракети червоно-зеленої, що вже хитається. Цей дитячий майданчик
      облагороджували колись, нові гірки ставили, але ця ракета…дивна вона, хоча
      й пам’ять, звісно, теж.
    </Paragraph>
    <Paragraph
      >У дворі нашого дому знаходився інститут низьких температур — назву якого
      я ніколи не розуміла, та й досі не знаю, що це.
    </Paragraph>
    <Quote
      >Скажеш назву району — ніхто не розуміє, а скажеш «інститут низьких
      температур», й всі такі «а, так-так».</Quote
    >
    <Paragraph
      >Це була ціла сімейна традиція — піти у вихідний, зранку, на базар, купити
      у бабусь сметани, сиру, овочів якихось. Квасу випити з великої жовтої
      бочки з написом «квас» (що логічно).
    </Paragraph>
    <Paragraph
      >Тато каже: «Їдеш в магазин — напиши перелік, а то точно щось забудеш». Й
      як б смішно це не здавалося, так воно і є: я думаю, що впораюсь, а потім
      приходжу додому й така: «Блін! Ну а помідори?».
    </Paragraph>
    <Quote
      >Перший дитячий спогад він з лісом пов’язаний. Ми з батьками та братом в
      купі листя валялися й потім брат приніс додому кліща, а я ні, а валялися
      ми однаково.</Quote
    >
    <Paragraph
      >Пам’ятаю, в мене була така зимова шапка космонавта, її одягали через
      голову та вона драпала обличчя. Вона в’язана, дуже тепла, й в тебе щоки
      ось так стискає (в мене й зараз-то велики щоки, а тоді!). Є світлина, де
      ми з братом стоїмо в таких шубках, і я в цієї шапці космонавта.
    </Paragraph>
    <Paragraph
      >Про Київ багато спогадів. Мій тато народився у Харкові, а мама — в
      Ніжині. Родина мами в Боярці жила, під Києвом, й ми з братом щоліта
      проводили там.
    </Paragraph>
    <Quote
      >У Києві ми завжди ходили на квіткову виставку: з тіткою, дядькою, з
      бабусею. Гуляєш, дивишся на всякі квіти дивні. Може вони й не дивні,
      просто їх дуже багато було.</Quote
    >
    <Paragraph
      >Дитячий садочок був прямо біля дому, й двір наповнювався криками, коли
      мене туди вели. Я ненавиділа це місце, не знаю чому.
    </Paragraph>
    <Paragraph>Молодша школа була біля дому, а старша — вже далеко. </Paragraph>
    <Paragraph
      >Шкільний автобус — це така щоденна рутина, але якщо запізнився на
      автобус, починаються пригоди: треба щось вигадувати, якось доїхати на
      тролейбусі.
    </Paragraph>
    <Paragraph
      >Ми з братом навчались у єврейської школі, так я просто за ним хвостиком
      ходила та не губилася. Але коли брат перейшов в старшу школу, я довго не
      могла звикнути, що він їде далі, а мені треба виходити — він мене ледве не
      силої виштовхував, бо я просто могла проїхати свою зупинку.</Paragraph
    >

    <Separator />

    <Subtitle>Камера</Subtitle>
    <Quote
      >У нас в родине не було фотоапарату. Я не бачила себе на фотографіях років
      до двох, напевно</Quote
    >
    <Paragraph
      >Але в той же час спогади у моїй голові пов’язані із світлинами: я дивлюсь
      на світлину і пам’ятаю день. Ось я дивлюсь на цю шапку космонавта й
      пам’ятаю ліс. Бачу, як ми з мамою стоїмо на мосту над Дніпром, й пам’ятаю
      квіткову ярмарку.
    </Paragraph>
    <Paragraph
      >Якось в газеті «Комсомольська правда» треба було розгадати якісь
      кросворди, подзвонити в редакцію й на щось відповісти. Вдома до такого
      скептично ставились, й я щось у дідуся поспітала, навгадувала й кажу:
      «Давай подзвонимо?». Я туди подзвонила, а в подарунок дали фотоапарат. Й
      ось перший фотоапарат з’явився вдома. Пам’ятаю, він синього кольору був,
      плівковий, не «Зеніт», «Фед» чи «Київ», а такий вже більш сучасний. Потім
      я щось сфотографувала на нього, вдома досі ці плівки в котушках лежать
      підписані.
    </Paragraph>
    <Paragraph
      >А в іншій раз ми йшли по Парку Шевченка, й там була вулична лотерея:
      стираеш монеткою, й якщо тобі попадуться в рядок три пальмочки, то ти
      отримаєш путівку, а в мене було три фотоапарати, і мені дали фотоапарат
      одноразовий на 24 кадри.
    </Paragraph>
    <Paragraph
      >Коли мама брата народжувала, з нею в палаті лежала жінка, в них був
      фотоапарат, ось вони брата мого теж сфотографували. А коли мене
      народжували, не було ніякого фотоапарату, й мені повезло менше. Потім,
      мабуть, карма спрацювала, що в нас їх геть два з’явилось!
    </Paragraph>

    <Separator />

    <Subtitle>Танці</Subtitle>
    <Paragraph
      >В родині дуже сварились, що я їжджу на танці одна, але ніхто нічого з цим
      не робив. 8 років бабуся пилила тата: «Чому в вас дитина одна хитається по
      місту?», але якось неможливо було вирішити цю проблему, мабуть.
    </Paragraph>
    <Paragraph
      >Я тренувалася в районі Кінного ринку. Тоді це місце називалося Академією
      сучасного танцю, хоча там танцювали реп (геть ще не хіп-хоп).
    </Paragraph>
    <Paragraph
      >Зараз біля дому є станція метро, а раніше до нього їздили на тролейбусі.
      Щоб добратися до танців, я проїжджала одну станцію, а потім ще змінювала
      лінію.</Paragraph
    >
    <Quote
      >Я їздила завченим маршрутом, на пам’ять: ось це магазин — тут мені треба
      повернути праворуч.</Quote
    >
    <Paragraph
      >Смішно, що про мене завжди уявляли, що я не самостійна, що я дуже домашня
      дитина, а ось брат — самодостатній, дорослий і взагалі молодець. Але якщо
      так подумати, це я з нас двох в 21 рік видала «валізо, вокзал й всім до
      побачення».</Paragraph
    >

    <Separator />

    <Subtitle>Запахи, звуки, голоси </Subtitle>
    <Quote
      >Ця шевська… як це? Ну, не олія даже, щось таке для черевиків. Крем для
      взуття? Так, щось таке.
    </Quote>
    <Paragraph
      >Мій дідусь більше 40 років був шевцем. Й я нещодавно, тільки не смійся,
      вперше в житті пішла до ремонту взуття тут, в Ізраїлі. Тому що в Харкові в
      мене такої задачи взагалі не стояло. Як голова працює у людей? Якщо
      рветься взуття, то ти швидше за все, її викинеш. У Харкові, якщо в мене
      взуття порвалося, дідусь її забере, а потім вона як нова вертається.</Paragraph
    >
    <Paragraph
      >Дідуся вже немає в живих, але я пам’ятаю, що взуття можна піти та віддати
      на ремонт. В Ізраїлі я такого ніколи не робила, й ніхто з моїх друзів теж
      цього не робив.
    </Paragraph>
    <Paragraph
      >Я просто знайшла якість ремонт взуття, прийшла туда зі своїми черевиками,
      заходжу, а там той же запах, що був у дідуся. Й як мене одразу відбросило
      туди, у Харків. Чоловік там був російськомовний, ми розговорилися з ним
      трошки.
    </Paragraph>
    <Quote
      >Ще моя мама пекла пиріг — вона його називала «тертим»: він вкрит такою
      крихтою тіста й якимись ягодами або варенням. Я, крім як в Харкові, більш
      ніде такий пиріг не їла. Й запах в нього такий — домашнього пиріга.</Quote
    >
    <Paragraph
      >На вулиці постійно чуєш: «Да, я поняла тебе», а потім, живеш в іншій
      країні, розумієш, що всі навколо кажуть «поняла». Й це не те що ріже вухо
      або дратує, але ти розумієш, що весь цей час це був якийсь специфічний
      місцевий говір — такий прикольний, що не спутаєш, де знаходишся.
    </Paragraph>
    <Paragraph
      >Звучали, звісно, й слова чисто харківські: тремпель, судочек, кульок,
      лоток.
    </Paragraph>
    <Paragraph
      >Звук Харкова — це трамвай, що їде по старої бруківці, по якої раніше
      скакали коні, це особливий звук.
    </Paragraph>
    <Paragraph
      >Голоса «Наступна зупинка» в метро; «Станція спортивна: перехід на
      туди-сюди».
    </Paragraph>
    <Paragraph
      >Коли додому о 8 ранку привозили воду в баку або молоко з сіла, сільські
      продавці мали якось дати о себе знати, ось вони й кричали, я ніколи не
      розуміла, що, але для батьків це був код та сигнал: час йти набирати воду,
      купляти сметанку. Як в Ізраїлі, коли по п’ятницях кричат: «Прахим
      ле-шабат» [квіти до Шабату].
    </Paragraph>

    <Separator />

    <Subtitle>Місця та час </Subtitle>
    <Paragraph
      >Це місця, які я люблю в місті. Ось, даже листівку знайшла: цей будинок,
      маленький, зелено-коричневий, знаходиться на вулиці Полтавський шлях, 1 на
      Лопанський набережній, у річці Лопань. Він мені подобається візуально,
      кольори його.
    </Paragraph>
    <Paragraph
      >Вулиці Пушкінська, Архітектора Бекетова — це мої улюблені райони.
    </Paragraph>
    <Paragraph
      >Більше всього часу я проводила у районі, де знаходилась танцювальна
      студія. Ми виходили після танців й тусовалися навколо Макдональдса. Там ще
      водограй закоханих (незрозуміло чого) з такою дивною скульптурою, де два
      дуже-дуже худих чоловічків тягнуться один до одного. Вона не виглядала
      романтичною, якщо чесно; вона виглядала так, ніби дуже голодна пара
      (можливо) любить один одного. Але вони ледве один до одного дотягуються! А
      вони ж дуже тендінті, це може погано закінчитись.
    </Paragraph>
    <Paragraph
      >Ще був буфет, де студенти тусили. В нього зараз ребрендинг, але тоді це
      було кафе у підвалі, де продавали піцу. Це геть не піца була, а пиріг,
      чисто студентська тема, тому що недорого, й можна наїстися на тиждень.
    </Paragraph>
    <Paragraph
      >Якщо піднятися вище — там графіті Гамлета Зіньківського й Олега Мітасова.
    </Paragraph>
    <Quote>Харків — це місто, яке розмовляє з тобою фразами з графіті. </Quote>
    <Paragraph
      >Далі «Театр 19», де Бабкін якісь час грав, ми туди часто ходили.
    </Paragraph>
    <Paragraph>Це все дійсно один район. </Paragraph>
    <Paragraph
      >А якщо піти в іншу сторону — там в синагогу упрешся. Тобто все, що тобі
      потрібно для життєдіяльності, дуже близько.</Paragraph
    >
    <Paragraph
      >А якщо все ж таки прям до місця звузити, я дуже добре пам’ятаю старий
      цирк. Кругла, стара, масштабна будівля. Якщо один в місті заблукав, то
      завжди побачиш цирк — зручно по ньому орієнтуватися. У цирку ми збиралися
      школою, на свято Пурим, щоб слухати Мегілат Естер [сувій Естер].
    </Paragraph>
    <Paragraph
      >Парк Шевченка — це місце про дивні каламбури. Це такий променад, де
      гуляють дівчини в гарних вбраннях, а хлопці дивляться на цих дівчат й
      намагаються з ними познайомитись. Така точка тяжіння міської романтики.
    </Paragraph>
    <Paragraph
      >Далі ХАТОБ [театр опери та балету], а навколо скейтери й дзеркальний
      струмінь, водограйчик такий — напевно, одна з головних визначних пам’яток,
      біля якої всі фотографуються.
    </Paragraph>
    <Paragraph
      >Мені здається, в кожному місті є місце, біля якого назначають зустрічі.
      Наприклад, у пам’ятнику або під годинником. У Харкові це градусник. Це, як
      мій інститут низьких температур — теж якась таємниця: просто величезний
      градусник, який показує реальну температуру міста, прикріплений до
      (причому до якось старовинної) будівлі.
    </Paragraph>
    <Quote
      >Цей градусник — акумулятор життєвої енергії у місті, і якщо його зняти,
      буде погано, бо до нього є звичка.</Quote
    >
    <Paragraph
      >Коли водограй Дизенгоф у Тель-Авиві демонтували, для людей це була
      трагедія. Я тоді працювала недалеко та бачила як старики дивляться через
      дірки у будівельних лісах, плачуть, тому що забирають їх водограйчик, біля
      якого вони зустрічалися молодими.
    </Paragraph>
    <Paragraph
      >У Харкові на вікні завжди був градусник, щоб зранку ти встав, подивився у
      вікно й він показав тобі яка температура на вулиці, щоб ти був готовий
      морально. Тато досі каже: «Що, в тебе градусника немає?», а в Ізраїлі ні в
      кого таких градусників немає.</Paragraph
    >

    <Separator />

    <Subtitle>Війна </Subtitle>
    <Paragraph>Район Салтівки. Брат каже, його більш немає. </Paragraph>
    <Paragraph
      >Ринок Барабашово — окремий спогад для дітей, хто виріс у Харкові: це й
      «постій на картонці», й «та хто на тебе дивиться». Там весь одяг
      купувався, там можна було знайти все. В цей ринок потрапляли ракети (з
      того, що я зрозуміла). Частина встояла, частина — повністю знищена, хоч
      він і дуже великий по розмірах.
    </Paragraph>
    <Paragraph
      >Останній раз я була у Харкові у вересні 2021. Мені важко судити, що
      відбувається там в районах. В район, де я жила, було мало влучань.
    </Paragraph>
    <Paragraph
      >Будиночок, про який розповідала, зелено-коричневий, він на місці, але з
      них трапляється якась історія, що пов’язана з мерією - вони його хочуть чи
      переробити, чи зносити. Я просто бачила петицію, щоб його залишили в
      спокої. Поряд з цим будиночком — будівля архітектурного значення, в нього
      були влучання.
    </Paragraph>
    <Paragraph>
      Не стало купи пам’ятників — за бажанням самих харківчан. Пам’ятник того ж
      Леніна, біля якого люди зустричалися. Просто говорили автоматично: «Ось
      Площа Свободи, там стоїть Ленін — ось біля нього зустрінемось». Пам’ятнику
      не стало набагато раніше за повномасштабну війну, але тенденція, що місто
      змінюється ідеологічно, бо ти більше не приймаєш багато речей навколо себе
      — це до кращого, в моєму розумінні. Коли я приїждала, там був просто
      постамент, а на ньому нікого немає.</Paragraph
    >
    <Paragraph
      >Рік тебе не було, два чи три, ти можеш приїхати й не побачити якихось
      звичних речей, які ти, мабуть, не так уж і помічав, але помічаєш, що їх
      більш немає. При цьому, ти розумієш, чому їх немає, й в тебе це не
      викликає протиріч.
    </Paragraph>
    <Quote
      >Місто вкривається латками. Розумієш, наскільки суспільство проходить інші
      кроки, а разом з ним проходить і місто, формуючи нову ідеологію, ведучи
      боротьбу за свою свободу та незалежність. Так формується Харків — місто
      герой.
    </Quote>
    <Paragraph
      >Іноді місто, як люди, теж позбавляється від всього, що йому більш не
      потрібно, й краще, щоб це завжди відбувалося по вибору міста, а не
      руйнувань ззовні й трагедій, які трапляються зараз.
    </Paragraph>
    <Paragraph
      >Важливо як місто буде відновлюватися. У Харкова була проблема з
      репрезентацією: рекламні щити сильно псували облік та стиль міста, часто
      зачиняли архітектурні надбання. Я дивилася якісь плани будівництва в
      місті, там можна побачити «до» та «після»: півроку тому було ось так, а
      зараз це новий будинок. Багато чого зараз відбудовується у процесі.
    </Paragraph>
    <Quote
      >Намагаються щось возродити, обміняти, оновити, геть в період війни.
      Думаєш: «коли все закінчиться — оновлюватимуть», але я, якщо чесно, ніколи
      не задумувалась, що це все відбувається паралельно: десь руйнування, десь
      реставрація; такий пінг-понг.
    </Quote>
    <Paragraph
      >Батьки мої зараз у Львові, більше півроку [на момент інтерв’ю 7/02/2023].
      Брат залишається у Харкові — він в районі ХТЗ знаходиться. В мене вдома
      зараз нікого немає. По новинах намагаюся слідкувати якось, але по моїм
      враженням в район нашого будинку менше було влучень. Інститут низьких
      температур, думаю, теж себе добре відчуває, не бачила новин про нього.
    </Paragraph>
    <Paragraph
      >До війни я розпитувала своїх друзів, дивилася вакансії у сфері культури,
      в галереях, й прям думала пожити у Києві, а потім наступила війна. Я не
      можу сказати, що в мене було серйозне бажання повернутися до Харкова, але
      я цього, звісно, не виключаю. Я в Україні, виходить, не живу вже понад 10
      років.
    </Paragraph>
    <Quote
      >Чи хочется додому? Дуже хочется. Мені здається, повернувшись туди, ти вже
      не будеш колишньою людиною, й я не знаю, чи готова я взагалі до того
      потрясіння, яке побачу на власні очі.
    </Quote>
    <Paragraph
      >Мої батьки, бабусі, дідусі ніколи не були та, де я обирала жити, тому
      Харків — це про дім: туди я приїжджала і з Ізраїлю, і з Санкт-Петербургу.
      Й це таке повернення додому, родина чекає на тебе в Харкові. Повертатися
      додому — це про Харків.
    </Paragraph>
    <Paragraph
      >Війна на екранах це страшно, це шокує, але я не уявляю як це: бачити це в
      реальному житті? Бажання бути там й допомогати — воно є. Чи є страх? Теж
      є, звісно. Можливо, це треба побачити, щоб вирішити дилеми, протиріччя і
      думки про різні процеси.
    </Paragraph>
    <Quote
      >Фраза «ми зіткнулися з війною» — це пустий звук; ми, сидячі в Ізраїлі, не
      зіткнулися з війною в Україні. Люди, які там — зіткнулися, але те, що ми
      дивимось на екранах — це не зіткнення з війною.
    </Quote>

    <Separator />

    <Subtitle>Харків і я: завтра та зараз </Subtitle>
    <Paragraph
      >Коли я опинюся в Харкові, я б зайшла до Інституту низьких температур, я
      там ніколи не була. Просто подивитися: що це й чому все життя про це
      говорять всі навкруги, а я геть не знаю, що там відбувається всередині.
      Хоча, мабуть, варто запитати батьків, мабуть ми там і були колись. В буфет
      теж хочу, поїсти піцу-пиріг.
    </Paragraph>
    <Paragraph>Прийти туди, де Лопань, до цирку. </Paragraph>
    <Paragraph
      >Напевно, це все місця, які я згадувала, нових якихось придумати не можу.
    </Paragraph>
  </article>
</Main>
