---
import Article from "../../layouts/article.astro";

import Title from "../../components/Title.astro";
import Subtitle from "../../components/Subtitle.astro";
import Paragraph from "../../components/Paragraph.astro";
import Quote from "../../components/Quote.astro";
import Separator from "../../components/Separator.astro";
---

<Article>
  <article>
    <Title>Киïв</Title>

    <Subtitle>Дитинство</Subtitle>
    <Paragraph
      >Я народилася у Києві та у 2018 році репатріювалася до Ізраїлю. Востаннє я
      була у Києві три роки тому, коли приїжджала до батьків. Я дуже довго
      домагалася цього від армії, доводячи, що не залишусь в Україні і не
      служитиму там; що в Україні — не обов'язковий військовий обов'язок, як в
      Ізраїлі, і що дівчата не зобов'язані там служити.
    </Paragraph>
    <Paragraph
      >Я багато чого пам'ятаю з дитинства, але я ніколи не замислювалося, що
      було моїм першим спогадом. Напевно, через те, що мама з татом дуже хотіли
      зберегти моє дитинство на касетах (знаєш, великі ці, «динозаврівські»),
      вони багато знімали, а я постійно це переглядала, і, мабуть, якась частина
      моєї пам'яті вважає, що це мої спогади, а не те, що я бачила вже у
      свідомому віці на касетах.
    </Paragraph>
    <Paragraph
      >Мої спогади переважно пов'язані з дачею: це були наші сімейні поїздки,
      коли тато повертався з відряджень, а мама готувала купу всього. Дача у нас
      була під Обуховом: машиною це десь година від Києва, а потім ще хвилин
      20-30 їхати. Там було озеро; там було чудово. Думаю, бо тато старався: він
      у мене розмовляв із рослинами, з деревами, у нього були свої виноградники,
      він робив вино, у нас завжди були ягоди, фрукти.
    </Paragraph>
    <Quote
      >З дачі більше яскравих спогадів, бо вдома спогади не хотілося
      запам'ятовувати, знаєш? Мама виховує, тата немає, а на дачі все можна.
    </Quote>
    <Paragraph
      >Будинок мого дитинства — це будинок, де пройшло і мамине дитинство теж,
      просто різні квартири. Там же зараз мешкає і мій дідусь. Вдома я проводила
      багато часу, у мене не було такого, що я гуляю з однолітками на дитячому
      майданчику, як це зазвичай буває, у мене була приватна єврейська закрита
      школа, вона була далеко від дому, і друзі завжди були далеко. Багато часу
      я проводила у бабусі на роботі — вона була головною медсестрою на
      київській станції переливання крові. Теж у цьому районі, біля «серця»
      [Інституту Серця], Дорогожичів. Почувалася я там чудово, мене там усі
      любили — я була дитиною станції! Напевно, через це я не боюсь крові.
    </Paragraph>
    <Paragraph
      >Я ходила тільки до старшої групи єврейського дитячого садка і, звичайно,
      у нас був севіон на гроші [гра у дзигу на свято Ханука]. Пам'ятаю, як
      грали у «морі хвилюється раз». Ну, ясна річ, були покемони — ці кепси
      кругленькі, їх кидати треба було. Ми їх продавали, обмінювалися ними. У
      якийсь момент у всіх дівчаток із заможних сімей з'явилися не Барбі, а
      ляльки Братц із гігантською головою, і я пам'ятаю, як мама мені сказала:
      «ось коли я зможу — я тобі куплю». Я не була тією дитиною, яка падає на
      підлогу в магазині та кричить «я хочу!» — ні, я почекала, і потім мама
      мені купила цю ляльку.
    </Paragraph>

    <Separator />

    <Subtitle>Сім'я</Subtitle>
    <Paragraph
      >Мама в дитинстві часто їздила до Бородянки — там жили її бабуся,
      прабабуся. Все дитинство мати проводила там, ну, знаєш, свіже повітря,
      природа. Але здебільшого всі вони жили у Шевченківському районі, біля
      Бабиного яру та телевежі, і тато теж. Коли мене запитують «а де ти жила?»,
      я говорю «в Шевченківському районі», і всі такі «ой це там, де Хрещатик?»,
      «ні-ні, трохи подалі…». Це один район, просто він великий.
    </Paragraph>
    <Paragraph
      >Тато народився у Києві, але у нього були не дуже добрі стосунки з
      батьками, тому здебільшого його виховували бабуся з дідусем у Криму. Потім
      він пішов до армії і вже остаточно переїхав до Києва.
    </Paragraph>
    <Paragraph
      >Спочатку мама працювала вчителем початкових класів та бібліотекарем, а
      потім стала лише бібліотекарем. Це легко можна зрозуміти з того, який у
      нас будинок у Києві — гігантські полиці, скрізь книги, все пахне книжками.
    </Paragraph>
    <Quote
      >Коли почалася українізація, у 2014 році, і почали викидати, а то й
      спалювати (а не здавати, наприклад, на макулатуру) російську літературу,
      російську класику, мама це все тягала до хати, їй було шкода, вона не
      могла дивитися як знищують книги.</Quote
    >
    <Paragraph
      >Тато у свій час працював в «Украерорусі» — компанії, яка займалася
      літаками та авіатехнікою по всій Україні. Іноді він їздив у відрядження,
      зокрема за кордон. Якийсь час він був водієм та помічником одного
      депутата, а потім йому набридла вся ця політика, і він звідти пішов.
    </Paragraph>
    <Paragraph
      >Скільки б разів ми з братом не слухали історію знайомства наших батьків,
      стає ясно, що у них була купа можливостей познайомитися: вони були в одних
      і тих місцях одночасно, але не зустрічалися; у них була купа спільних
      знайомих, він навчався у морському училищі, а вона у педагогічному; і в
      них, знаєш, раніше за радянських часів були тусовки, дискотеки — іноді так
      хочеться побувати на них! Подивитися, як вони збираються, йдуть на танці —
      мені це нагадує фільм «Стиляги».
    </Paragraph>
    <Paragraph
      >У тата та мами до цього були шлюби, не дуже вдалі. У першому маминому
      шлюбі у неї померла дитина. І саме в цей момент, коли вона була у супер
      затяжній депресії, жалобі та стресі, негарна, ненафарбована, з порожнім
      холодильником уже кілька місяців, їх знайомить подруга. Одного разу тато
      приїхав до мами, заповнив холодильник. Другого дня він привіз їй бідони з
      чистою водою і просто залишився жити з нею. Тобто настільки вона йому
      сподобалася, що в них навіть не було якоїсь розмови про побачення, ось
      прямий «бац!», закохалися і стали жити разом. Весілля у них було тільки
      коли мені було 6 років.
    </Paragraph>
    <Paragraph
      >У нас у сім'ї була традиція ходити до Бабиного Яру, саме до єврейського
      меморіального комплексу. На День Перемоги ми волонтерили, допомагали
      ветеранам, зараз їх, мабуть, уже нема. На Пурім ми їздили в «Dream Town»
      кататися на роликах і ковзанах; їздили в аквапарк і їли там піцу, прямо у
      воді.
    </Paragraph>
    <Quote
      >У мами традиція була смішна: якщо у мене чи брата траплялося якесь свято,
      вона дарувала подарунки нам обом, але якщо я зробила шкоду, то й лаяли нас
      обох — загалом жодна дитина не була обділена.
    </Quote>
    <Paragraph
      >Взимку ми завжди ходили на балет, мама завжди вибирала щось нове, а якщо
      мама не могла, я ходила з бабусею. Тобто я така, інтелігентна дитина, яка
      ходила до театру та на оперу. Я співала в опері, тому мені було кайфово,
      хоч балет мені подобається більше. Коли я була маленька, там ще були всі
      ці ялинки з подарунками та несмачними шоколадними цукерками.
    </Paragraph>
    <Paragraph
      >Бабуся, мама та тато зараз живуть у Карміелі, дідусь — у Києві, і я його
      чудово розумію: у такому віці переїхати в країну, де тобі треба заново, з
      нуля, вивчати мову, жити в орендованій квартирі, коли вдома є своє. І
      свого багато – і мова, і валюта, і звичні тобі продукти. Ти йдеш вулицею і
      не розумієш розмови, всі твої друзі там. Не думаю, що він почувається в
      безпеці, але йому ще соромно і прикро, адже він все життя вважав, що
      «Путін — хороша людина», а потім «бац!» і ось.
    </Paragraph>
    <Paragraph
      >В Ізраїлі у нас дуже багато родичів і бабуся щороку їздила сюди до сина,
      маминого брата. Пам'ятаю, як вона привозила нам авокадо, хумус, шоколад,
      що виглядає, як кора дерева! Було дуже смачно.
    </Paragraph>

    <Separator />

    <Subtitle>Запахи, звуки, голоси </Subtitle>
    <Paragraph>
      Київ — дуже красиве, зелене місто, пов'язане для мене з університетом та
      щасливим дитинством. Круте місто з модними людьми. Для мене Київ — це
      якась окрема частина України.
    </Paragraph>
    <Paragraph>
      У Києві я любила ходити на різноманітні екскурсії, розкопки. Коли я
      приїжджала востаннє, мама подарувала мені екскурсію публічними будинками
      Києва: це девʼятнадцяте століття, коли борделі маскували під щось
      (наприклад, ти заходиш у стоматологію, а там за дверцятами стоматолога —
      бордель).
    </Paragraph>
    <Quote>Це звук дзвонів, тролейбусів, трамваїв.</Quote>
    <Paragraph
      >Ми жили в місці, де було дуже багато природи: ліс Дубки, парк Дорогожичі,
      тому це щебет птахів, звичайно. Напевно, ще звук метро, ​​коли ти вже у
      вагоні чи чекаєш на поїзд. Запах бузку, конвалії, запах пиріжків біля
      оперного театру: якщо ти стоїш до оперного театру обличчям, повертаєш
      ліворуч і трохи проходиш, там є супер маленька, але супер відома
      пиріжкова. Ось вона пахла цим жиром, цим тістом. Через те, що тато з Криму
      ми щороку їздили туди, і там, наприклад, мене зводив з розуму запах
      чебуреків і моря. Одеса — це теж запах моря та шоколаду, а ось Київ — це
      більше про запах квітів, запах дощу та, мабуть, запах маминої їжі, яку
      вона готувала.
    </Paragraph>
    <Paragraph
      >Мама готувала все, що попросиш. Моє улюблене курочка з грибами. І, знаєш,
      як у Карпатах готують кукурудзяну кашу та з грибним соусом, а мама завжди
      робила з гречкою. Що ще? Фарширована рибка.</Paragraph
    >
    <Paragraph
      >У нас не було чогось такого, що готують «тільки на свята», якщо ми хотіли
      — ми просили. Пиріг з маком. Бабуся готувала всю ашкеназьку [єврейську
      східноєвропейську] кухню. Найсмачнішою була бабка — на кшталт запіканки з
      мацемел [мукою з маци], солона. Що ще? Супер смачна печеня з м'ясом.
    </Paragraph>
    <Paragraph
      >Ми ходили до піцерії, на мою думку, вона називалася «Містер кет», це було
      на Шулявці. Зрозуміло, у «Пузату хату», їли там вареники. Любили
      відкривати щось нове, наприклад, коли на Подолі відкрився заклад із
      київськими котлетами, а потім із пончиками. Тоді ще, знаєш, не було такого
      ажіотажу на донатс у Києві, а мама завжди намагалася нас чимось таким
      пригостити. Але частіше мама таки готувала сама. Зазвичай, коли люди
      святкують, вони виходять до кафе, ресторану, а ми навпаки: більшість свят
      святкували вдома, а якщо хотіли вийти кудись, то просто йшли.
    </Paragraph>
    <Paragraph
      >Ми говорили російською, а потім приїжджаєш кудись — до Харкова чи Одеси —
      кажеш, а тобі такі «а в нас інакше говорять». У Києві можна почути
      «парадну»; багато хто говорить, що у нас із Санкт-Петербургом схожий
      словниковий запас. Не знаю, чи хотіла б я зараз бути схожою на пітерців?
      Слово «їхній»: через те, що українською «їхні», кияни часто неправильно
      вимовляли «їхній», говорячи російською.
    </Paragraph>
    <Quote
      >Раніше в Києві було більш російськомовне населення, коли я вступила до
      універу, я почала говорити українською, мої найкращі подруги були зі
      Львова та з Рівного — там теж є свій сленг, діалекти.</Quote
    >

    <Separator />

    <Subtitle>Місця та час </Subtitle>
    <Paragraph
      >Зустрічаються у Києві у Маріїнському парку, на Липках — дуже гарний
      район, здається, у мене усі подружки там на побаченнях гуляли. Вулиця
      архітектора Городецького, якщо там не перекрито, бо там є резиденція
      президента. Банально, але багато хто влаштовує побачення на Хрещатику. На
      Подолі та на набережній дуже багато побачень. У мене на Подолі теж були
      побачення і закінчувалися вони у «Пузатій хаті» — це були найкращі
      побачення, де мене годують! Причому, знаєш, не якісь фешенебельні
      ресторани, а Пузата хата — наше, своє!
    </Paragraph><Quote
      >Я пам'ятаю легенду про будинок доктора, теж десь на Липках, що там жили
      євреї, і що дах у них розходився на свято Суккот. Звичайно, легенда
      Будинку з химерами, що ночами ці горгулки прокидаються і ходять Києвом.
      Здебільшого, мабуть, легенди були не в Києві, а в селах, де були мавки,
      русалки, різна погань.</Quote
    >
    <Paragraph
      >Усі важливі для мене місця були у різних районах: жила я у
      Шевченківському, у школі навчалася у Голосіївському, а на хор їздила до
      Солом'янського. Хор — це більшість мого життя, я співала в ньому протягом
      одинадцяти років, ми об'їздили всю Європу з гастролями, я любила своїх
      дівчат. Я не жила в Солом'янському районі — мене прийняли лише тому, що
      моя єврейська школа була поблизу: одного разу туди прийшов керівник хору і
      вибрав, зокрема, мене. Я завжди заздрила дівчаткам, які жили за п'ять
      хвилин від хору, тоді як я діставалася годину: взимку, в холод, у суботу,
      вставати і їхати цією маршруткою кудись. Пам'ятаю, коли мені було
      тринадцять років, і ми з бабусею їхали на хор, я обурювалася: «бабусю! я
      вже велика!». Мене почали відпускати одну лише років в чотирнадцять,
      досить пізно. Я люблю Київ, але він завжди був не найбезпечнішим містом
      для дівчаток.
    </Paragraph>
    <Paragraph
      >Навчалася я в КНЕУ [Київський національний економічний університет] на
      менеджера управління персоналом. При універі був гуртожиток, де ми з
      подружками іноді робили хатинку, працювали над проектами. І одного разу
      приїхала поліція, було багато людей, а потім виявилося, що одна приїжджа
      дівчинка приховувала, що вона вагітна, і батьки, ясна річ, нічого не
      знали. Вона народила дитину в гуртожитку та викинула її з четвертого
      поверху у сміттєвий бак. Народила та викинула. І з того часу гуртожиток
      став для мене найстрашнішим місцем. Та й психологічно мені це було
      незрозуміло; я не знала: ненавидіти цю людину чи шкодувати?
    </Paragraph>
    <Paragraph
      >Якби потрібно було обрати символ Києва, я вибрала б арку [ex.Дружби
      народів, з 14 травня 2022 — Свободи українського народу]. Там завжди було
      багато молоді, тусовок якихось концертів, вона досить яскравий для мене
      символ.</Paragraph
    >
    <Quote
      >Найбільше я сумую за друзями. Дивно сказати, але за їжею — за тим вибором
      і якістю, що є в магазинах: тут я рідко заходжу в магазин і так, щоб
      «вау!», а там заходиш до якогось «Сiльпо» — і все хочеться! Сумую сильно
      по снігу, саме тому, коли виходиш на вулицю, і в тебе сльози, очі і соплі
      застигають у бурульку; і це повітря, яке вдихаєш і прямо відчуваєш холод.</Quote
    >
    <Paragraph
      >Сумую за архітектурою. Я з тих людей, що вважають Ізраїль гарним;
      показують місцеву архітектуру, але вона вся «приїжджа» — різні колонії
      (наприклад, Сарона) — це все привозне, у Києві ж це споконвіку будувалося,
      зберігалося, переживало війни, і вся ця архітектура з Липок, Хрещатика, з
      центру — ти приїжджаєш, і пряме серце завмирає! Наскільки кожен під'їзд,
      кожен дах, навіть просто ти приходиш у дім і в тебе... як це називається?
      Не гобелен, а… На стелі такі красиві візерунки? Так-так, ліпнина! Урожай
      високі стелі з красивими люстрами. Вся ця спадщина, яку в Україні, на
      жаль, не так широко реставрують, як в Ізраїлі. Тут цього, напевно, менше,
      тож це більше цінують.</Paragraph
    >

    <Separator />

    <Subtitle>Київ та я: завтра і зараз</Subtitle>
    <Paragraph
      >Бабусю я перевезла сюди, як тільки переїхала, шукала їй квартиру в
      Карміелі — вона його обожнює. На момент переїзду бабуся знала про Ізраїль
      більше, ніж. Єдина мрія, яка в мене була служити в ізраїльській армії з
      німецькими вівчарками. Ну, тобто ось ці всі «Тагліти», «Гілелі», єврейські
      школи — це впливало з дитинства, що «так, я буду в Ізраїлі в якийсь період
      життя», але щоб я так добре знала про Ізраїль? У мене, як у дитини з
      дитинства, було відчуття, що це така маленька країна, «там, де завжди
      тепло і ясно», що тут чудові дороги, що тут все так чудово — і ось облом.
    </Paragraph>
    <Paragraph
      >Татові потрібна була операція і за місяць до початку повномасштабної
      війни вони з мамою приїхали до Ізраїлю. Вони не планували тут жити — вони
      планували приїжджати на кілька місяців на рік та повертатися. Вони ще
      хочуть більше жити там, ніж тут, а я відчуваю, що Ізраїль — це моє. На
      початку війни я переживала, що «ось, почалася війна, і що я взагалі тут
      роблю?», що треба бути там, і взагалі, я вмію користуватися автоматом, я
      добре воюю і треба йти в армію і воювати. Усі мої друзі виїжджали з Києва,
      з України, а я навпаки хотіла туди.</Paragraph
    >
    <Quote
      >Я б не сказала, що в мене патріотизм виливається з усіх щілин, просто
      думаю, що коли твій будинок бомбардують, ти все це бачиш, а ти не там, ти
      відчуваєш і ненависть, і страх, і сором; ти не можеш розуміти адекватно —
      ти хочеш просто, як товарняк, безперервно, туди, в гарячі точки,
      допомагати.</Quote
    >
    <Paragraph
      >Я волонтерила онлайн — грошима, у проектах, пов'язаних із медичним
      обладнанням, медикаментами. Для кожного є своє місце: є ті, хто захищає; а
      є ті, хто ходять щодня на роботу і дають гроші. Як виявилося на практиці,
      що тут, що там (перепрошую, якщо це погано сказано) держава не сильно
      допомагає у фінансовому плані. Коли в Ізраїлі почалася війна, скільки
      волонтерів приносило їжу, одяг? І я на мить задумалася: а де держава? Чому
      люди мають це робити? Чому люди повинні збирати свої копійки, щоб купити
      один дрон? При цьому держава може виділити величезну суму з державного
      бюджету на телевізійне телешоу.
    </Paragraph>
    <Paragraph
      >І до повномасштабної війни я вважала себе єврейкою та киянкою; я не часто
      називала себе ізраїльтянкою.
    </Paragraph>
    <Quote
      >Я дуже вдячна своїм друзям, які не відвернулися від мене за те, що я
      говорю російською мовою, продовжують любити мене, спілкуватися зі мною і
      поважати мене.</Quote
    >
    <Paragraph
      >Багато місць, куди я хочу вирушити, коли опинюся в Києві: це і
      Маріїнський парк, і шоу-рум бренду COOSH, і в театр Лесі Українки, і
      випити матчі на банановому. У мене, не те щоб страх, а відчуття, що,
      приїхавши до Києва, я опинюся «людиною в Європі, яка не знає англійської».
      Мама вже знає, де що та як працює під час війни, а я навіть не знаю, яку
      картку у метро купити, бо я давно там не була. Здається, що є якась
      прогалина, яку потрібно заповнити.</Paragraph
    >
  </article>
</Article>
