---
import Main from "../../layouts/main.astro";

import Title from "../../components/Title.astro";
import Subtitle from "../../components/Subtitle.astro";
import Paragraph from "../../components/Paragraph.astro";
import Quote from "../../components/Quote.astro";
import Separator from "../../components/Separator.astro";
---

<Main>
  <article>
    <Title>Одеса</Title>

    <Subtitle>Дитинство</Subtitle>
    <Paragraph
      >Моя мама народилася у Казахстані, а тато у Чернівцях. Вони потрапили до
      Одеси за розподілом після університету, працювали на одному заводі, де
      вони, власне, познайомилися і залишилися жити в Одесі. Тому я не можу
      сказати, що «я одеситка дев'ятсот тридцять восьмому поколінні».
    </Paragraph>
    <Paragraph
      >Коли я була маленька, мій дід був директором великого одеського заводу,
      та ми жили у гуртожитку в нього. Він знаходився недалеко від привозу, а
      поряд знаходилися зоо та лунапарк, і кожних вихідних була плюс-мінус одна
      програма: тато садив мене на плечі, і ми йшли в цей зоопарк. Чому? Для
      чого це запам'ятовувати? Тому що в мене там був ворог, у цьому одеському
      зоопарку лама. Я, будучи дитиною, не дуже знала, що лами плюються (і на
      помилках я не дуже вчилася), і щоразу, проходячи повз цей паркан, я
      отримувала свою дозу ламачої слини (вона так називається?), і тато
      проходив усі стадії прийняття — від істерики до спокійних дзвінків мамі.
      Напевно, це найяскравіше, що я пам'ятаю: дитинство, я в тата на горгошах,
      і ось я лечу цим зоопарком і все до певного моменту добре.
    </Paragraph>
    <Paragraph
      >Районів мого дитинства було два: в одному я росла — він називається
      Таїрове, в якийсь момент ми переїхали на «такий самий» — Черемушки (мені
      здається, скрізь є район із такою назвою). Але чому ж два? Тому що я
      навчалася в центрі міста. І, зрозуміло, все найгірше я отримала на
      Таїрове, а все найкультурніше — у центрі міста. Це були різні компанії, в
      одній з яких обговорювалися приземлені речі, а в іншій — більш високі.</Paragraph
    >

    <Separator />

    <Subtitle>Запахи, звуки, голоси</Subtitle>
    <Paragraph
      >Звуки Одеси — це прибій. Звук маяка в порту. Шум привозу. Трамвай.
      Вуличні музики.
    </Paragraph>
    <Paragraph
      >Одеса пахне запахом спеки, не знаю, як його пояснити: це така гаряча
      суміш моря із розпеченим піском. Це запах риби, морепродуктів. І це запах
      акацій.
    </Paragraph>
    <Paragraph
      >Шокання. «Що ви знаєте?» — це правда, це не просто описано всіма, ким це
      описано.
    </Paragraph>
    <Quote>Це гумор, який не вигадано; що ціле мистецтво. </Quote>
    <Paragraph
      >Це слова на ідиш: бе-кіцер, глік, тухес. Назви якихось страв (бо це
      невід'ємна частина одеської з єврейською). Всі ці слівця і вирази вони
      прямо вп'ялися і прижилися. Я росла в нерелігійній сім'ї, тому це була
      історія з форшмаком, з оладками з усіх видів риби і морепродуктів:
      наприклад, оладки з тюльки (це навіть не оладки, а латкес, тільки з
      тюлькою). Фарширована риба, безперечно, і бабагануш. У дитинстві мені було
      не очевидно, звідки ноги ростуть, але згодом у мене вже пазли складалися.
      Тому що «ну чого воно єврейське, якщо воно одеське? Баклажани ж в Одесі
      найсмачніші!».
    </Paragraph>
    <Quote>Це питанням на запитання. </Quote>
    <Paragraph>Це показуватиме руками. </Paragraph>
    <Paragraph
      >А якщо лаються, то, по-перше, це мат, так? Зрозумілий усім мат всіма
      зрозумілими мовами — багатьма, бо Одеса завжди була дуже
      багатонаціональною.
    </Paragraph>
    <Paragraph
      >Ну й ось ці «шоб ви так жили», але це більше в центрі, бо спальні райони
      вони такі — «на маті», а ось у центрі з одеських двориків можна і почути
      таке, і відро води на голову отримати. Або на якомусь дикому суржику та
      трьох різних мовах зачепити якось недоладне речення, і просто за
      інтонаціями зрозуміти, що люди лаються (або насправді не лаються, а просто
      дуже емоційно спілкуються).
    </Paragraph>
    <Paragraph
      >А! І це знаєш, що ще? Чи є поняття «інтелігентного матюка»? Якісь,
      начебто, не образливі слова, але сказані так хабалисто-лагідно, що ти
      розумієш, що «накосячив». Я навіть зараз, напевно, приклад не. Ну, там,
      «дятел». Ну як би, так? Хто сказав, що це прикро? Або якісь ем.. «шо ви
      себе накручуєте?». Незрозуміло, коротше: тебе образили чи комплімент
      зробили?
    </Paragraph>

    <Separator />

    <Subtitle>Місця та час</Subtitle>
    <Paragraph
      >Про важливі для мене місця, ну, я зараз скажу якусь банальну річ, що «це
      будинок, де моя сім'я, і ​​неважливо, де він» (а він був у різних місцях).
      Мої місця вони, напевно, зараз сто відсотків виглядають не так, як раніше,
      але багато приємних моментів пов'язано ось із цим п'ятачком, про який я
      говорила, де привіз (здавалося б, не найромантичніше місце), лунапарк та
      зоопарк — це такий п'ятачок дитинства, де ми постійно тусувалася з мамою
      та з татом. Стара Аркадія, Ланжерон — два пляжі, які, зрозуміло, зараз
      виглядають уже не так, але там все одно є цей вайб «коли я туди потраплю —
      я точно там опинюся», просто заради цих спогадів, які спливатимуть і
      мелькатимуть. Парк Шевченка, парк Горького теж місце з дитинства,
      наприклад.
    </Paragraph>
    <Quote>Найбільше я сумую за людьми. </Quote>
    <Paragraph
      >По атмосфері просто чути ці звуки, вдихати ці запахи. По їжі (усьому
      тому, що ми з тобою говорили). За такою розміреністю, знаєш? От ідеш ти
      Дерибасівською, і там купа всього відбувається, а ти йдеш цією не зручною,
      але такою рідною, бруківкою. За колоритом, сто відсотків; за колоритом
      людей, які, напевно, самі не знають, наскільки вони харизматичні та
      колоритні. Просто спостерігати; сісти та спостерігати за цим вічно.
    </Paragraph>
    <Paragraph
      >Страшно було другого травня, 2014 року, бо все місто відпочивало, це були
      травневі свята; всі були за містом, на дачах (це окремий вид мистецтва —
      одеські дачі). Ми з друзями були на якійсь базі відпочинку, і в нас
      настільки погано ловив зв'язок, що в ті рідкісні моменти, коли ми
      підключалися до інтернету, у нас просто зависали телефони, бо всі родичі
      з-за кордону почали дзвонити. здавалося, що 2 травня в Одесі розлетілося
      по всьому світу. Ми, якщо чесно, не могли зрозуміти, що трапилося —
      настільки швидко це все ліквідували-прибирали. У момент, коли люди
      поверталися з травневих свят, не було й жодного сліду того, що сталося, і
      лише люди, які там загинули, і всі, хто там постраждав, були цим «слідом».
    </Paragraph>
    <Quote
      >До 2014 року я не можу згадати якусь страшну подію, пов'язану з Одесою.</Quote
    >
    <Paragraph
      >Ну, і зрозуміло, 24 лютого 22 року. Я вже жила в Ізраїлі і прокинулася
      від того, що вібрував телефон, тому що надходила величезна кількість
      повідомлень. Будемо чесними, я не була підписана на величезну кількість
      українських пабліків, як зараз; це були повідомлення від друзів і рідних,
      приблизно з тим самим текстом. Прочитавши перше, я підірвалася, розбудивши
      сусідів, сказала, що почалася війна, вони запитали «де?», я відповіла їм у
      риму, і ну, як би все.
    </Paragraph>
    <Paragraph
      >І почався супер страшний період: спочатку шок. Потім, коли дійшло, стало
      гірше, і ми залипли в чатах пересування людей, які просто намагалися
      тікати, десь треба було ночувати.
    </Paragraph>
    <Quote>
      Далі було страшно їхати на кордон — я жодного разу з того моменту не
      в'їжджала на територію України, але була на кордоні з різними країнами, і
      те, що ми там бачили, було дуже страшно. Ти не розумієш цього в той
      момент, тільки потім знаєш, коли починаєш аналізувати, що з тобою сталося,
      стає страшно.</Quote
    >
    <Paragraph
      >Не знаю, що через війну вже неможливо побачити в Одесі, але є на Соборній
      площі дві гарні будівлі, бачила, так? Там був собор, який зараз
      зруйновано. Цікаво, наскільки його вже відновили — гадаю, такі місця
      відновлюють досить швидко.
    </Paragraph>
    <Paragraph
      >Або готель, який всі ненавиділи (були навіть меми якісь жахливі, на
      кшталт «дякую, що в неї» — ну, це коли вже «чорнуха ллється», знаєш), на
      морвокзалі. Вона неробоча, в нею не було людей. Коли цей готель-свічку
      збудували, всі одесити гуділи: «все, перекрили краєвид на море! На хера
      вона там потрібна взагалі? Знаєш, як у сім'ї чи в компанії є один дурник —
      ось вона була такою безглуздою візитівкою міста, а зараз там видовище
      таке, не для людей зі слабкими нервами.
    </Paragraph>
    <Paragraph
      >Одеса супер труситься за будь-якими пам'ятниками, тому більшість із них
      одразу обклали мішками, вони досі закриті і побачити їх не можна, але хай
      краще так, головне їх зберегти.
    </Paragraph>
    <Paragraph
      >В офіс одеського «Гілеля» [єврейська студентська організація — прим.]
      також «прилетіло». Я не була в ньому - більше спостерігала з боку, як
      хлопці його будують, вкладаються і чи не самі студенти його
      фарбують-вифарбовують. Приблизно півроку вони були в тому приміщенні, і
      власне туди прилетіло, і більше я це приміщення не побачу, а я дуже хотіла
      побувати там, де люди самі все по цеглинах збирали.
    </Paragraph>

    <Separator />

    <Subtitle>Одеса та я: завтра і зараз </Subtitle>
    <Paragraph>Післязавтра буде 7 років, як я не мешкаю в Одесі. </Paragraph>
    <Paragraph
      >Досі мінімум раз на рік я збираю валізу і говорю, що повертаюся! З
      початком війни перше, що я зробила — зібрала валізу, благо, навколо мене
      були люди більш стабільні «кукухою», які мене зупинили, нагадавши, що
      звідси я, напевно, можу бути кориснішою для моєї родини, для моїх друзів,
      яким потрібна допомога. виїжджати, зустрічати їх тут, зустрічати їх не
      тут, будь-де, якось допомагати звідси, чим там, не розуміючи, чим я можу
      допомогти.
    </Paragraph>
    <Quote
      >Але так, стабільно, один-два рази на рік хочеться повернутися — там все
      зрозуміло, там серце (частина серця), душі теж, все поділено на дві, дві
      частини.
    </Quote>
    <Paragraph
      >Я вихована в супер сіоністському середовищі. Залиш, що в перші півроку в
      Ізраїлі я злила свій сіонізм в унітаз, але це сіоністське виховання, що це
      теж дім, воно дається взнаки. Спочатку мені здавалося, що я нічого тут ще
      не спробувала, нічого не зробила, щоб мені тут сподобалося. Мені
      здавалося, що зараз я спробую ось це, спробую щось. Мені, як і раніше,
      здається, що я корисніша звідси, бо у людей там закінчуються ресурси:
      моральні, фінансові. Просто розуміння того, що десь тут є люди, до кого
      вони можуть приїхати і побути у відносній (з недавніх пір) тиші, змінити
      картинку одного пиздця на іншу, і побути в якомусь іншому місці. Завдяки
      думці, що я «ще щось можу» я залишаюся тут.
    </Paragraph>
    <Paragraph
      >Я намагалася забрати сюди батьків, але вони досі відмовляються,
      незважаючи на те, що ситуація там посилюється: день легший, через два —
      гірший, ніж було. Тим не менш, вони не готові залишити Одесу, їм зрозуміло
      тільки там. Я все одно сподіваюся, що зможу пояснити їм, що «ви не
      зраджуєте жодне місто» і що «ми обов'язково повернемося», і вони
      погодяться виїхати хоча б на якийсь час. Тому мене, мабуть, тут ще щось
      тримає.
    </Paragraph>
    <Paragraph
      >Коли почалася війна в Україні, у мене була думка: «я не там, але можу
      допомагати, як можу», а коли почалася війна в Ізраїлі, я зрозуміла, що
      тепер точно не стрибатиму. Я шукатиму, чим можу допомагати Ізраїлю в цей
      період між двома вогнями, і виявилося, що такі люди, як я, стали корисними
      для українців, які переїхали до Ізраїлю, з однієї війни в іншу, бо
      прислухалися вони лише до нас, до таких, як я, наприклад.
    </Paragraph>
    <Quote>Опинившись в Одесі, насамперед я, мабуть, піду до моря. </Quote>
    <Paragraph
      >У мене якась із морем проблемка в Ізраїлі. У дитинстві я, звичайно,
      сиділа у воді до криків мами: «Виходь! У тебе вже губи сині!
    </Paragraph>
    <Paragraph
      >Я розмовляю з морем (я, мабуть, божевільна). Знаєш, коли в тебе є
      подружка, якій ти все-все розповідаєш, а є подружка, з якою ти нуу не до
      кінця ділишся — начебто, суть розповідаєш, але без подробиць. І ось
      Середземне море – це, для мене, мабуть, друга подружка, а Чорне – це
      перша. Воно, начебто, ближче; воно для мене взагалі інше. Там якось
      дихається мені інакше (і це не про погоду).
    </Paragraph>
  </article>
</Main>
