@font-face {
  font-family: 'TildaSans';
  src: url('/fonts/TildaSans-VF.woff2') format('woff2'),
       url('/fonts/TildaSans-VF.woff') format('woff');
  font-display: swap;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  font-synthesis: none !important;
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}

/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

* {
  font-family: 'TildaSans', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container {
    padding-inline-start: 16px;
    padding-inline-end: 16px;
  }
}

@keyframes fade-ltr {
  0% {
    opacity: 0;
    transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-rtl {
  0% {
    opacity: 0;
    transform: translateX(-2rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes stretch {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}


@media (prefers-reduced-motion: no-preference) {
  html[dir="ltr"] .slide-in.in-view {
    animation: fade-ltr 0.3s 0.2s both;
  }  
  
  html[dir="rtl"] .slide-in.in-view {
    animation: fade-rtl 0.3s 0.2s both;
  }

  .stretch.in-view {
    animation: stretch 0.4s 0.2s both;
  }
}
