---
import Article from "../layouts/article.astro";

import Title from "../components/Title.astro";
import Subtitle from "../components/Subtitle.astro";
import Paragraph from "../components/Paragraph.astro";
import Quote from "../components/Quote.astro";
import Separator from "../components/Separator.astro";
---

<Article>
  <article>
    <Title>Kharkiv</Title>
    <Paragraph
      >Kharkiv, my city, feels like a tapestry of memories—of childhood dances,
      my days at the Jewish school, my years at university. Each street and
      neighbourhood has a story; a piece of my heart that still beats to the
      rhythm of that vibrant city.
    </Paragraph>
    <Paragraph
      >I was born and spent my childhood in the Dzerzhinsky neighbourhood, which
      is now called the Shevchenkovsky neighbourhood. My apartment building had
      a yard with a shabby jungle playground in the shape of a rocket, very
      Soviet-style.
    </Paragraph>
    <Paragraph
      >This is the type of yard where carpets get cleaned outside – for some
      reason, I always associated this moment with my dad and the wintertime. It
      seems like my main memories are all surrounding the yard: My growing up,
      and all the valuable conversations or first dates that happened in this
      yard, next to the red and green rocket that is falling apart. They
      renovated this playground some time ago, and installed some new slides,
      but that rocket… It's a strange one, as well as memory in general, you
      know.
    </Paragraph>
    <Paragraph
      >Just in front of my house, there was an Institute of Low Temperature
      Physics and Engineering – I never got the name, until now.
    </Paragraph>
    <Quote
      >And if you tell someone the neighbourhood’s name, no one knows it, but if
      you mention “Low Temperatures Institute” - everyone immediately gets it.</Quote
    >

    <Separator />

    <Subtitle>The Market Next Door </Subtitle>
    <Paragraph
      >It was a family tradition to go to the market on lazy Sunday mornings. We
      would buy veggies, cottage cheese, and sour cream from the grannies. We
      drank kvass from a big yellow barrel labelled ‘Kvass.’ Everything made
      perfect sense.
    </Paragraph>
    <Paragraph
      >My dad always made a shopping list before going so as not to forget
      anything. He had a short pencil, to fit into the pocket and list out
      bought stuff.
    </Paragraph>
    <Quote
      >Dad used to say: “Wherever you go shopping – make a list, otherwise you
      will definitely forget something.” And as trivial as it seems, he was
      right. I always think I can do shopping without a list, and then already
      home understand “Whoops! I forgot the tomatoes!”</Quote
    >

    <Separator />

    <Subtitle>First Childhood Memory </Subtitle>
    <Quote
      >My first childhood memory is connected to a forest. Me and my brother and
      our parents lay down in the pile of leaves, and my brother caught a mite
      and I didn’t.</Quote
    >
    <Paragraph
      >I remember I had a winter cap like the one from astronauts, it was pulled
      over my head and it scratched my face. It was a knitted one, very warm,
      and it squeezed my cheeks so much. There is a photo where me and my
      brother stand in our furs, and I wear this astronaut cap.
    </Paragraph>
    <Paragraph
      >I have lots of memories of Kyiv! My dad was born in Kharkiv, my mom in
      Nezhin. Mom’s family lived in Boyarka, near Kyiv, so my brother and I
      spent every summer of ours there. We always visited the flower market in
      Kyiv with our aunt, uncle, and grannies. I wandered around, looking at
      peculiar plants. Actually, maybe they weren’t that peculiar, there were
      just loads of them.</Paragraph
    >

    <Separator />

    <Subtitle>Kindergarten and School</Subtitle>
    <Paragraph
      >My kindergarten was right around the corner from my apartment, and the
      yard was filled with screams while I was going there. I hated that place,
      I don’t even know why.
    </Paragraph>
    <Paragraph
      >Primary school was close to home as well, but my high school was far
      away.
    </Paragraph>
    <Paragraph
      >The school bus was part of the usual, daily routine. But if you are late,
      the adventure would begin. You have to come up with some route to get
      there, take a trolleybus or something.
    </Paragraph>
    <Paragraph
      >My brother and I went to a Jewish school. I just tailed after him so I
      wouldn’t get lost. And when he started high school, it took me a long time
      to get used to the fact that I had to leave the bus and he would be going
      further. He had to shake me so I wouldn’t miss my stop.
    </Paragraph>

    <Separator />

    <Subtitle>Camera</Subtitle>
    <Paragraph
      >We didn’t have a camera at home. I hadn’t seen many pictures of myself
      until I was older, I think. But at the same time, memories in my head are
      connected to photos – I look at the photo and I remember a day. Like I
      look at this astronaut cap and remember the forest. I see how me and my
      mom stand on a bridge over the Dnipro, and I remember the flower market.
    </Paragraph>
    <Paragraph
      >Once, in “The Komsomol Truth” magazine, there were some riddles to solve,
      some kind of crosswords. For one of the riddles, you were supposed to call
      the editorial office of the magazine and give the answers. My family was
      skeptical about this stuff, but I asked grandfather for some hints, some I
      just guessed and asked him: “Let’s call?” And so, I called and they gave
      me a camera as a present. This was the first camera we had at home. I
      recall it was blue, with film in it, not the “Zenith” kind, “Fed” or
      “Kyiv” models, but a more modern one. I took some pictures with it, and we
      still have those marked-up tapes at home.
    </Paragraph>
    <Paragraph
      >One other time we walked through the Shevchenko park, and there was a
      street lottery – Scratchcards. If you got three palm trees in a row, you
      received an all-inclusive tour. And I scratched off three cameras in a
      row, so I received a disposable camera, with 24 photos.
    </Paragraph>
    <Paragraph
      >When my mom gave birth to my brother, there was another woman in the
      hospital with a camera, so they took a picture of my brother. When I was
      born, there were no cameras, so I guess I was less lucky. Apparently, I
      had good karma that we even attained two of them later!
    </Paragraph>

    <Separator />

    <Subtitle>Dance</Subtitle>
    <Paragraph
      >Me going to dance classes alone was a tough topic in my family, but no
      one did anything about it. For eight years my grandma nagged my dad: “Why
      is your kid wandering alone through the city?” It seems like it was
      impossible to solve this issue.
    </Paragraph>
    <Paragraph
      >I did my classes at the Horse Market neighborhood. Back then, this place
      was called the Academy of Contemporary Dance. Though there were rap
      classes, there was not even a hip hop dance yet.
    </Paragraph>
    <Paragraph
      >There’s now a metro station near our home, but back then, we had to take
      the trolleybus. To go to class, I had to ride one stop and then change the
      line.
    </Paragraph>
    <Quote
      >I had a memorized route: There is a shop here – I have to turn right now.</Quote
    >
    <Paragraph
      >It’s funny that they always thought about me as a dependent child. Like
      I'm a very homely child, in contrast to my brother – He was thought of as
      a very grown-up, separate, and overall dependable guy. But if you think of
      it, it was myself among the two of us who said “Here I am all packed,
      bye-bye family,” at the age of 21.
    </Paragraph>

    <Separator />

    <Subtitle>What Are the Smells There?</Subtitle>
    <Quote
      >It’s the smell of shoemaker’s oil… or maybe it was the polish they used
      for boots.</Quote
    >
    <Paragraph
      >My grandpa had been a shoemaker for more than 40 years. And recently –
      don’t laugh – I went to shoe repair for the first time, and it was here,
      in Israel. Because in Kharkiv I never had to. How does it work for others?
      If you tore your shoes, you tossed them. Back in Kharkiv, if I would tear
      my boots, Grandpa would take them and give them back to me as good as new.
    </Paragraph>
    <Paragraph
      >My grandpa is not alive anymore, but I know that you can go and repair
      your shoes. In Israel I never did that and no one I know as well.
    </Paragraph>
    <Paragraph
      >I found a shoe repair shop, came in with my pair of shoes, and there was
      the same smell as at my grandpa’s shop. And that reminded me of Kharkiv so
      much! The man there was Russian-speaking, and we talked for some time.
    </Paragraph>
    <Paragraph
      >Also, my mom used to bake a pie, she called it “Grated pie.” It’s covered
      with dough crumbs and berries or jam. I never tasted or smelled such a pie
      anywhere except in Kharkiv.
    </Paragraph>

    <Separator />

    <Subtitle>City Sounds </Subtitle>
    <Paragraph
      >On the streets you could always hear mispronunciations like “I g<b>a</b>t
      you”, and then, when you are living in another country, you understand
      that everyone says instead “I g<b>o</b>t you.” You just have this moment
      where you understand that it was a local accent this whole time. A cool
      one, you can always tell where you are, you could never mix it up.
    </Paragraph>
    <Paragraph
      >The ultimate sound of Kharkiv Is a tram moving along the old paving
      stones, on which horses used to gallop.
    </Paragraph>
    <Paragraph
      >The sentence “Nastupna zupinka” (Next station, in Ukrainian) in the
      subway; “Stantsia sportivna: Perekhid na tuda-suda: (Sportivna Station:
      Change to “here and there”).
    </Paragraph>
    <Paragraph
      >At 8 in the morning, when farmers brought water tanks or fresh milk, they
      would shout to let people know they were there, but I never understood
      what they were saying. For my parents it was a signal that it was time to
      grab some water or to buy sour cream. Like here, in Israel, sellers are
      screaming on Fridays “Prakhim le-Shabbat!” (In Hebrew, Flowers for
      Shabbat)
    </Paragraph>

    <Separator />

    <Subtitle>What Place In The City Do You Have A Strong Memory Of?</Subtitle>
    <Paragraph
      >These are my beloved places. I even found a postcard: This house, a small
      one, brownish-green, on Poltavsky Shlyakh Street 1, at Lopanska
      embankment, on the Lopan River. I like it visually for its colours.
    </Paragraph>
    <Paragraph
      >Pushkinskaya, Architektor Beketov streets – these are in my favourite
      neighbourhoods.
    </Paragraph>
    <Paragraph
      >I spent most of my time in the area where the dance studio was located.
      We finished classes and hung out around McDonald’s. There is also a
      “Lovers Fountain” (I don’t know why it was called as such) with such a
      strange sculpture where two very, very thin people are reaching out to
      each other. It didn't look romantic, to be honest. It looked more looked
      like a very hungry couple, who is (perhaps) in love. But they can barely
      reach each other! And they are very fragile. It could end badly.
    </Paragraph>
    <Paragraph
      >There was a canteen as well, where students would hanging out. It got
      rebranded eventually, but back then it was a pizza place in a basement.
      Not even a pizza, more like a pie – very student-type, it cost nothing and
      provided you for a week of nourishment.
    </Paragraph>
    <Paragraph
      >If you go further, there is graffiti by Hamlet Zinkovsky and Oleg
      Mitasov.
    </Paragraph>
    <Quote>Kharkiv is a city that speaks to you in graffiti quotations.</Quote>
    <Paragraph
      >Then “Theater 19,” where Babkin (Sergey Babkin, singer, compose, and
      actor) performed for some time, we used to go there a lot.
    </Paragraph>
    <Paragraph>This is actually the same area. </Paragraph>
    <Paragraph
      >But if you head in another direction – you’ll end up at the Synagogue.
    </Paragraph>
    <Paragraph>I mean, pretty much everything you need is nearby. </Paragraph>
    <Paragraph
      >If I need to narrow down to a specific place, I remember the old circus
      very well. Round, old, solid building. If you get lost, you’ll always find
      a circus building – it is a nice navigation point. We used to gather there
      with our class to listen to the chanting of the Megilat Esther.
    </Paragraph>
    <Paragraph
      >Shevchenko Park is a place that generates many odd puns. This is a
      promenade where dressed-up girls walk, and guys try to pick them up. It’s
      an urban romance point.
    </Paragraph>
    <Paragraph
      >Then KHATOB (Opera and Ballet Theater), with skaters around, and The
      Mirror Stream – a fountain, maybe, the most touristy spot to take
      pictures.
    </Paragraph>
    <Paragraph
      >I believe in every city there is a meeting point, like a monument or
      tower clock. In Kharki, there is a thermometer. It’s like my Low
      Temperatures Institute, also a sort of mystery. It’s just a huge
      thermometer showing the actual temperature of the city, attached to an old
      house for some reason.
    </Paragraph>
    <Quote
      >This thermometer accumulates life energy in the city. If it were to be
      removed, that would be bad, everyone got used to it already.</Quote
    >
    <Paragraph
      >When the Dizengoff Fountain was removed it was a tragedy for people. Back
      then, I was working next to it and saw old people crying watching through
      the scaffolding, because they took their fountain where they met as they
      were young.
    </Paragraph>
    <Paragraph
      >In Kharkiv, there is always a thermometer at the window, so you would
      wake up in the morning and see the temperature outside, to be mentally
      ready. My dad is still saying “How do you not have a thermometer?” But
      there is no such thing in Israel.
    </Paragraph>

    <Separator />

    <Subtitle>Degree of Destruction </Subtitle>
    <Paragraph
      >Saltivka neighborhood. My brother says it does not exist anymore.
    </Paragraph>
    <Paragraph
      >The Barabashovo market is a special memory for children who grew up in
      Kharkiv. The stands are made out of cardboard and bring up the memory of
      being instructed that nobody’s looking at you” when you try on clothes.
      All the clothes were bought there, everything could be found there. From
      what I understood, missiles fell into this market. Some survived, and some
      were completely destroyed, even though it was very large in size.
    </Paragraph>
    <Paragraph
      >The last time I was in Kharkiv was in September 2021. It’s difficult for
      me to tell what’s happening there in the different neighborhoods. There
      were few hits in the area where I lived.
    </Paragraph>
    <Paragraph
      >The brownish-green house I mentioned before is still standing, but
      there’s some issue involving the mayor’s office — they’re either planning
      to remodel it or demolish it. I just saw a petition to leave it be. Next
      to this house, there is a building of architectural heritage; Missles hit
      it.
    </Paragraph>
    <Paragraph
      >A bunch of monuments are gone - at the request of the Kharkiv residents.
      The same Lenin statue, near which people would meet. They simply used to
      say, automatically: “There is Freedom Square, Lenin is standing there -
      we’ll meet at this place.” The monument was gone much earlier than the
      full-scale war, but the tendency that the city is changing according to
      ideology, because one no longer accepts a lot of things around, is for the
      better, in my opinion.
    </Paragraph>
    <Quote
      >No matter if you were gone for a year, two, or three, you may come and
      not see some usual things that you may not have noticed that much, but you
      notice that they are no longer there. At the same time, you understand why
      they disappeared, and this does not cause any contradictions for you.
    </Quote>
    <Quote
      >The city is covered in patches. You understand how society goes through
      other stages, and the city goes along with it, forming a new ideology,and
      fighting for its freedom and independence. This is how Kharkiv, a heroic
      place, is formed.</Quote
    >
    <Paragraph
      >Sometimes a city, like people, also gets rid of everything that it no
      longer needs, and it is better that this always happens by the choice of
      the city, not by the destruction from the outside and the tragedies that
      are happening now.
    </Paragraph>
    <Paragraph
      >It is important to consider how the city will recover. Kharkiv had a
      problem with representation: Billboards greatly spoiled the appearance and
      style of the city, and often obscured architectural assets. I looked at
      some construction plans in the city,and you can see “before” and “after”
      there clearly. Six months ago it was this way, but now it’s a new house. A
      lot is still in the process of rebuilding.</Paragraph
    >
    <Quote
      >They are trying to revive, change, and update some things, even during
      the war. You think: “They’ll update it when it’s all over.” But, to be
      honest, I never thought that all this is happening
      simultaneously.Somewhere there is destruction, somewhere there is
      restoration, like ping pong.</Quote
    >
    <Paragraph
      >My parents are now in Lviv, for more than six months. My brother remains
      in Kharkiv. He is in the Kharkiv Tractor Factory area. There is no one at
      home right now. I tried to follow the news somehow, but to my impression,
      there were fewer hits in the area of ​​our house. The Low Temperatures
      Institute, I think, is also doing well, I haven’t seen anything on the
      news about it.</Paragraph
    >

    <Separator />

    <Subtitle>Return</Subtitle>
    <Paragraph
      >Before the war, I was asking my friends, searching for vacancies in the
      cultural sphere, and in galleries, and I really thought about living in
      Kyiv, but then the war came. I can’t say that I had a serious intention to
      return to Kharkiv, but I don’t rule it out, of course. It turns out that I
      haven’t lived in Ukraine for more than 10 years.
    </Paragraph>
    <Quote
      >Do I want to go home? I really do. It seems to me that if one returns
      there, one will no longer be the same person, and I don’t know if I’m even
      ready for the shock that I will see with my own eyes.</Quote
    >
    <Paragraph
      >My parents, and grandparents, were never where I chose to live, so
      Kharkiv is about home. I came there from both Israel and St. Petersburg.
      And this is such a “welcome home,” your family is waiting for you in
      Kharkiv. Returning home is all about Kharkiv.
    </Paragraph>
    <Paragraph
      >War on screen is scary, it's shocking, but I can't imagine what it's like
      to see it in real life. I have the wish to be there and help. Is there
      fear? Yes, of course. Perhaps this needs to be seen in order for dilemmas,
      contradictions, and thoughts about different processes to be resolved.</Paragraph
    >
    <Quote
      >The phrase “We faced with war” is an empty phrase; We, sitting in Israel,
      did not face the war in Ukraine. The people who are there have clashed,
      but what we see on the screens is not a clash with war.</Quote
    >

    <Separator />

    <Subtitle>The First Place You Go When You Arrive In Kharkiv</Subtitle>
    <Paragraph
      >I would go to the Low Temperatures Institute, I have never been inside of
      there. Just to see: What is this and why does everyone around me talk
      about it all my life, but I don’t even know what’s going on inside?
    </Paragraph>
    <Paragraph
      >Although, maybe it’s worth asking my parents, maybe we did go there
      together once.
    </Paragraph>
    <Paragraph
      >I also want to go to the buffet to eat pizza pie. Come to where Lopan
      River is, to the circus.
    </Paragraph>
    <Quote
      >Probably, I would visit all the places I mentioned. I can’t think of any
      new ones.</Quote
    >
  </article>
</Article>
