---
import Article from "../layouts/article.astro";

import Title from "../components/Title.astro";
import Subtitle from "../components/Subtitle.astro";
import Paragraph from "../components/Paragraph.astro";
import Quote from "../components/Quote.astro";
import Separator from "../components/Separator.astro";
---

<Article>
  <article>
    <Title>Kyiv</Title>
    <Subtitle>Childhood</Subtitle>
    <Paragraph
      >I was born in Kyiv and immigrated to Israel in 2018. The last time I was
      in Kyiv was three years ago when I visited my parents. I had been trying
      to get permission to visit from the army for a long time, trying to prove
      that I would not stay in Ukraine and would not serve there; That in
      Ukraine there is no mandatory military service, like in Israel, and that
      girls are not obliged to serve.
    </Paragraph>
    <Paragraph
      >I remember a lot from my childhood, but I never thought about what my
      first memory was. Probably because my mom and dad really wanted to
      preserve my childhood on cassettes, they filmed a lot, and I constantly
      watched them over and over. And, apparently, some part of my memory
      believes that those videos are my memories.
    </Paragraph>
    <Paragraph
      >My memories are mostly connected with the dacha (summer house). These
      were our family trips, when Dad returned from business trips, and Mom
      cooked a lot. Our dacha was near Obukhov, by car it’s about an hour from
      Kyiv, and then another 20-30 minutes to go. There was a lake. It was great
      there. I think because Dad tried hard. He talked to plants, to the trees,
      he had his own vineyards, he made wine, and we always had berries and
      fruits.
    </Paragraph>
    <Quote
      >There are more vivid memories from the dacha because at home I didn’t
      want to remember things, you know? Mom brings me up, Dad is not there, but
      at the dacha there was freedom.</Quote
    >
    <Paragraph
      >The home of my childhood is the same building where my mother grew up,
      just different apartments. My grandfather also lives there now. I spent a
      lot of time at home, I didn’t play with my peers on the playground a lot,
      as it usually happens. I went to a private Jewish school, and it was far
      from home. So my friends were always far away. I spent a lot of time at my
      grandmother's work, she was the head nurse at the Kyiv blood transfusion
      station. And also near the "heart" [The Heart Institute], Dorogozhichi. I
      felt great there, everyone loved me, I was the donation station's child!
      That's probably why I'm not afraid of blood.
    </Paragraph>
    <Paragraph
      >I only went to the senior group of a Jewish kindergarten and, of course,
      we played a game with money called Sevivon [A spinning top game for the
      Hanukkah holiday]. Well, of course, there were Pokemon – these round chips
      that you had to throw. We sold them to each other and exchanged them. At
      some point, all the girls from wealthy families got not just Barbies, but
      Bratz dolls with giant heads, and I remember my mother telling me: “When
      I’ll be able to, I’ll buy you one.” I wasn’t the kind of child who fell to
      the floor in a store and screamed “I want one!” No, I waited patiently,
      and later my mother bought me this doll.
    </Paragraph>

    <Separator />

    <Subtitle>Family</Subtitle>
    <Paragraph
      >When my mother was a child, she often went to Borodyanka. Her grandmother
      and great-grandmother lived there. My mother spent her entire childhood
      there. You know, with fresh air and nature. But basically, they all lived
      in the Shevchenkivskyi district, near Babi Yar and the TV tower, and my
      father too. When people ask me "Where did you live?", I say "In the
      Shevchenkivskyi district", and everyone is like "Oh, is that where
      Khreshchatyk is?" "No, no, a little further..." It's one district, it's
      just very big.
    </Paragraph>
    <Paragraph
      >My father was born in Kyiv, but he didn't have a very good relationship
      with his parents, so he was mostly raised by his grandparents in Crimea.
      Then he went into the army and finally moved to Kyiv.
    </Paragraph>
    <Paragraph
      >At first, my mother worked as a primary school teacher and a librarian,
      and then she became only a librarian. This can be easily understood by the
      kind of house we have in Kyiv - gigantic shelves, books everywhere, the
      smell of books everywhere.
    </Paragraph><Quote
      >When “Ukrainization” began, in 2014, and they began to throw out, and
      even burn (And not hand over, for example, for waste paper) Russian
      literature, Russian classics, my mother dragged it all into our house, she
      felt sorry for it, she could not watch how books were destroyed.
    </Quote>
    <Paragraph
      >My father once worked at "Ukraeroruh,” a company that dealt with
      airplanes and aviation equipment all over Ukraine. Sometimes he went on
      business trips, sometimes even abroad. For some time he was a driver and
      assistant to one deputy, and then he got sick of all the politics, and he
      quit.
    </Paragraph>
    <Paragraph
      >No matter how many times my brother and I listen to the story of how our
      parents met, it becomes clear that they had a lot of opportunities to
      meet: They were in the same places at the same time, but they didn’t meet.
      They had a lot of mutual friends. He studied at the naval academy, and she
      at the teacher training college. And, you know, they used to have parties
      in the Soviet era - I would have loved to go to them! Watching them dress
      up, and go dancing, it reminds me of the movie “Hipsters” (a Russian
      musical film about Soviet time from 2008).
    </Paragraph>
    <Paragraph
      >Mom and Dad had been married before, not very successfully. In Mom's
      first marriage, she lost a child. And at that moment, when she was in a
      super-long depression, mourning and stressed, unattractive, without
      makeup, with an empty refrigerator for several months, a friend introduced
      them. At one point, Dad came to Mom and filled the refrigerator. The next
      day, he brought her cans of clean water and just stayed to live with her.
      That is, he liked her so much that they did not even have any conversation
      about dating, just "Bang!” They fell in love and began to live together.
      They had their wedding only when I was 6 years old.
    </Paragraph>
    <Paragraph
      >In our family, we had a tradition of going to Babi Yar, specifically to
      the Jewish memorial complex. On Victory Day, we volunteered and helped
      veterans, now they are all probably gone. On Purim, we went to "Dream
      Town" to roller skate and ice skate; We went to the water park and ate
      pizza there, right in the water.
    </Paragraph>
    <Quote>
      My mother had a funny tradition. If my brother or I had a reason to
      celebrate, she would give presents to both of us, but if I did something
      naughty, we would both be scolded. In short, no child was left out.
    </Quote>
    <Paragraph
      >During the winter, we always went to the ballet, my mother always chose
      something new to see, and if my mother couldn’t, I went with my
      grandmother. Safe to say, I was such an intelligent child, who went to the
      theatre and the opera. I sang in the opera, so I had a blast, although I
      like ballet more. When I was little, there were still all these Christmas
      children's parties with presents and tasteless chocolates.
    </Paragraph>
    <Paragraph
      >My grandmother and parents now live in Karmiel, and my grandfather lives
      in Kyiv, and I understand him perfectly. At such an age, to move to a
      country where you need to learn the language again, from scratch, and live
      in a rented apartment… when you have your own in your own country. And a
      lot of your own - the language, the currency, and the goods you are used
      to. You walk down the street and don’t understand conversations, all your
      friends are far away. I don’t think he feels safe, but he is also ashamed
      and offended because all his life he believed that “Putin is a good guy,”
      and then “Bang!” And here it is.</Paragraph
    >
    <Paragraph
      >We have a lot of relatives in Israel and my grandmother would come here
      every year to visit her son, my mother's brother. I remember how she would
      bring us avocado, hummus, and chocolate that looked like tree bark! It was
      very tasty.
    </Paragraph>

    <Separator />

    <Subtitle>Smells, Sounds, Voices </Subtitle>
    <Paragraph
      >Kyiv is a very beautiful, green city, associated for me with the
      university and a happy childhood. A cool city with fashionable people. For
      me, Kyiv is some kind of separate part of Ukraine.
    </Paragraph>
    <Paragraph
      >In Kyiv, I loved going on all sorts of excursions, and archeological
      ruins. When I came last time, my mother gave me a tour of Kyiv's brothels
      as a present. This is from the 1800s when brothels were disguised as
      something (For example, you go into a dentist's office, and there is a
      brothel behind the dentist's door).
    </Paragraph>
    <Quote>Kyiv is the sound of bells, trolleybuses, and trams. </Quote>
    <Paragraph
      >We lived in a place where there was a lot of nature. The Dubki forest,
      the Dorogozhichi Park, so this is the twittering of birds, of course.
      Probably also the sound of the metro, when you are already in the train or
      waiting for the train.
    </Paragraph>
    <Paragraph
      >The smell of lilacs, lilies of the valley, the smell of pies near the
      opera house. If you stand facing the opera house, turn left and walk a
      bit, there is a super small but famous pie shop. It smelled of this fat
      fry dough. Because my dad is from Crimea, we went there every year. There,
      in Crimea, the smell of chebureki (meat fry pies) and the sea drove me
      crazy. Odessa also has the smell of the sea and chocolate, but Kyiv is
      more about the smell of flowers, the smell of rain, and, probably, the
      smell of my mother’s food that she cooked.
    </Paragraph>
    <Paragraph
      >Mom cooked whatever you asked. My favorite was chicken with mushrooms.
    </Paragraph>
    <Paragraph
      >You know, how in the Carpathians they cook corn porridge with mushroom
      sauce?
    </Paragraph>
    <Paragraph>My mother always made it with buckwheat. </Paragraph>
    <Paragraph
      >We didn't have anything that was only cooked for the holidays, if we
      wanted something, we asked for it. Poppy seed pies. Grandma cooked all the
      Ashkenazi cuisine. The most delicious was babka - a kind of casserole with
      matzemel (matzo flour), salty.
    </Paragraph>
    <Paragraph
      >We went to a pizzeria, I think it was called "Mister Cat," it was on
      Shulyavka. Of course, at "Puzata Khata" restaurant, we ate vareniki
      (dumplings with sweet filling) there. We loved to discover something new,
      for example, when a place with Kyiv cutlets opened on Podil, and then a
      donuts place. Back then, you know, there was no such rush for donuts in
      Kyiv, and my mother always tried to treat us to something like that. But
      more often than not, my mother cooked herself. Usually, when people
      celebrate, they go out to a restaurant, but we were the opposite. We
      celebrated most holidays at home, and if we wanted to go out somewhere, we
      just went.
    </Paragraph>
    <Quote
      >We spoke Russian at home, and then you travel somewhere, cities like
      Kharkov or Odessa, you start to speak, and they say to you "We speak
      differently.”
    </Quote>
    <Paragraph
      >In Kyiv, we use a more elegant, Russian word for entryways, which is kind
      of like “an entry for nobility.” Many say that the Kievan vocabulary is
      similar to that of St. Petersburg. I don't know, would I like to be lik a
      Petersburger now? But, people Kiev mispronounce the word “Theirs,” unlike
      proper Russian speakers. Kiev used to have a greater Russian-speaking
      population. When I entered the university, I started speaking Ukrainian,
      and my best friends were from cities like Lviv and Rivne. They also have
      their own slang and dialects.
    </Paragraph>

    <Separator />

    <Subtitle>Time and Places </Subtitle>
    <Paragraph
      >The meeting point in Kyiv is Mariinsky Park, in Lipki. A very beautiful
      area. It seems that all my girlfriends went on dates there. Architect
      Gorodetsky Street, if it is not closed because the President's residence
      is there. It sounds banal, but many arrange dates on Khreshchatyk. Many
      dates happen on Podil and on the embankment. I also went on dates on Podil
      and they ended in "Puzata Khata” restaurant. These were the best dates,
      where they fed me! And, you know, not some fashionable restaurants, but
      "Puzata Khata" - ours, our own!
    </Paragraph>
    <Quote
      >I remember the legend about the doctor's house, also somewhere in Lipki,
      that Jews lived there, and that their roof moved apart on the holiday of
      Sukkot. Of course, the legend of the House with Chimeras, that at night
      these gargoyles wake up and walk around Kyiv. Basically, the legends were
      probably not in Kyiv, but in the villages where there were mavkas (female
      forest spirit), mermaids, and various evil spirits.
    </Quote>
    <Paragraph
      >All the places that were important to me were in different districts. I
      lived in Shevchenkivske, went to school in Goloseevske, and went to the
      choir in Solomenske. The choir was a big part of my life, I sang in it for
      eleven years, we toured all over Europe, and I adored the girls I sang
      with. I did not live in the Solomenske district (where my choir was), I
      was accepted only because my Jewish school was nearby. One day the choir
      conductor came to the school and chose me, among others. I always envied
      the girls who lived five minutes from the choir, while it took me an hour
      to get there. In the winter, in the cold, on Saturdays. I remember when I
      was thirteen and my grandmother and I were going to the choir, I was
      indignant, "Grandma! I'm already a grown-up!" They started letting me go
      alone only when I was fourteen, quite late. I love Kyiv, but it has never
      been the safest city for girls.
    </Paragraph>
    <Paragraph
      >I studied at KNEU [Kyiv National University of Economics] to be a human
      resources manager. There was a dormitory at the university, where my
      friends and I sometimes did our homework,and worked on some projects. One
      day the police came, there were a lot of people, and then it turned out
      that one girl from a village was hiding the fact that she was pregnant,
      and her parents, of course, did not know anything. She gave birth to a
      child in the dormitory and threw it from the fourth floor into a trash
      bin. She gave birth and threw the baby away! And since then, the dormitory
      has become the scariest place for me. And psychologically, it was
      completely incomprehensible to me. I did not know: to hate this person or
      to pity her.
    </Paragraph>
    <Paragraph
      >If I had to choose a symbol of Kyiv, I would choose the arch (Since May
      14, 2022, it’s been called the Arch of Freedom of the Ukrainian People).
      There were always a lot of young people there, some parties, and concerts,
      it is a rather bright symbol for me.
    </Paragraph>
    <Quote
      >Most of all I miss my friends. It's strange to say, but I miss the food.
      The choices and the quality there! Here I rarely go into a shop and am
      amazed, but there you go into some "Silpo" (a supermarket chain) and you
      want everything! I miss the snow a lot, exactly when you go outside and
      your tears, eyes, and snot freeze into icicles. And this air that you
      breathe in and you just feel the cold.
    </Quote>
    <Paragraph
      >I miss the architecture. I am one of those people who think Israel is
      beautiful. They show the local architecture, but has all been mostly
      brought from far away places. There are various colonies, for example,
      Sarona. It is all imported, while in Kyiv all this has been built,
      preserved, survived wars since time immemorial, and all this architecture
      from Lipki, Khreshchatyk, from the center… You arrive, and your heart just
      stops! Every entrance, every roof, even stucco! Old high ceilings with
      beautiful chandeliers. All this heritage, which in Ukraine, unfortunately,
      is not restored as extensively as in Israel. There is probably less of it
      here, so it is valued more.
    </Paragraph>

    <Separator />

    <Subtitle>Kyiv and Me: Tomorrow and Now </Subtitle>
    <Paragraph
      >I brought my grandmother here as soon as I moved. I was looking for an
      apartment for her in Karmiel, she adores it there. At the time of the
      move, my grandmother knew more about Israel than I did. The only dream I
      had was to serve in the Israeli army with German Shepherds. Well, all
      these Taglit and Hilel programs, and Jewish schools, they all influenced
      me from childhood with the idea of "Yes, I will be in Israel at some point
      in my life.” But to say that I really knew so much about the country
      before coming here? As a child, I had a feeling that this is such a small
      country, a place where, like in the Natasha Koroleva song, it is always
      warm and everything is clear. That there are wonderful roads, that
      everything is so perfect here, and then… bummer.
    </Paragraph>
    <Paragraph
      >Dad needed an operation and a month before the start of the “full-scale”
      war in Ukraine, he and Mom came to Israel. They did not plan to live here,
      they planned to come for a couple of months during the year and then
      return. They still want to live in Ukraine more than here, but I feel that
      Israel is my place. At the beginning of the war, I was worried, “Well, the
      war has started, and what am I doing here?” I felt I should be there, and
      anyway, I knew how to use a machine gun, I fight well, and I should go to
      the army and fight. All my friends were leaving Kyiv, Ukraine, but I, on
      the contrary, wanted to return.</Paragraph
    >
    <Quote>
      I wouldn’t say that my patriotism is pouring out of me, I just think that
      when your house is being bombed, you see everything that is happening but
      you are not there. You feel hatred, and fear, and shame. You can’t think
      clearly – you just want to rush head-on, like a high-speed train, into the
      war zones to help.
    </Quote>
    <Paragraph
      >I contributed to the war effort by donating money for projects related to
      medical equipment, and medicines. There is a place for everyone. There are
      those who serve and protect, and there are those who go to work every day
      and donate money.
    </Paragraph>
    <Paragraph
      >As it turned out, both here and there, I don’t mean to offend, the state
      does not offer much help. When the war began in Israel, how many
      volunteers brought food and clothes? And I thought for a second: Where is
      the government? Why should people be doing this? Why should people collect
      their pennies to buy one drone? At the same time, the state can allocate a
      gigantic sum from the state budget for a television show.
    </Paragraph>
    <Paragraph
      >And before the full-scale war, I considered myself Jewish and from Kyiv.
      I did not often call myself Israeli.</Paragraph
    >
    <Quote>
      I am very grateful to my friends who did not turn away from me because I
      speak Russian, continue to love me, communicate with me, and respect me.
    </Quote>
    <Paragraph
      >There are many places I want to go when I find myself in Kyiv. Mariinsky
      Park, the Ukrainian fashion brand COOSH’s showroom, the Lesya Ukrainka
      Theatre, and I want to drink matcha with banana milk. I don’t feel afraid,
      but I do have a feeling that after arriving in Kyiv, I will find myself to
      be like a person in Europe who does not speak English. Mom already knows
      how everything works during the war, and I don't even know what card for
      the metro to buy, because I haven't been there for a long time. It seems
      that there is some kind of gap that needs to be filled.
    </Paragraph>
  </article>
</Article>
