---
import Article from "../../layouts/article.astro";

import Title from "../../components/Title.astro";
import Subtitle from "../../components/Subtitle.astro";
import Paragraph from "../../components/Paragraph.astro";
import Quote from "../../components/Quote.astro";
import Separator from "../../components/Separator.astro";
---

<Article>
  <article>
    <Title>Харьков</Title>

    <Paragraph
      >Во дворе нашего дома находился институт низких температур — название,
      которого я никогда не понимала, и до сих пор не знаю, что это.
    </Paragraph>
    <Quote
      >Скажешь название района, и никто не понимает, а скажешь «институт низких
      температур», и все такие «а, да-да».
    </Quote>
    <Paragraph
      >Я родилась и провела детство в Дзержинском районе, теперь он называется
      Шевченковский. Двор, где стоит ракета советского толка с облезлой краской.
      Где выбивают ковры во дворе — это всегда как-то с зимой и папой
      ассоциировалось. Вокруг двора основные воспоминания, как будто, и есть.
      Становишься старше, и какие-то свидания или важные беседы все равно
      проходят в этом дворе, рядом с этой ракетой красно-зелёной, уже
      шатающейся. Эту детскую площадку облагораживали когда-то, новые горки
      ставили, но вот эта ракета.. странная она, хотя и память, конечно, тоже.
    </Paragraph>

    <Separator />

    <Subtitle>Рынок под домом </Subtitle>
    <Paragraph
      >Это целая семейная традиция — пойти в выходной, утром, на рынок, купить у
      бабушек сметаны, творога, овощей каких-нибудь. Квас попить из большой
      желтой бочки с надписью «квас» (что логично).
    </Paragraph>
    <Paragraph
      >Папа всегда составлял список продуктов перед выходом, чтобы ничего не
      забыть. У него был карандашик, вот такой где-то, чтобы в карман положить и
      вычеркивать, что уже куплено.</Paragraph
    >
    <Quote
      >Папа говорит: «Идешь в магазин — напиши список, а то точно что-нибудь
      забудешь» И как бы смешно это ни казалось, так оно и есть: я думаю, что
      справлюсь, а потом прихожу домой и такая: «блин! ну а помидоры?»</Quote
    >

    <Separator />

    <Subtitle>Первое воспоминание</Subtitle>
    <Quote
      >Оно с лесом связано. Мы с родителями и с братом в куче листьев валялись,
      и потом брат принес домой клеща, а я нет, а валялись мы одинаково.</Quote
    >
    <Paragraph
      >Помню, у меня была такая зимняя шапка космонавта, ее надевали через
      голову, и она царапала лицо. Она вязанная, очень теплая, и у тебя щеки вот
      так сдавливает (у меня и сейчас-то большие щеки, а тогда!). Есть
      фотография, где мы с братом стоим в таких шубках, и я в этой шапке
      космонавта.
    </Paragraph>
    <Paragraph
      >Про Киев много воспоминаний. Мой папа родился в Харькове, а мама — в
      Нежине. Семья мамина в Боярке жила, под Киевом, и мы с братом каждое лето
      там проводили. В Киеве мы всегда ходили на цветочную выставку: с тетей, с
      дядей, с бабушками. Гуляешь, смотришь на всякие цветы диковинные. Может,
      они и не диковинные, просто их очень много было.
    </Paragraph>

    <Separator />

    <Subtitle>Детский сад и школа</Subtitle>
    <Paragraph
      >Детский садик был прямо возле дома, и двор наполнялся криками, когда меня
      туда вели. Я ненавидела это место, не знаю, почему.
    </Paragraph>
    <Paragraph
      >Младшая школа была рядом с домом, а старшая уже далеко.
    </Paragraph>
    <Quote
      >Школьный автобус — это такая каждодневная рутина, зато, если опоздал на
      автобус, начинаются приключения: нужно что-то придумывать, как-то доехать
      на троллейбусе.
    </Quote>
    <Paragraph
      >Мы с братом учились в еврейской школе, так я просто за ним хвостиком
      ходила и не терялась. Но когда брат перешел в старшую школу, я долго не
      могла привыкнуть, что он едет дальше, а мне нужно выходить — он меня чуть
      ли не силой выталкивал, потому что я просто могла проехать свою остановку.
    </Paragraph>

    <Separator />

    <Subtitle>Фотоаппарат</Subtitle>
    <Paragraph
      >У нас в семье не было фотоаппарата. Я не видела себя лет до двух,
      наверное. Но в то же время воспоминания в моей голове связаны с
      фотографиями: я смотрю на фотографию и помню день. Вот я смотрю на эту
      шапку космонавта и помню лес. Вижу, как мы с мамой стоим на мосту над
      Днепром, и помню цветочную ярмарку.
    </Paragraph>
    <Paragraph
      >Однажды в газете «Комсомольская правда» нужно было разгадывать какие-то
      кроссворды, позвонить в редакцию и на что-то там ответить. Дома к такому
      скептически относились, и я что-то у дедушки поспрашивала, наугадывала и
      говорю: «Давай позвоним?». Я туда позвонила, а в подарок дали фотоаппарат.
      И вот первый фотоаппарат появился дома. Помню, он еще синего цвета был,
      пленочный, не «Зенит», «Фэд» или «Киев», а такой уже, более современный.
      Потом я что-то фотографировала на него, дома до сих пор эти пленки в
      катушках лежат подписанные.
    </Paragraph>
    <Paragraph
      >А в другой раз мы шли по Парку Шевченко, и там была уличная лотерея:
      стираешь монеткой, и если тебе попадется в ряд три пальмочки, то ты
      получаешь путевку, а у меня было три фотоаппарата, и мне дали фотоаппарат
      одноразовый на 24 кадра.
    </Paragraph>
    <Paragraph
      >Когда мама брата рожала, с ней в палате лежала женщина, у них был
      фотоаппарат, вот они брата моего тоже и сфотографировали. А когда меня
      рожали, не было никакого фотоаппарата, и мне повезло меньше. Потом,
      видимо, карма сработала, что у нас их аж два появилось!
    </Paragraph>

    <Separator />

    <Subtitle>Танцы</Subtitle>
    <Paragraph
      >В семье очень ссорились из-за того, что я езжу на танцы одна, но никто с
      этим ничего не делал. 8 лет бабушка пилила папу «почему у вас ребенок один
      шатается по городу?», но как-то невозможно было решить эту проблему,
      видимо.
    </Paragraph>
    <Paragraph
      >Я тренировалась в районе Конного рынка. Тогда это место называлось
      Академией современного танца, хотя там танцевали рэп (а не хип-хоп еще
      даже).
    </Paragraph>
    <Paragraph
      >Сейчас возле дома есть станция метро, а раньше до него ездили на
      троллейбусе. Чтобы добраться до танцев я проезжала одну станцию, а потом
      еще меняла линию.</Paragraph
    >
    <Quote
      >Я ездила заученным маршрутом, на память: вот этот магазин — тут мне надо
      повернуть направо.</Quote
    >
    <Paragraph
      >Забавно, что обо мне всегда было представление, что я не самостоятельная;
      что я очень домашний ребенок, а вот брат зато — самодостаточный, взрослый
      и вообще молодец. Но, если так подумать, это я из нас двоих в 21 год
      выдала «чемодан, вокзал и всем пока».
    </Paragraph>

    <Separator />

    <Subtitle>Запахи и звуки</Subtitle>
    <Quote
      >Это сапожная... как это? Ну, не масло даже; что-то такое для сапог. Крем
      для обуви? Да, что-то такое.</Quote
    >
    <Paragraph
      >Мой дедушка более 40 лет был сапожником. И я недавно (только не смейся)
      впервые в жизни пошла в ремонт обуви здесь, в Израиле. Потому что в
      Харькове у меня такой задачи вообще не стояло. Как голова работает у
      людей? Если рвется обувь, то ты, скорее всего, ее выбросишь. В Харькове,
      если у меня обувь порвалась, дедушка ее заберет, а потом она, как новая,
      возвращается.
    </Paragraph>
    <Paragraph
      >Дедушки уже нет в живых, но я помню, что обувь можно пойти и сдать в
      ремонт. В Израиле я такого никогда не делала, и никто из моих друзей этого
      тоже не делал.
    </Paragraph>
    <Paragraph
      >Я просто нашла какой-то ремонт обуви, пришла туда со своими ботинками,
      захожу, а там тот же запах, что был у дедушки. И насколько же меня сразу
      откинуло туда, в Харьков. Мужчина там был русскоязычный, мы разговорились
      с ним немного.
    </Paragraph>
    <Quote
      >Еще моя мама пекла пирог — она называла его «тертым»: он покрыт такой
      крошкой теста и какими-то ягодами или вареньем. Я, кроме как в Харькове,
      больше нигде такой пирог не ела. И запах у него такой — домашнего пирога.
    </Quote>
    <Paragraph
      >На улице постоянно слышишь: «да я поняла тебя», а потом, живя в другой
      стране, понимаешь, что все вокруг говорят «поняла». И это не то чтобы
      режет слух или раздражает, но ты понимаешь, что все это время это был
      какой-то специфический местный говор — такой прикольный, что не спутаешь,
      где находишься.
    </Paragraph>
    <Paragraph
      >Звучали, конечно, и слова чисто харьковские: тремпель, судочек, кулёк,
      лоток. Звук Харькова — это трамвай, едущий по старой брусчатке, по которой
      раньше скакали кони, это особенный звук.
    </Paragraph>
    <Paragraph
      >Голоса «Наступна зупинка» в метро; «Станція спортивна: перехід на
      туда-сюда».
    </Paragraph>
    <Paragraph
      >Когда к дому в 8 утра привозили воду в баке или молоко из деревни
      сельские продавцы должны были как-то дать о себе знать, вот они и кричали,
      я никогда не понимала что, но для родителей это был код и сигнал: время
      идти набирать воду, покупать сметанку. Как в Израиле, когда по пятницам
      кричат «прахим ле-шабат» [цветы к Шабату].
    </Paragraph>

    <Separator />

    <Subtitle>Сильное воспоминание</Subtitle>
    <Paragraph
      >Это места, которые я люблю в городе. Вот, даже открытку нашла: этот дом,
      маленький, зелено-коричневый, находится на улице Полтавский шлях, 1 на
      Лопаньской набережной, у реки Лопань. Он нравится мне визуально, цвета
      его.
    </Paragraph>
    <Paragraph
      >Улицы Пушкинская, Архитектора Бекетова — это мои любимые районы.
    </Paragraph>
    <Paragraph
      >Больше всего времени я проводила в районе, где находилась танцевальная
      студия. Мы выходили после танцев и тусовались вокруг Макдональдса. Там еще
      фонтан влюбленных (непонятно, по какой причине) с такой странной
      скульптурой, где два очень-очень худых человечка тянутся друг к другу. Она
      не выглядела романтичной, если честно; она выглядела так, будто очень
      голодная пара (возможно) любит друга друга. Но они еле-еле друг до друга
      дотягиваются! А они ведь очень хрупкие, это может плохо закончиться.
    </Paragraph>
    <Paragraph
      >Еще был буфет, где студенты тусили. У него сейчас ребрендинг, но тогда
      это было кафе в подвале, где продавали пиццу. Это даже не пицца была, а
      пирог, чисто студенческая тема, потому что недорого, и можно наесться на
      неделю.
    </Paragraph>
    <Paragraph
      >Если подняться выше — там граффити Гамлета Зиньковского и Олега Митасова.</Paragraph
    >
    <Quote
      >Харьков — это город, который разговаривает с тобой фразами из граффити.
    </Quote>
    <Paragraph
      >Дальше «Театр 19», где Бабкин какое-то время играл, мы туда часто ходили.
      Это все действительно один район.
    </Paragraph>
    <Paragraph
      >А если пойти в другую сторону — там в синагогу упрешься.
    </Paragraph>
    <Paragraph
      >То есть все, что тебе нужно для жизнедеятельности, оно очень близко. А
      если все-таки прям до места сузить, я очень хорошо помню старый цирк.
      Круглое, старое, масштабное здание. Если один в городе заблукал, то всегда
      увидишь здание цирка — удобно по нему ориентироваться.
    </Paragraph>
    <Paragraph
      >В цирке мы собирались со школой, на праздник Пурим, чтобы слушать Мегилат
      Эстер [свиток Эстер].
    </Paragraph>
    <Paragraph
      >Парк Шевченко — это место про странные каламбуры. Это такой променад, где
      гуляют девушки в красивых нарядах, а парни смотрят на этих девушек и
      пытаются с ними познакомиться. Такая точка притяжения городской романтики.
    </Paragraph>
    <Paragraph
      >Дальше ХАТОБ [театр оперы и балета], а вокруг скейтеры и зеркальная
      струя, фонтанчик такой — наверное, одна из главных достопримечательностей,
      возле которого все фотографируются.
    </Paragraph>
    <Paragraph
      >Мне кажется, в каждом городе есть место, у которого назначают встречи.
      Например, у памятника или под часами. В Харькове это градусник. Это, как
      мой институт низких температур — тоже загадка какая-то: просто огромный
      градусник, показывающий реальную температуру города, прикрепленный к
      (причем, к какому-то старинному) дому.</Paragraph
    >
    <Quote
      >Этот градусник — аккумулятор жизненной энергии в городе, и если снять
      его, то будет плохо, потому что к нему есть привычка.</Quote
    >
    <Paragraph
      >Когда фонтан Дизенгоф в Тель-Авиве демонтировали, для людей это была
      трагедия. Я тогда работала неподалеку и видела, как старики, глядя через
      дырки в строительных лесах, плачут, потому что забирают их фонтан, у
      которого они встречались молодыми.
    </Paragraph>
    <Paragraph
      >В Харькове на окне всегда был градусник, чтобы ты утром встал, посмотрел
      в окно и он тебе показал, какая температура на улице, чтобы ты был готов
      морально. Папа до сих пор говорит: «Что у тебя, градусника, что ли, нет?»,
      а в Израиле ни у кого таких градусников нет.
    </Paragraph>

    <Separator />

    <Subtitle>Степень разрушения</Subtitle>
    <Paragraph>Район Салтовки. Брат говорит, его больше нет. </Paragraph>
    <Paragraph
      >Рынок Барабашово — отдельное воспоминание для детей, выросших в Харькове:
      это и «постой на картонке», и «да кто на тебя смотрит». Там вся одежда
      покупалась, там можно было найти всё. В этот рынок попадали ракеты (из
      того, что я поняла). Часть устояла, часть — полностью уничтожена, хоть он
      и очень большой по размерам.
    </Paragraph>
    <Paragraph
      >В последний раз я была в Харькове в сентябре 2021. Мне сложно судить, что
      там происходит в районах. В район, где я жила, было мало попаданий.
    </Paragraph>
    <Paragraph
      >Домик, про который рассказывала, зелено-коричневый, он на месте, но с ним
      происходит какая-то история, связанная с мэрией — они его хотят то ли
      переделывать, то ли сносить. Я просто видела петицию, чтобы его оставили в
      покое. Рядом с этим домиком — здание архитектурного значения, в него были
      прилеты.
    </Paragraph>
    <Paragraph
      >Не стало кучи памятников — по желанию самих харьковчан. Памятник того же
      Ленина, возле которого люди встречались. Просто говорили автоматически:
      «Вот Площадь Свободы, там стоит Ленин — вот у него встречаемся». Памятника
      не стало намного раньше полномасштабной войны, но тенденция, что город
      меняется идеологически, потому что ты многие вещи вокруг себя не приемлешь
      больше — это к лучшему, в моем понимании. Когда я приезжала, там был
      просто постамент, а нам нем никого нет.
    </Paragraph>
    <Quote
      >Год тебя не было, два или три, ты можешь приехать и не увидеть каких-то
      привычных вещей, которые ты, возможно, не так уж и замечал, зато
      замечаешь, что их больше нет. При этом, ты понимаешь, почему их нет, и у
      тебя это не вызывает противоречий.
    </Quote>
    <Quote
      >Город покрывается латками. Понимаешь, насколько общество проходит другие
      этапы, а вместе с ним проходит и город, формируя новую идеологию, ведя
      борьбу за свою свободу и независимость. Так формируется Харків —
      місто-герой.</Quote
    >
    <Paragraph
      >Иногда город, как люди, тоже избавляется от всего, что ему больше не
      нужно, и лучше, чтобы это всегда происходило по выбору города, а не
      разрушений извне и трагедий, которые происходят сейчас.
    </Paragraph>
    <Paragraph
      >Важно, как город будет восстанавливаться. У Харькова была проблема с
      репрезентацией: рекламные щиты сильно портили облик и стиль города, часто
      закрывали архитектурные достояния. Я смотрела какие-то планы строительства
      в городе, там можно увидеть «до» и «после»: полгода назад было вот так, а
      сейчас это новый дом. Многое и сейчас отстраивается в процессе.
    </Paragraph>
    <Quote
      >Стараются что-то возродить, менять, обновлять, даже в период войны.
      Думаешь: «когда все закончится — будут обновлять», но я, если честно,
      никогда не задумывалась, что это все происходит параллельно: где-то
      разрушения, где-то реставрация; такой пинг-понг.
    </Quote>
    <Paragraph
      >Родители мои сейчас во Львове, больше полугода [на момент интервью
      7/02/2023]. Брат остается в Харькове — он в районе ХТЗ находится. У меня
      дома никого нет сейчас. По новостям стараюсь следить как-то, но по моим
      впечатлениям в район нашего дома меньше было попаданий. Институт низких
      температур, думаю, тоже себя хорошо чувствует, не видела новостей по нему.
    </Paragraph>

    <Separator />

    <Subtitle>Вернуться нельзя остаться</Subtitle>
    <Paragraph
      >До войны я расспрашивала своих друзей, смотрела вакансии в сфере
      культуры, в галереях, и прям думала пожить в Киеве, а потом наступила
      война. Я не могу сказать, что у меня было серьезное желание вернуться в
      Харьков, но я такого не исключаю, конечно. Я в Украине, получается, не
      живу уже больше 10 лет.
    </Paragraph>
    <Quote
      >Хочется ли домой? Очень хочется. Мне кажется, вернувшись туда, ты уже не
      будешь прежним человеком, и я не знаю, готова ли я вообще к тому
      потрясению, которое увижу воочию.
    </Quote>
    <Paragraph
      >Мои родители, бабушки, дедушки никогда не были там, где я выбирала жить,
      поэтому Харьков — это про дом: туда я приезжала и из Израиля, и из
      Санкт-Петербурга. И это такое возвращение домой, семья тебя ждет в
      Харькове. Возвращаться домой — это про Харьков.
    </Paragraph>
    <Paragraph
      >Война на экранах это страшно, это шокирует, но я не представляю, каково
      это — видеть это в реальной жизни? Желание быть там и помогать — оно есть.
      Есть ли страх? Тоже есть, конечно. Возможно, это нужно увидеть, чтобы
      разрешились дилеммы, противоречия и мысли про разные процессы.
    </Paragraph>
    <Quote
      >Фраза «мы столкнулись с войной» — это пустой звук; мы, сидя в Израиле, не
      столкнулись с войной в Украине. Люди, которые там — столкнулись, но то,
      что мы смотрим на экранах — это не столкновение с войной.
    </Quote>

    <Separator />

    <Subtitle>Первое место, куда ты отправишься, по приезде в Харьков</Subtitle>
    <Paragraph
      >Я бы зашла в институт низких температур, я там никогда не была. Просто
      посмотреть: что это и почему всю жизнь об этом говорят все вокруг, а я
      даже не знаю, что там происходит внутри? Хотя, может быть, стоит у
      родителей спросить, может, мы там и были когда-то.
    </Paragraph>
    <Paragraph
      >В буфет тоже хочу, поесть пиццу-пирог. Прийти туда, где Лопань, к цирку.
    </Paragraph>
    <Quote
      >Наверное, это всё места, которые я упоминала, новых каких-то придумать не
      могу.
    </Quote>
  </article>
</Article>
