---
import Main from "../../layouts/main.astro";

import Title from "../../components/Title.astro";
import Subtitle from "../../components/Subtitle.astro";
import Paragraph from "../../components/Paragraph.astro";
import Quote from "../../components/Quote.astro";
import Separator from "../../components/Separator.astro";
---

<Main>
  <article>
    <Title>Киев</Title>

    <Subtitle>Детство</Subtitle>
    <Paragraph
      >Я родилась в Киеве и в 2018 году репатриировалась в Израиль. В последний
      раз я была в Киеве три года назад, когда приезжала к родителям. Я очень
      долго добивалась этого от армии, доказывая, что не останусь в Украине и не
      стану там служить; что в Украине — не обязательная воинская повинность,
      как в Израиле, и что девушки не обязаны там служить.
    </Paragraph>
    <Paragraph
      >Я много, чего помню из детства, но я никогда не задумывалось, что было
      моим первым воспоминанием. Наверное, из-за того, что мама с папой очень
      хотели сохранить мое детство на кассетах (знаешь, большие вот эти,
      «диназавровские»), они много снимали, а я постоянно это пересматривала, и,
      видимо, какая-то часть моей памяти считает, что это мои воспоминания, а не
      то, что я видела уже в осознанном возрасте на кассетах.
    </Paragraph>
    <Paragraph
      >Мои воспоминания в основном связаны с дачей: это были наши семейные
      поездки, когда папа возвращался из командировок, а мама готовила кучу
      всего. Дача у нас была под Обуховым: на машине это где-то час от Киева, а
      потом еще минут 20-30 ехать. Там было озеро; там было здорово. Думаю,
      потому что папа старался: он у меня разговаривал с растениями, с
      деревьями, у него были свои виноградники, он делал вино, у нас постоянно
      были ягоды, фрукты.
    </Paragraph>
    <Quote
      >С дачи больше ярких воспоминаний, потому что дома воспоминания не
      хотелось запоминать, знаешь? Мама воспитывает, папы нет, а на даче все
      можно.</Quote
    >
    <Paragraph
      >Дом моего детства — это дом, где прошло и мамино детство тоже, просто
      разные квартиры. Там же сейчас живет и мой дедушка. Дома я проводила много
      времени, у меня не было такого, что я гуляю с ровесниками на детской
      площадке, как это обычно бывает, у меня была частная еврейская закрытая
      школа, она была далеко от дома, и друзья всегда были далеко. Много времени
      я проводила у бабушки на работе — она была главной медсестрой на киевской
      станции переливания крови. Тоже в этом районе, возле «сердца» [Института
      Сердца], Дорогожичей. Чувствовала я себя там прекрасно, меня там все
      любили — я была ребенком станции! Наверное, из-за этого я не боюсь крови.
    </Paragraph>
    <Paragraph
      >Я ходила только в старшую группу еврейского детского садика и, конечно, у
      нас был сэвивон на деньги [игра в волчок на праздник Ханука]. Помню, как
      играли в «море волнуется раз». Ну, понятное дело, были покемоны — кепсы
      эти кругленькие, их бросать нужно было. Мы их продавали, обменивались ими.
      В какой-то момент у всех девочек из состоятельных семей появились не
      Барби, а куклы Братц с гигантской головой, и я помню, как мама мне
      сказала: «вот когда я смогу — я тебе куплю», я не была тем ребенком,
      который падает на пол в магазине и кричит «я хочу!» — нет, я подождала, и
      позже мама мне купила эту куклу.
    </Paragraph>

    <Separator />

    <Subtitle>Семья</Subtitle>
    <Paragraph
      >Мама в детстве часто ездила в Бородянку — там жили ее бабушка,
      прабабушка. Все детство мама проводила там, ну, знаешь, свежий воздух,
      природа. Но в основном все они жили в Шевченковском районе, возле Бабьего
      яра и телевышки, и папа тоже. Когда меня спрашивают «а где ты жила?», я
      говорю «в Шевченковском районе», и все такие «ой это там, где Крещатик?»,
      «нет-нет, чуть подальше..». Это один район, просто он большой.
    </Paragraph>
    <Paragraph
      >Папа родился в Киеве, но у него были не очень хорошие отношения с
      родителями, поэтому в основном его воспитывали бабушка с дедушкой в Крыму.
      Потом он пошел в армию и после уже окончательно переехал в Киев.
    </Paragraph>
    <Paragraph>
      Сначала мама работала учителем начальных классов и библиотекарем, а после
      стала только библиотекарем. Это легко можно понять по тому, какой у нас
      дом в Киеве — гигантские полки, везде книги, все пахнет книгами.
    </Paragraph>
    <Quote
      >Когда началась украинизация, в четырнадцатом году, и начали выбрасывать,
      а то и сжигать (а не сдавать, например, на макулатуру) русскую литературу,
      русскую классику, мама это все таскала в дом, ей было жалко, она не могла
      смотреть, как уничтожают книги.</Quote
    >
    <Paragraph
      >Папа одно время работал в «Украерорухе» — компании, которая занималась
      самолетами и авиа техникой по всей Украине. Иногда он ездил в
      командировки, в том числе за границу. Какое-то время он был водителем и
      помощником одного депутата, а потом ему осточертела вся эта политика, и он
      оттуда ушел.
    </Paragraph>
    <Paragraph
      >Сколько бы раз мы с братом ни слушали историю знакомства наших родителей,
      становится ясно, что у них была куча возможностей познакомиться: они были
      в одних и тех местах в одно и то же время, но не встречались; у них была
      куча общих знакомых, он учился в морском училище, а она в педагогическом;
      и у них, знаешь, раньше, в советское время, были тусовки, дискотеки —
      иногда так хочется побывать на них! Посмотреть, как они наряжаются, идут
      на танцы — мне это чем-то напоминает фильм «Стиляги».
    </Paragraph>
    <Paragraph
      >У папы и мамы до этого были браки, не очень удачные. В первом мамином
      браке у нее умер ребенок. И именно в этот момент, когда она была в супер
      затяжной депрессии, трауре и стрессе, некрасивая, ненакрашенная, с пустым
      холодильником уже несколько месяцев, их знакомит подруга. В один момент
      папа приехал к маме, заполнил холодильник. На следующий день он привез ей
      бидоны с чистой водой и просто остался жить с ней. То есть настолько она
      ему понравилась, что у них даже не было какого-то разговора о свиданиях,
      вот прям «бац!», влюбились и стали жить вместе. Свадьба у них была только,
      когда мне было 6 лет.
    </Paragraph>
    <Paragraph
      >У нас в семье была традиция ходить в Бабий Яр, именно к еврейскому
      мемориальному комплексу. На День Победы мы волонтерили, помогали
      ветеранам, сейчас их, наверное, уже нет. На Пурим мы ездили в «Dream Town»
      кататься на роликах и коньках; ездили в аквапарк и кушали там пиццу, прям
      в воде.
    </Paragraph>
    <Quote
      >У мамы традиция была смешная: если у меня или брата случался какой-то
      праздник, она дарила подарки нам обоим, но если я сделала шкоду, то и
      ругали нас обоих — в общем, ни один ребенок не был обделен.
    </Quote>
    <Paragraph
      >Зимой мы всегда ходили на балет, мама всегда выбирала что-то новое, а
      если мама не могла — я ходила с бабушкой. То есть я такой, интеллигентный
      ребенок, ходивший в театр и на оперу. Я пела в опере, поэтому мне было
      кайфово, хотя балет мне нравится больше. Когда я была маленькая, там еще
      были все эти елки с подарками и невкусными шоколадными конфетами.
    </Paragraph>
    <Paragraph
      >Бабушка, мама и папа сейчас живут в Кармиэле, дедушка — в Киеве, и я его
      прекрасно понимаю: в таком возрасте переехать в страну, где тебе нужно
      заново, с нуля, учить язык, жить в съемной квартире, когда дома есть свое.
      И своего много — и язык, и валюта, и привычные тебе продукты. Ты идешь по
      улице и не понимаешь разговоры, все твои друзья там. Не думаю, что он
      чувствует себя в безопасности, но ему еще стыдно и обидно, ведь он всю
      жизнь считал, что «Путин — хороший человек», а потом «бац!» и вот.
    </Paragraph>
    <Paragraph
      >В Израиле у нас очень много родственников и бабушка каждый год ездила
      сюда к сыну, маминому брату. Помню, как она привозила нам авокадо, хуммус,
      шоколад, который выглядит, как кора дерева! Было очень вкусно.
    </Paragraph>

    <Separator />

    <Subtitle>Запахи, звуки, голоса</Subtitle>
    <Paragraph
      >Киев — очень красивый, зеленый город, связанный для меня с университетом
      и счастливым детством. Крутой город с модными людьми. Для меня Киев — это
      какая-то отдельная часть Украины.
    </Paragraph>
    <Paragraph
      >В Киеве я любила ходить на всякие экскурсии, раскопки. Когда я приезжала
      в последний раз, мама подарила мне экскурсию по публичным домам Киева: это
      тысяча восьмисотые года, когда бордели маскировали под что-то (например,
      ты заходишь в стоматологию, а там за дверкой стоматолога — бордель).
    </Paragraph>
    <Quote>Это звук колоколов, троллейбусов, трамваев. </Quote>
    <Paragraph
      >Мы жили в месте, где было очень много природы: лес Дубки, парк
      Дорогожичи, поэтому это и щебет птиц, конечно. Наверное, еще звук метро,
      когда ты уже в вагоне или ждешь поезд.
    </Paragraph>
    <Paragraph
      >Запах сирени, ландышей, запах пирожков возле оперного театра: если ты
      стоишь к оперному театру лицом, поворачиваешь налево и чуть-чуть
      проходишь, там есть супер маленькая, но супер известная пирожочная? Или не
      знаю как? Пирожковая. Вот она пахла этим жиром, этим тестом. Из-за того,
      что папа с Крыма — мы каждый год ездили туда, и там, например, меня сводил
      с ума запах чебуреков и моря. Одесса — это тоже запах моря и шоколада, а
      вот Киев — это больше про запах цветов, запах дождя и, наверное, запах
      маминой еды, которую она готовила.
    </Paragraph>
    <Paragraph
      >Мама готовила все, что попросишь. Мое любимое — курочка с грибами. И,
      знаешь, как в Карпатах готовят кукурузную кашу и с грибным соусом, а мама
      всегда делала с гречкой. Что еще? Фаршированная рыбка.
    </Paragraph>
    <Paragraph
      >У нас не было чего-то такого, что готовят «только по праздникам», если мы
      хотели — мы просили. Пироги с маком. Бабушка готовила всю ашкеназскую
      [еврейскую восточноевропейскую] кухню. Самой вкусной была бабка — типа
      запеканки с мацемел [мукой из мацы], соленая. Что еще? Супер вкусное
      жаркое с мясом.
    </Paragraph>
    <Paragraph
      >Мы ходили в пиццерию, по-моему, она называлась «Мистер кэт», это было на
      Шулявке. Разумеется, в «Пузату хату», ели там вареники. Любили открывать
      что-то новое, например, когда на Подоле открылось заведение с киевскими
      котлетами, а потом — с пончиками. Тогда еще, знаешь, не было такого
      ажиотажа на донатс в Киеве, а мама всегда пыталась нас чем-нибудь таким
      угостить. Но чаще мама все-таки готовила сама. Обычно, когда люди
      празднуют, они выходят в кафе, ресторан, а мы наоборот: большинство
      праздников праздновали дома, а если хотели выйти куда-то, то просто шли.
    </Paragraph>
    <Paragraph
      >Мы говорили по-русски, а потом приезжаешь куда-нибудь — в Харьков или в
      Одессу — говоришь, а тебе такие «а у нас иначе говорят». В Киеве можно
      услышать «парадная»; многие говорят, что у нас с Санкт-Петербургом похожий
      словарный запас. Не знаю, хотела бы я сейчас быть похожей на питерцев?
      Слово «ихний»: из-за того, что на украинском «їхні», киевляне часто
      неправильно произносили «ихний», говоря по-русски.
    </Paragraph>
    <Quote
      >Раньше в Киеве было более русскоговорящее население, когда я поступила в
      универ, я начала говорить на украинском, мои лучшие подруги были со Львова
      и с Ровно — там тоже есть свой сленг, диалекты.
    </Quote>

    <Separator />

    <Subtitle>Места и время</Subtitle>
    <Paragraph
      >Встречаются в Киеве в Мариинском парке, на Липках — очень красивый район,
      кажется, у меня все подружки там на свиданиях гуляли. Улица архитектора
      Городецкого, если там не перекрыто, потому что там резиденция президента.
      Банально, но многие устраивают свидания на Крещатике. На Подоле и на
      набережной — очень много свиданий. У меня на Подоле тоже были свидания и
      заканчивались они в «Пузатой хате» — это были лучшие свидания, где меня
      кормят! Причем, знаешь, не какие-то фешенебельные рестораны, а «Пузата
      хата» — наше, свое!
    </Paragraph>
    <Quote
      >Я помню легенду про дом доктора, тоже где-то на Липках, что там жили
      евреи, и что крыша у них раздвигалась на праздник Суккот. Конечно, легенда
      Дома с химерами, что по ночам эти горгульи просыпаются и ходят по Киеву. В
      основном, наверное, легенды были не в Киеве, а в селах, где были мавки,
      русалки, разная нечисть.
    </Quote>
    <Paragraph
      >Все важные для меня места были в разных районах: жила я в Шевченковском,
      в школе училась в Голосеевском, а на хор ездила в Соломенский. Хор — это
      большая часть моей жизни, я пела в нем на протяжении одиннадцати лет, мы
      объездили всю Европу с гастролями, я обожала своих девчонок. Я не жила в
      Соломенском районе — меня приняли только потому, что моя еврейская школа
      находилась поблизости: однажды туда пришел руководитель хора и выбрал, в
      том числе, меня. Я всегда завидовала девочкам, которые жили в пяти минутах
      от хора, тогда как я добиралась час: зимой, в холод, в субботу, вставать и
      ехать на этой маршрутке куда-то. Помню, когда мне было тринадцать лет и мы
      с бабушкой ехали на хор, я возмущалась: «бабушка! я уже большая!». Меня
      начали отпускать одну только лет в четырнадцать, довольно поздно. Я люблю
      Киев, но он всегда был не самый безопасный город для девочек.
    </Paragraph>
    <Paragraph
      >Училась я в КНЭУ [киевский национальный экономический университет] на
      менеджера управления персоналом. При универе было общежитие, где мы с
      подружками иногда делали домашку, работали над какими-то проектами. И
      однажды приехала полиция, было много людей, а потом оказалось, что одна
      приезжая девочка скрывала, что она беременна, и родители, понятное дело,
      ничего не знали. Она родила ребенка в общежитии и выбросила его с
      четвертого этажа в мусорный бак. Родила и выбросила. И с тех пор общежитие
      стало для меня самым страшным местом. Да и психологически мне это было
      совершенно непонятно; я не знала: ненавидеть этого человека или жалеть?
    </Paragraph>
    <Paragraph
      >Если бы нужно было выбрать символ Киева, я бы выбрала арку [ex.Дружбы
      народов, с 14 мая 2022 — Свободы украинского народа]. Там всегда было
      много молодежи, тусовок каких-то, концертов, она довольно яркий для меня
      символ.
    </Paragraph>
    <Quote
      >Больше всего я скучаю по друзьям. Странно сказать, но по еде — по тому
      выбору и качеству, что есть в магазинах: здесь я редко захожу в магазин и
      так, чтобы «вау!», а там заходишь в какой-нибудь «Сiльпо» — и все хочется!
      Скучаю сильно по снегу, именно по тому, когда выходишь на улицу, и у тебя
      слезы, глаза и сопли застывают в сосульку; и этот воздух, который вдыхаешь
      и прям чувствуешь холод.
    </Quote>
    <Paragraph
      >Скучаю по архитектуре. Я из тех людей, что считают Израиль красивым;
      показывают местную архитектуру, но она вся «приезжая» — различные колонии
      (например, Сарона) — это все привозное, в Киеве же это все испокон веков
      строилось, сохранялось, переживало войны, и вся эта архитектура с Липок,
      Крещатика, из центра — ты приезжаешь, и прям сердце замирает! Насколько
      каждый подъезд, каждая крыша, даже просто ты приходишь в дом и у тебя… как
      это называется? Не гобелен, а… На потолке такие узоры красивые? Да-да,
      лепнина! Старинные высокие потолки с красивыми люстрами. Вся эта спадщина
      [наследие], которую в Украине, к сожалению, не так обширно реставрируют,
      как в Израиле. Здесь этого, наверное, меньше, поэтому это больше ценят.
    </Paragraph>

    <Separator />

    <Subtitle>Киев и я: завтра и сейчас </Subtitle>
    <Paragraph
      >Бабушку я перевезла сюда, как только переехала, искала ей квартиру в
      Кармиэле — она его обожает. На момент переезда бабушка знала об Израиле
      больше, чем я. Единственная мечта, которая у меня была — служить в
      израильской армии с немецкими овчарками. Ну то есть вот эти все «Таглиты»,
      «Гилели», еврейские школы — это влияло с детства, что «да, я буду в
      Израиле в какой-то период жизни», но чтобы я прям так хорошо знала об
      Израиле? У меня как у ребенка с детства было ощущение, что это такая
      маленькая страна, «там, где всегда тепло и ясно», что здесь чудесные
      дороги, что здесь все так чудесно — и вот, облом.
    </Paragraph>
    <Paragraph
      >Папе нужна была операция и за месяц до начала <полномасштабной> войны они
      с мамой приехали в Израиль. Они не планировали здесь жить — они
      планировали приезжать на пару месяцев в году и возвращаться. Они все еще
      хотят больше жить там, чем здесь, а я чувствую, что Израиль — это мое. В
      начале войны я переживала, что «вот, началась война, и что я вообще здесь
      делаю?», что надо быть там, и вообще — я умею пользоваться автоматом, я
      хорошо воюю и нужно идти в армию и воевать. Все мои друзья уезжали с
      Киева, с Украины, а я наоборот хотела туда.
    </Paragraph>
    <Quote
      >Я бы не сказала, что у меня патриотизм выливается из всех щелей, просто
      думаю, что, когда твой дом бомбят, ты все это видишь, а ты не там, ты
      чувствуешь и ненависть, и страх, и стыд; ты не можешь соображать адекватно
      — ты хочешь просто, как товарняк, напролом, туда, в горячие точки,
      помогать.
    </Quote>
    <Paragraph
      >Я волонтерила онлайн — деньгами, в проектах, связанных с медицинским
      оборудованием, медикаментами. Для каждого находится свое место: есть те,
      кто защищает; а есть те, кто ходят каждый день на работу и дают денежку.
      Как оказалось на практике, что здесь, что там (извиняюсь, если это плохо
      сказано) государство не сильно помогает в финансовом плане. Когда в
      Израиле началась война, сколько волонтеров приносило еду, одежду? И я на
      секунду задумалась: а где государство? Почему люди должны это делать?
      Почему люди должны собирать свои копеечки, чтобы купить один дрон? При
      этом государство может выделить гигантскую сумму из государственного
      бюджета на телевизионное телешоу.
    </Paragraph>
    <Paragraph
      >И до полномасштабной войны я считала себя еврейкой и киевлянкой; я не
      часто называла себя израильтянкой.
    </Paragraph>
    <Quote
      >Я очень благодарна своим друзьям, которые не отвернулись от меня за то,
      что я говорю по-русски, продолжают любить меня, общаться со мной и уважать
      меня.
    </Quote>
    <Paragraph
      >Много мест, куда я хочу отправиться, когда окажусь в Киеве: это и
      Мариинский парк, и шоу рум бренда COOSH, и в театр Леси Украинки, и выпить
      матчу на банановом. У меня, не то чтобы страх, а ощущение, что, приехав в
      Киев, я окажусь «человеком в Европе, не знающим английского». Мама уже
      знает, где что и как работает во время войны, а я даже не знаю, какую
      карточку в метро купить, потому что я давно там не была. Кажется, что есть
      какой-то пробел, который нужно заполнить.
    </Paragraph>
  </article>
</Main>
