---
import Article from "../../layouts/article.astro";

import Title from "../../components/Title.astro";
import Subtitle from "../../components/Subtitle.astro";
import Paragraph from "../../components/Paragraph.astro";
import Quote from "../../components/Quote.astro";
import Separator from "../../components/Separator.astro";
---

<Article>
  <article>
    <Title>Одесса</Title>

    <Subtitle>Детство</Subtitle>
    <Paragraph
      >Моя мама родилась в Казахстане, а папа в Черновцах. Они попали в Одессу
      по распределению после университета, работали на одном заводе, где они,
      собственно, познакомились, и остались жить в Одессе. Поэтому я не могу
      сказать, что «я одесситка в девятьсот тридцать восьмом поколении».
    </Paragraph>
    <Paragraph
      >Когда я была маленькая, мой дед был директором большого одесского завода,
      и мы жили в общежитии при нем. Оно находилось недалеко от привоза, а рядом
      находились зоо и луна-парк, и каждые выходные была плюс-минус одна
      программа: папа сажал меня на плечи, и мы шли в этот зоопарк. Почему?
      Зачем это запоминать? Потому, что у меня там был враг, в этом одесском
      зоопарке — лама. Я, будучи ребенком, не очень знала, что ламы плюются (и
      на ошибках я не очень училась), и каждый раз, проходя мимо этого забора, я
      получала свою дозу ламичьей слюны (она так называется?), и папа проходил
      все стадии принятия — от истерики до спокойных звонков маме. Наверное, это
      самое яркое, что я помню: детство, я у папы на горгошах, и вот я лечу по
      этому зоопарку и все до определенного момента хорошо.
    </Paragraph>
    <Paragraph
      >Районов моего детства было два: в одном я росла — он называется Таирово,
      в какой-то момент мы переехали на «такой же» — Черемушки (мне кажется,
      везде есть район с таким названием). Но почему два? Потому что училась я в
      центре города. И, разумеется, всё самое дурное я получила на Таирово, а
      всё самое культурное — в центре города. Это были разные компании, в одной
      из которых обсуждались более приземленные вещи, а в другой — более
      возвышенные.
    </Paragraph>

    <Separator />

    <Subtitle>Запахи, звуки, голоса</Subtitle>
    <Paragraph
      >Звуки Одессы — это прибой. Звук маяка в порту. Шум привоза. Трамвай.
      Уличные музыканты.
    </Paragraph>
    <Paragraph
      >Одесса пахнет запахом жары, не знаю, как его объяснить: это такая горячая
      смесь моря с раскаленным песком. Это запах рыбы, морепродуктов. И это
      запах акаций.
    </Paragraph>
    <Paragraph
      >Шоканье. «Шо вы знаете?» — это правда, это не просто описано всеми, кем
      это описано.</Paragraph
    >
    <Quote>Это юмор, который не придуман; который целое искусство. </Quote>
    <Paragraph
      >Это слова на идиш: бэ-кицер, глик, тухес. Названия каких-то блюд (потому
      что это неотъемлемая часть одесского с еврейским). Все эти словечки и
      выражения они прям впились и прижились. Я росла в нерелигиозной семье,
      поэтому это была история с форшмаком, с оладушками из всех видов рыбы и
      морепродуктов: например, оладушки из тюльки (это даже не оладушки, а
      латкес, только с тюлькой). Фаршированная рыба, безусловно, и бабагануш. В
      детстве мне было не очевидно, «откуда ноги растут», но в последствии у
      меня уже пазлы складывались. Потому что «ну че оно еврейское, если оно
      одесское? Баклажаны же в Одессе самые вкусные!».
    </Paragraph>
    <Paragraph>Это много показывать руками. </Paragraph>
    <Quote>Это «вопросом на вопрос».</Quote>
    <Paragraph>
      А если ругаются, то, во-первых, это мат, да? Понятный всем мат на всех
      понятных языках — на многих, потому что Одесса всегда была очень
      многонациональной.
    </Paragraph>
    <Paragraph
      >Ну и вот эти «шоб вы так жили», но это больше в центре, потому что
      спальные районы они такие — «на мате», а вот в центре из одесских
      двориков, можно и услышать такое, и ведро воды на голову получить. Или на
      каком-то диком суржике и трех разных языках зацепить какое-то несвязное
      предложение, и просто по интонациям понять, что люди ругаются (или на
      самом деле не ругаются, а просто очень эмоционально общаются).
    </Paragraph>
    <Paragraph
      >А! И это, знаешь, что еще? Есть понятие «интеллигентного мата»? Какие-то,
      вроде бы, не обидные слова, но сказанные так хабалисто-ласково, что ты
      понимаешь, что «накосячил». Я даже щас, наверное, пример не.. Ну, там,
      «дятел». Ну, как бы, да, вроде? Кто сказал, что это обидно? Или какие-то
      эм.. «шо вы себя накручиваете?». Непонятно, короче: тебя обидели или
      комплимент сделали?
    </Paragraph>

    <Separator />

    <Subtitle>Места и время</Subtitle>
    <Paragraph
      >Про важные для меня места, ну, я щас скажу какую-нибудь банальную вещь,
      что «это дом, где моя семья, и неважно, где он» (а он был в разных
      местах). Мои места они, наверное, сейчас сто процентов выглядят не так,
      как раньше, но много приятных моментов связано вот с этим пятачком, о
      котором я говорила, где привоз (казалось бы, не самое романтичное место),
      луна- и зоопарк — это такой пятачок детства, где мы постоянно тусовалась с
      мамой и с папой. Старая Аркадия, Ланжерон — два пляжа, которые, понятно,
      сейчас выглядят уже не так, но там все равно есть этот вайб «когда я туда
      попаду — я точно там окажусь», просто ради вот этих воспоминаний, которые
      будут всплывать и мелькать. Парк Шевченко, парк Горького — тоже место из
      детства, например.
    </Paragraph>
    <Quote>Больше всего я скучаю по людям. </Quote>
    <Paragraph
      >По атмосфере — просто слышать эти звуки, вдыхать эти запахи. По еде
      (всему тому, о чем мы с тобой говорили). По такой размеренности, знаешь?
      Вот идешь ты по Дерибасовской, и там куча всего происходит, а ты идешь по
      этой неудобной, но такой родной, брусчатке. По колориту, сто процентов; по
      колориту людей, которые, наверное, сами не знают, насколько они
      харизматичные и колоритные. Просто наблюдать; сесть и наблюдать за этим
      вечно.
    </Paragraph>
    <Paragraph
      >Страшно было второго мая, в 2014 году, потому что весь город отдыхал, это
      были майские праздники; все были за городом, на дачах (это отдельный такой
      вид искусства — одесские дачи). Мы с друзьями были на какой-то базе
      отдыха, и у нас настолько плохо ловила связь, что в те редкие моменты,
      когда мы подключались к интернету, у нас просто «зависали» телефоны,
      потому что все родственники из-за границы начали звонить — казалось, что 2
      мая в Одессе разлетелось по всему миру. Мы, если честно, не могли понять,
      что случилось — настолько быстро это все ликвидировали-поубирали. В
      момент, когда люди повозвращались с майских праздников, не было и никакого
      следа того, что произошло, и только люди, которые там погибли, и все, кто
      там пострадал, и были этим «следом».
    </Paragraph>
    <Quote
      >До 2014 я не могу вспомнить какое-то страшное событие, связанное с
      Одессой.
    </Quote>
    <Paragraph
      >Ну, и разумеется, 24 февраля 22-го года. Я уже жила в Израиле и
      проснулась от того, что вибрировал телефон, потому что приходило огромное
      количество сообщений. Будем честными, я не была подписана на огромное
      количество украинских пабликов, как сейчас; это были сообщения от друзей и
      родных, примерно с одним и тем же текстом. Прочитав первое, я подорвалась,
      разбудив соседей, сказала, что началась война, они спросили «где?», я
      ответила им в рифму, и, ну, как бы всё.
    </Paragraph>
    <Paragraph
      >И начался супер страшный период: сначала — шок. Потом, когда дошло, стало
      хуже, и мы залипли в чатах передвижения людей, которые просто пытались
      бежать, им где-то нужно было ночевать.
    </Paragraph>
    <Quote
      >Дальше было страшно ехать на границу — я ни разу с того момента не
      въезжала на территорию Украины, но была на границе Украины с разными
      странами, и то, что мы там видели, было очень страшно. Ты не понимаешь
      этого в тот момент, только потом, знаешь, когда начинаешь анализировать,
      что с тобой произошло, становится страшно.
    </Quote>
    <Paragraph
      >Не знаю, что из-за войны уже невозможно увидеть в Одессе, но есть на
      Соборной площади два красивых здания, видела, да? Там был собор, который
      сейчас разрушен. Интересно, насколько его уже восстановили — думаю, такие
      места восстанавливают достаточно быстро.
    </Paragraph>
    <Paragraph
      >Или гостиница, которую все ненавидели (были даже мемы какие-то ужасные,
      типа «спасибо, что в нее» — ну, это когда уже «чернуха льется», знаешь),
      на морвокзале [морском вокзале — прим.] Она нерабочая, в ней не было
      людей. Когда эту гостиницу-свечку выстроили, все одесситы гундели: «все,
      перекрыли вид на море! На хера она там нужна вообще?». Знаешь, как в семье
      или в компании есть один дурачок — вот она была такой дурацкой визиткой
      города, а сейчас там зрелище такое, не для слабонервных.
    </Paragraph>
    <Paragraph
      >Одесса супер трусится за всякими памятниками, поэтому большинство из них
      сразу обложили мешками, они до сих пор закрыты и увидеть их нельзя, но
      пусть лучше так, главное — их сохранить.
    </Paragraph>
    <Paragraph
      >В офис одесского «Гилеля» [еврейская студенческая организация — прим.]
      тоже «прилетело». Я не была в нем — больше наблюдала со стороны, как
      ребята его строят, вкладываются и чуть ли не сами студенты его
      красят-выкрашивают. Примерно полгода они были в том помещении, и,
      собственно, туда прилетело, и больше я это помещение не увижу, а я очень
      хотела побывать там, где люди сами все по кирпичикам собирали.
    </Paragraph>

    <Separator />

    <Subtitle>Одесса и я: завтра и сейчас </Subtitle>
    <Paragraph>
      Послезавтра будет 7 лет, как я не живу в Одессе. До сих пор минимум раз в
      год я собираю чемодан и говорю, что возвращаюсь! С началом войны первое,
      что я сделала — собрала чемодан, благо, вокруг меня были люди более
      стабильные «кукухой», которые меня остановили, напомнив, что отсюда я,
      наверное, могу быть более полезной моей семье, моим друзьям, которым нужна
      помощь — выезжать, встречать их здесь, встречать их не здесь, где угодно,
      как-то помогать отсюда, чем там, не понимая, чем я могу помочь.
    </Paragraph>
    <Quote
      >Стабильненько, один-два раза в год хочется вернуться — там все понятно,
      там сердце (часть сердца), души тоже, все поделено на два, на две части.
    </Quote>
    <Paragraph
      >Я воспитана в супер сионистской среде. Оставь, что в первые полгода в
      Стране я слила свой сионизм в унитаз, но вот это сионистское воспитание,
      что это — тоже дом, оно дает о себе знать. Сначала мне казалось, что я
      ничего здесь <в Израиле> еще не попробовала, ничего не сделала, чтобы мне
      здесь понравилось. Мне казалось, что щас я попробую вот это, попробую то.
      Мне по-прежнему кажется, что я полезнее отсюда, потому что у людей там
      заканчиваются ресурсы: моральные, финансовые. Просто понимание того, что
      где-то здесь есть люди, к кому они могут приехать и побыть в относительной
      (с недавних пор) тишине, сменить картинку одного пиздеца на другую, и
      побыть в каком-то другом месте.
    </Paragraph>
    <Quote
      >Благодаря мысли, что я «еще чем-то могу помочь», я остаюсь здесь.
    </Quote>
    <Paragraph
      >Я пыталась забрать сюда родителей, но они до сих пор отказываются,
      несмотря на то, что ситуация там усугубляется: день полегче, через два —
      хуже, чем было. Тем не менее они не готовы оставить Одессу, им понятно
      только там. Я все равно надеюсь, что сумею объяснить им, что «вы не
      предаете никакой город» и что «мы обязательно вернемся», и они согласятся
      выехать хотя бы на время. Поэтому меня, наверное, здесь что-то еще держит.
    </Paragraph>
    <Paragraph
      >Когда началась война в Украине, у меня была мысль: «я не там, но могу
      помогать, как могу», а когда началась война в Израиле, я поняла, что
      теперь я точно не буду прыгать. Я буду искать, чем могу помогать Израилю в
      этот период меж двух огней, и оказалось, что такие люди, как я, стали
      полезны для украинцев, которые переехали в Израиль, из одной войны в
      другую, потому что прислушивались они только к нам, к таким, как я,
      например.
    </Paragraph>
    <Quote>Оказавшись в Одессе, первым делом я, наверное, пойду к морю. </Quote>
    <Paragraph
      >У меня какая-то с морем проблемка в Израиле. В детстве я, конечно, сидела
      в воде до криков мамы: «выходи! у тебя уже губы синие!». Я разговариваю с
      морем (я, наверное, сумасшедшая). Знаешь, когда у тебя есть подружка,
      которой ты все-все-все рассказываешь, а есть подружка, с которой ты нуу не
      до конца делишься — вроде, суть рассказываешь, но без подробностей. И вот
      Средиземное море — это, для меня, наверное, вторая подружка, а Черное —
      это первая. Оно, как будто, ближе; оно для меня вообще другое. Там как-то
      дышится мне по-другому (и это не про погоду).
    </Paragraph>
  </article>
</Article>
