---

---

<footer class="footer-wrapper">
  <div class="container footer">
    <ul class="socials">
      <li class="socials__icon">
        <a href="mailto:misto.spogadiv@gmail.com"
          ><img src="/images/mail-icon.svg" /></a
        >
      </li>
      <li class="socials__icon">
        <a href="https://www.facebook.com/profile.php?id=100090659797993"
          ><img src="/images/fb-icon.svg" /></a
        >
      </li>
      <li class="socials__icon">
        <a href="https://www.instagram.com/tse_moe_misto/"
          ><img src="/images/ig-icon.svg" /></a
        >
      </li>
    </ul>
    <p>мiсто, 2024</p>
  </div>
</footer>
<style>
  .footer-wrapper {
    background-color: #1d1d1d;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    padding-top: 24px;
    padding-bottom: 24px;
    font-weight: 700;
    font-size: 15px;
  }

  .socials {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .socials__icon {
    margin-inline-end: 16px;
  }

  .socials__icon {
    width: 24px;
    height: 24px;
  }
</style>
