---

---

<div class="parallax"></div>
<style>
  .parallax {
    height: 650px;
    background-image: url(/images/parallax.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  @supports (-webkit-touch-callout: none) {
    .parallax {
      background-attachment: scroll;
    }
  }
</style>
