---

---

<div class="container">
  <blockquote class="quote">
    <slot />
  </blockquote>
</div>
<style>
  .quote {
    max-width: 700px;
    color: #222222;
    font-size: 18px;
    font-weight: 700;
    margin: 0 auto;
    padding: 32px 0 32px;
    transform: translateX(120px);
  }
</style>
