---

---

<div class="container">
  <h2 class="subtitle slide-in">
    <slot />
  </h2>
</div>
<style>
  .subtitle {
    font-size: 64px;
    font-weight: 700;
    line-height: 1.1;
    color: #ffd700;
    padding: 48px 80px;
  }

  @media (max-width: 900px) {
    .subtitle {
      font-size: 48px;
      padding-inline-start: 0;
      padding-inline-end: 0;
    }
  }
</style>
