---

---

<div class="container">
  <h2 class="subtitle">
    <slot />
  </h2>
</div>
<style>
  .subtitle {
    font-size: 64px;
    font-weight: 700;
    color: #ffd700;
    padding: 48px 80px;
  }
</style>
