---
import Main from "../../layouts/main.astro";

import Title from "../../components/Title.astro";
import Subtitle from "../../components/Subtitle.astro";
import Paragraph from "../../components/Paragraph.astro";
import Quote from "../../components/Quote.astro";
import Separator from "../../components/Separator.astro";
---

<Main>
  <article>
    <Title>חרקוב</Title>

    <Paragraph
      >חרקוב, העיר שלי, מרגישה כמו שטיח של זיכרונות - של ריקודי ילדות, ימי בבית
      הספר היהודי, השנים שלי באוניברסיטה. לכל רחוב ושכונה יש סיפור; חלק מהלב שלי
      שעדיין פועם בקצב של אותה עיר תוססת.
    </Paragraph>
    <Paragraph
      >נולדתי וביליתי את ילדותי בשכונת דז'רז'ינסקי, שנקראת כיום שכונת
      שבצ'נקובסקי. בבניין הדירות שלי הייתה חצר עם מגרש משחקים עלוב בג'ונגל בצורת
      רקטה, בסגנון סובייטי מאוד.
    </Paragraph>
    <Paragraph
      >זה סוג החצר שבו מנקים שטיחים בחוץ - מסיבה כלשהי, תמיד קישרתי את הרגע הזה
      לאבא שלי ולתקופת החורף. נראה שהזכרונות העיקריים שלי הם כולם סביב החצר:
      ההתבגרות שלי, וכל השיחות החשובות או הדייטים הראשונים שקרו בחצר הזו, ליד
      הרקטה האדומה והירוקה שמתפרקת. הם שיפצו את מגרש המשחקים הזה לפני זמן מה,
      והתקינו כמה מגלשות חדשות, אבל הטיל הזה... זה מוזר, כמו גם זיכרון באופן
      כללי, אתה יודע.
    </Paragraph>
    <Paragraph
      >ממש מול הבית שלי, היה מכון לפיזיקה והנדסה בטמפרטורה נמוכה - מעולם לא
      קיבלתי את השם, עד עכשיו. ואם אתה אומר למישהו את שם השכונה, אף אחד לא יודע
      את זה, אבל אם אתה מזכיר את "מכון הטמפרטורות הנמוכות" - כולם מיד מקבלים את
      זה.
    </Paragraph>

    <Separator />

    <Subtitle>השוק הסמוך </Subtitle>
    <Paragraph
      >זו הייתה מסורת משפחתית ללכת לשוק בימי ראשון עצלים. היינו קונים מהסבתות
      ירקות, גבינת קוטג' ושמנת חמוצה. שתינו קוואס מחבית צהובה גדולה שכותרתה
      'קוואס'. הכל היה הגיוני לחלוטין. אבא שלי תמיד הכין רשימת קניות לפני שהלך
      כדי לא לשכוח כלום. היה לו עיפרון קצר שייכנס לכיס ורשום דברים שנרכשו.
    </Paragraph>
    <Quote
      >אבא נהג לומר: "בכל מקום שאתה הולך לקניות - תעשה רשימה, אחרת אתה בטוח תשכח
      משהו." ועד כמה שזה נראה טריוויאלי, הוא צדק. אני תמיד חושב שאני יכול לעשות
      קניות בלי רשימה, ואז כבר בבית להבין "וואס! שכחתי את העגבניות!"
    </Quote>

    <Separator />

    <Subtitle>זיכרון ילדות ראשון </Subtitle>
    <Quote
      >זיכרון הילדות הראשון שלי קשור ליער. אני ואחי והורינו נשכבנו בערימת העלים,
      ואחי תפס קרדית ואני לא.
    </Quote>
    <Paragraph
      >אני זוכר שהיה לי כובע חורף כמו זה של אסטרונאוטים, הוא נמשך מעל הראש שלי
      והוא שרט לי את הפנים. זה היה סרוג, חם מאוד, והוא כל כך לחץ את הלחיים שלי.
      יש תמונה שבה אני ואחי עומדים בפרוותינו, ואני חובש את כובע האסטרונאוט הזה.
    </Paragraph>
    <Paragraph
      >יש לי הרבה זיכרונות מקייב! אבא שלי נולד בחרקוב, אמא שלי בנז'ין. המשפחה של
      אמא גרה בבויארקה, ליד קייב, אז אני ואחי בילינו שם כל קיץ שלנו. תמיד ביקרנו
      בשוק הפרחים בקייב עם דודנו, הדוד והסבתות שלנו. הסתובבתי, הסתכלתי על צמחים
      מוזרים. למעשה, אולי הם לא היו כל כך מוזרים, היו פשוט המון מהם.
    </Paragraph>

    <Separator />

    <Subtitle>גן ילדים ובית ספר </Subtitle>
    <Paragraph
      >הגן שלי היה ממש מעבר לפינה מהדירה שלי, והחצר התמלאה בצרחות בזמן שהלכתי
      לשם. שנאתי את המקום הזה, אני אפילו לא יודע למה.
    </Paragraph>
    <Paragraph
      >גם בית הספר היסודי היה קרוב לבית, אבל התיכון שלי היה רחוק.
    </Paragraph>
    <Paragraph
      >ההסעה לבית הספר הייתה חלק מהשגרה היומיומית הרגילה. אבל אם תאחר, ההרפתקה
      תתחיל. אתה צריך להמציא מסלול כלשהו כדי להגיע לשם, לקחת טרוליבוס או משהו.
    </Paragraph>
    <Paragraph
      >אחי ואני למדנו בבית ספר יהודי. פשוט זנבתי אחריו כדי שלא אלך לאיבוד.
      וכשהוא התחיל בתיכון, לקח לי הרבה זמן להתרגל לעובדה שאני צריך לצאת
      מהאוטובוס והוא ימשיך הלאה. הוא היה צריך לנער אותי כדי שלא אפספס את התחנה
      שלי.
    </Paragraph>

    <Separator />

    <Subtitle>מצלמה</Subtitle>
    <Paragraph
      >לא הייתה לנו מצלמה בבית. לא ראיתי הרבה תמונות שלי עד שהייתי מבוגר, אני
      חושב. אבל יחד עם זאת, זיכרונות בראש שלי מחוברים לתמונות – אני מסתכל על
      התמונה ונזכר ביום. כאילו אני מסתכל על כובע האסטרונאוט הזה ונזכר ביער. אני
      רואה איך אני ואמא שלי עומדים על גשר מעל הדניפרו, ואני זוכר את שוק הפרחים.
    </Paragraph>
    <Paragraph
      >פעם, בעיתון "האמת של קומסומול" (Komsomolskaya Pravda, עיתון יומי רוסי),
      היו מתפרסמות מעין חידות, סוג של תשבצים, והקורא היה אמור להתקשר למערכת על
      מנת לנסות ולנחש את התשובות. המשפחה שלי הייתה סקפטית לגבי הדברים האלה, אבל
      ביקשתי מסבא שלי כמה רמזים, חלקם רק ניחשתי ואמרתי לו: "בוא נתקשר?". אז
      התקשרתי ונתנו לי מצלמה במתנה. זו הייתה המצלמה הראשונה שהייתה לנו בבית. אני
      זוכרת שהיא היתה כחולה, עם סרט צילום בתוכה, לא "זניט", "פד" או "קייב" אלא
      משהו מודרני יותר. צילמתי איתה כמה תמונות, עדיין יש לנו את הסרטים האלה
      חתומים בבית.
    </Paragraph>
    <Paragraph
      >פעם נוספת עברנו בפארק שבצ'נקו, והייתה הגרלת רחוב - כרטיסי גירוד. אם קיבלת
      שלושה עצי דקל ברצף, קיבלת סיור הכל כלול. וגירדתי שלוש מצלמות ברצף, אז
      קיבלתי מצלמה חד פעמית, עם 24 תמונות.
    </Paragraph>
    <Paragraph
      >כשאמא שלי ילדה את אחי, הייתה אישה אחרת בבית החולים עם מצלמה, אז הם צילמו
      את אחי. כשנולדתי לא היו מצלמות, אז אני מניח שהיה לי פחות מזל. כנראה, הייתה
      לי קארמה טובה שאפילו השגנו שתיים מהן מאוחר יותר!
    </Paragraph>

    <Separator />

    <Subtitle>ריקודים</Subtitle>
    <Paragraph
      >הסיטואציה שאני הולכת לשיעורי ריקוד לבד היה נושא קשה במשפחה שלי, אבל אף
      אחד לא עשה שום דבר בנידון. במשך שמונה שנים סבתא שלי נדנדה לאבא שלי: "למה
      הילדה שלך מסתובב לבד בעיר?" נראה שאי אפשר היה לפתור את הבעיה הזו.
    </Paragraph>
    <Paragraph
      >את השיעורים שלי עשיתי בשכונת שוק הסוסים. אז, המקום הזה נקרא האקדמיה למחול
      עכשווי. למרות שהיו שיעורי ראפ, עדיין לא היה אפילו ריקוד היפ הופ.
    </Paragraph>
    <Paragraph
      >יש עכשיו תחנת מטרו ליד הבית שלנו, אבל אז, היינו צריכים לנסוע בטרוליבוס.
      כדי ללכת לשיעור, הייתי צריך לרכוב תחנה אחת ואז להחליף קו.
    </Paragraph>
    <Quote>היה לי מסלול בעל פה: יש פה חנות - אני צריכה לפנות מיד. </Quote>
    <Paragraph
      >זה מצחיק שתמיד חשבו עליי כילד תלותי. כאילו אני ילדה מאוד ביתי, בניגוד
      לאחי - הוא נחשב כבחור מאוד מבוגר, נפרד ובאופן כללי אמין. אבל אם אתה חושב
      על זה, זה היה אני בין שנינו שאמרתי "הנה אני ארוזה כולי, ביי ביי משפחה",
      בגיל 21.
    </Paragraph>

    <Separator />

    <Subtitle> מהם הריחות שם? </Subtitle>
    <Quote
      >זה הריח של שמן הסנדלרים... או אולי זה היה הלק שהם השתמשו בו למגפיים.
    </Quote>
    <Paragraph
      >סבא שלי היה סנדלר יותר מ-40 שנה. ולאחרונה - אל תצחקו - הלכתי לתיקון
      נעליים בפעם הראשונה, וזה היה כאן, בישראל. כי בחרקוב לא הייתי צריכה. איך זה
      עובד לכולם? אם קרעת את הנעליים שלך, זרקת אותן. בעבר בחרקוב, אם הייתי קורעה
      את המגפיים שלי, סבא היה לוקח אותם ומחזיר לי אותם כמו חדשים.
    </Paragraph>
    <Paragraph
      >סבא שלי כבר לא בחיים, אבל אני יודעת עכשיו שזה אפשרי ללכת ולתקן את
      הנעליים. בישראל אף פעם לא עשיתי את זה ואף אחד שאני מכירה לא עושה את זה.
    </Paragraph>
    <Paragraph
      >מצאתי חנות לתיקון נעליים, נכנסתי עם זוג הנעליים שלי, והיה אותו ריח כמו
      בחנות של סבא שלי. וזה כל כך הזכיר לי את חרקוב! האיש שם היה דובר רוסית,
      ודיברנו זמן מה.
    </Paragraph>
    <Paragraph
      >כמו כן, אמא שלי נהגה לאפות פשטידה, היא קראה לזה "פשטידה מגורדת". הוא
      מכוסה בפירורי בצק ופירות יער או ריבה. מעולם לא טעמתי או הרחתי פשטידה כזו
      בשום מקום מלבד בחרקוב.
    </Paragraph>

    <Separator />

    <Subtitle>אילו צלילים שמעת בבית או ברחובות? </Subtitle>
    <Paragraph
      >ברחובות תמיד יכולת לשמוע היגוי שגוי כמו "I g<b>a</b>t you", ואז, כשאתה חי
      במדינה אחרת, אתה מבין שכולם אומרים במקום "I g<b>o</b>t you". פשוט יש לך את
      הרגע הזה שבו אתה מבין שזה היה מבטא מקומי כל הזמן הזה. מגניב, אתה תמיד יכול
      לדעת איפה אתה, לעולם לא תוכל לערבב את זה.
    </Paragraph>

    <Separator />

    <Subtitle>צלילי עיר </Subtitle>
    <Paragraph
      >הצליל האולטימטיבי של חרקוב הוא חשמלית הנעה לאורך אבני הריצוף הישנות,
      עליהן נהגו לדהור סוסים.
    </Paragraph>
    <Paragraph
      >המשפט "Nastupna zupinka" (התחנה הבאה, באוקראינית) ברכבת התחתית; "Stantsia
      sportivna: Perekhid na tuda-suda: (תחנת ספורטיבנה: שנה ל"פה ושם").
    </Paragraph>
    <Paragraph
      >ב-8 בבוקר, כשהחקלאים הביאו מיכלי מים או חלב טרי, הם היו צועקים כדי שאנשים
      ידעו שהם שם, אבל אף פעם לא הבנתי מה הם אומרים. עבור ההורים שלי זה היה אות
      שהגיע הזמן לקחת קצת מים או לקנות שמנת חמוצה. כמו כאן, בישראל, מוכרים
      צועקים בימי שישי "פרחים לשבת!"
    </Paragraph>

    <Separator />

    <Subtitle>מאיזה מקום בעיר יש לך זיכרון חזק? </Subtitle>
    <Paragraph
      >אלו המקומות האהובים שלי. אפילו מצאתי גלויה: הבית הזה, קטן, ירוק-חום,
      ברחוב1Poltavsky Shlyakh, בטיילת Lopansky, על נחל Lopan. אני אוהבת את זה
      חזותית בגלל הצבעים שלו.
    </Paragraph>
    <Paragraph
      >רחובות Pushkinskaya, רחוב אדריכל Beketov - אלה בשכונות האהובות עלי.
    </Paragraph>
    <Paragraph
      >את רוב זמני ביליתי באזור בו שכן הסטודיו לריקוד. סיימנו שיעורים והסתובבנו
      במקדונלד'ס. יש גם "מזרקת האוהבים" (אני לא יודעת למה היא נקראה כך) עם פסל
      כל כך מוזר שבו שני אנשים מאוד מאוד רזים מושיטים יד אחד אל השני. זה לא נראה
      רומנטי, למען האמת. זה נראה יותר נראה כמו זוג רעב מאוד, שמאוהב (אולי). אבל
      הם בקושי יכולים להגיע אחד לשני! והם מאוד שבירים. זה יכול להיגמר רע.
    </Paragraph>
    <Paragraph
      >הייתה גם קנטינה, שבה היו מבלים תלמידים. זה הפך למיתוג מחדש בסופו של דבר,
      אבל אז זה היה פיצה במרתף. אפילו לא פיצה, יותר כמו פשטידה - מאוד
      סטודנטיאלית, זה לא עלה כלום וסיפק לך שבוע של הזנה.
    </Paragraph>
    <Paragraph
      >אם הולכים רחוק יותר, יש גרפיטי של Hamlet Zinkovsky וOleg Mitasov.
    </Paragraph>
    <Quote>חרקוב היא עיר שמדברת אליך בציטוטים של גרפיטי. </Quote>
    <Paragraph
      >ואז "תיאטרון 19", שבו הופיע Sergey Babkin) Babkin, זמר, מלחין ושחקן) במשך
      זמן מה, היינו הולכים לשם הרבה.
    </Paragraph>
    <Paragraph>זה בעצם אותו אזור. </Paragraph>
    <Paragraph>אבל אם תפנה לכיוון אחר - תגיע לבית הכנסת. </Paragraph>
    <Paragraph>כלומר, כמעט כל מה שאתה צריך נמצא בקרבת מקום. </Paragraph>
    <Paragraph
      >אם אני צריכה לצמצם למקום מסוים, אני זוכרת היטב את הקרקס הישן. בניין עגול,
      ישן ומוצק. אם תלכו לאיבוד, תמיד תמצאו בניין קרקס - זוהי נקודת ניווט נחמדה.
      היינו מתאספים שם עם הכיתה שלנו להאזין למזמור מגילת אסתר.
    </Paragraph>
    <Paragraph
      >פארק Shevchenko הוא מקום שיוצר הרבה משחקי מילים מוזרים. זו טיילת שבה
      צועדות בחורות לבושות, ובחורים מנסים להרים אותן. זו נקודת רומנטיקה אורבנית.
    </Paragraph>
    <Paragraph
      >ואז KHATOB (תיאטרון אופרה ובלט), עם מחליקים בסביבה, וזרם המראה - מזרקה,
      אולי, המקום המתויר ביותר לצלם בו.
    </Paragraph>
    <Paragraph
      >אני מאמין שבכל עיר יש נקודת מפגש, כמו אנדרטה או שעון מגדל. בחרקי יש
      מדחום. זה כמו המכון לטמפרטורות נמוכות שלי, גם סוג של תעלומה. זה רק מדחום
      ענק המראה את הטמפרטורה האמיתית של העיר, מחובר לבית ישן מסיבה כלשהי.
    </Paragraph>
    <Paragraph
      >מדחום זה צובר אנרגיית חיים בעיר. אם זה היה יוסר, זה יהיה רע, כולם כבר
      התרגלו.
    </Paragraph>
    <Paragraph
      >כשהוסרה מזרקת דיזנגוף זו הייתה טרגדיה לאנשים. אז, עבדתי לידו וראיתי אנשים
      זקנים בוכים מסתכלים מבעד לפיגומים, כי הם לקחו את המזרקה שלהם למקום שבו הם
      נפגשו כשהיו צעירים.
    </Paragraph>
    <Paragraph
      >בחרקוב תמיד יש מדחום בחלון, אז הייתם מתעוררים בבוקר ורואים את הטמפרטורה
      בחוץ, כדי להיות מוכנים נפשית. אבא שלי עדיין אומר "איך אין לך מדחום?" אבל
      אין דבר כזה בישראל.
    </Paragraph>

    <Separator />

    <Subtitle>דרגת הרס </Subtitle>
    <Paragraph>שכונת Saltykovka. אח שלי אומר שזה לא קיים יותר. </Paragraph>
    <Paragraph
      >שוק Barbashovo הוא זיכרון מיוחד לילדים שגדלו בחרקוב. המעמדים עשויים
      מקרטון ומעלים את הזיכרון של קבלת הוראה שאף אחד לא מסתכל עליך" כשאתה מתלבש
      בגדים. כל הבגדים נקנו שם, אפשר היה למצוא שם הכל. לפי מה שהבנתי, לשוק הזה
      נפלו טילים. חלקם שרדו, וחלקם נהרסו כליל, למרות שהיה גדול מאוד בגודלו.
    </Paragraph>
    <Paragraph
      >הפעם האחרונה שהייתי בחרקוב הייתה בספטמבר 2021. קשה לי לדעת מה קורה שם
      בשכונות השונות. היו מעט פגיעות באזור שבו גרתי.
    </Paragraph>
    <Paragraph
      >הבית הירוק-חום שהזכרתי קודם עדיין עומד על תילו, אבל יש בעיה כלשהי הקשורה
      למשרד ראש העיר - או שהם מתכננים לשפץ אותו או להרוס אותו. בדיוק ראיתי עצומה
      להשאיר את זה ככה. ליד הבית הזה, יש מבנה של מורשת אדריכלית; טילים פגעו בו.
    </Paragraph>
    <Paragraph
      >חבורה של אנדרטאות נעלמו - לבקשת תושבי חרקוב. אותו פסל של לנין, שלידו היו
      נפגשים אנשים. הם פשוט נהגו לומר, אוטומטית: "יש כיכר החירות, לנין עומד שם -
      ניפגש במקום הזה". האנדרטה נעלמה הרבה יותר מוקדם מהמלחמה המלאה, אבל הנטייה
      שהעיר משתנה לפי האידיאולוגיה, כי כבר לא מקבלים הרבה דברים מסביב, היא
      לטובה, לדעתי. בפעם האחרונה שביקרתי, היה שם רק הדום, ולא היה עליו כלום.
    </Paragraph>
    <Quote
      >לא משנה אם נעדרת לשנה, שנתיים או שלוש, אתה עלול לבוא ולא לראות כמה דברים
      רגילים שאולי לא שמת לב אליהם כל כך, אבל אתה שם לב שהם כבר לא שם. יחד עם
      זאת, אתה מבין למה הם נעלמו, וזה לא גורם לך סתירות.
    </Quote>
    <Quote
      >העיר מכוסה בכתמים. אתה מבין איך החברה עוברת שלבים אחרים, והעיר הולכת
      איתה, יוצרת אידיאולוגיה חדשה, ונלחמת על חירותה ועצמאותה. כך נוצר חרקוב,
      מקום הירואי.
    </Quote>
    <Paragraph
      >לפעמים גם עיר, כמו אנשים, נפטרת מכל מה שהיא כבר לא צריכה, ועדיף שזה יקרה
      תמיד על ידי בחירת העיר, לא על ידי ההרס מבחוץ והטרגדיות שמתרחשות עכשיו.
    </Paragraph>
    <Paragraph
      >חשוב לשקול כיצד העיר תתאושש. לחארקוב הייתה בעיה עם ייצוג: שלטי חוצות
      קלקלו ​​מאוד את המראה והסגנון של העיר, ולעתים קרובות הסתירו נכסים
      אדריכליים. הסתכלתי על כמה תוכניות בנייה בעיר, ואתה יכול לראות שם בבירור
      "לפני" ו"אחרי". לפני שישה חודשים זה היה ככה, אבל עכשיו זה בית חדש. הרבה
      עדיין בתהליך של בנייה מחדש.
    </Paragraph>
    <Quote
      >הם מנסים להחיות, לשנות ולעדכן כמה דברים, אפילו במהלך המלחמה. אתה חושב:
      "הם יעדכנו את זה כשהכל ייגמר." אבל, למען האמת, אף פעם לא חשבתי שכל זה קורה
      בו זמנית. איפשהו יש הרס, איפשהו יש שיקום, כמו פינג פונג.
    </Quote>
    <Paragraph
      >ההורים שלי נמצאים עכשיו בלבוב, יותר מחצי שנה. אחי נשאר בחרקוב. הוא נמצא
      באזור מפעל הטרקטורים של חרקוב. אין אף אחד בבית כרגע. ניסיתי איכשהו לעקוב
      אחר החדשות, אבל להתרשמותי, היו פחות כניסות באזור הבית שלנו. גם המכון
      לטמפרטורות נמוכות, אני חושבת, מצליח, לא ראיתי שום דבר בחדשות על זה.
    </Paragraph>

    <Separator />

    <Subtitle>חזרה</Subtitle>
    <Paragraph
      >לפני המלחמה שאלתי את החברים שלי, חיפשתי משרות פנויות בתחום התרבותי
      ובגלריות, ובאמת חשבתי על לגור בקייב, אבל אז הגיעה המלחמה. אני לא יכולה
      להגיד שהייתה לי כוונה רצינית לחזור לחארקוב, אבל אני לא שוללת את זה כמובן.
      מסתבר שלא גרתי באוקראינה יותר מ-10 שנים.
    </Paragraph>
    <Quote
      >האם אני רוצה ללכת הביתה? ממש. נראה לי שאם יחזור לשם, הוא כבר לא יהיה אותו
      אדם, ואני לא יודעת אם אני בכלל מוכנה להלם שאראה במו עיני.
    </Quote>
    <Paragraph
      >ההורים שלי, והסבים, מעולם לא היו במקום שבו בחרתי לגור, אז חרקוב היא בערך
      הבית. הגעתי לשם גם מישראל וגם מסנט פטרבורג. וזה כזה "ברוכים הבאים הביתה",
      המשפחה שלך מחכה לך בחרקוב. החזרה הביתה היא הכל על חרקוב.
    </Paragraph>
    <Paragraph
      >מלחמה על המסך זה מפחיד, זה מזעזע, אבל אני לא יכולה לדמיין איך זה לראות את
      זה במציאות. יש לי את המשאלה להיות שם ולעזור. האם יש פחד? כן, כמובן. אולי
      צריך לראות את זה כדי שדילמות, סתירות ומחשבות על תהליכים שונים ייפתרו.
    </Paragraph>
    <Quote
      >הביטוי "עמדנו בפני מלחמה" הוא ביטוי ריק; אנחנו, יושבים בישראל, לא
      התמודדנו עם המלחמה באוקראינה. האנשים שנמצאים שם התעמתו, אבל מה שאנחנו
      רואים על המסכים זה לא התנגשות עם מלחמה.
    </Quote>

    <Separator />

    <Subtitle>המקום הראשון שאתה הולך אליו כשאתה מגיע לחרקוב </Subtitle>
    <Paragraph
      >הייתי הולך למכון לטמפרטורות נמוכות, מעולם לא הייתי שם בפנים. רק כדי
      לראות: מה זה ולמה כולם מסביבי מדברים על זה כל החיים שלי, אבל אני אפילו לא
      יודעת מה קורה בפנים?
    </Paragraph>
    <Paragraph
      >אם כי, אולי כדאי לשאול את ההורים שלי, אולי הלכנו לשם יחד פעם אחת.
    </Paragraph>
    <Paragraph>אני גם רוצה ללכת למזנון לאכול פאי פיצה. </Paragraph>
    <Quote
      >כנראה, הייתי מבקר בכל המקומות שציינתי. אני לא יכולה לחשוב על חדשים.
    </Quote>
  </article>
</Main>
