---
import Main from "../../layouts/main.astro";

import Title from "../../components/Title.astro";
import Subtitle from "../../components/Subtitle.astro";
import Paragraph from "../../components/Paragraph.astro";
import Quote from "../../components/Quote.astro";
import Separator from "../../components/Separator.astro";
---

<Main>
  <article>
    <Title>קייב</Title>

    <Subtitle>ילדות</Subtitle>
    <Paragraph
      >נולדתי בקייב ועליתי לישראל בשנת 2018. הפעם האחרונה שהייתי בקייב הייתה
      כשביקרתי את ההורים שלי, לפני שלוש שנים. הרבה זמן ניסיתי לקבל אישור לביקור
      מצה"ל, שבו שירתי באותה תקופה. ניסיתי להוכיח שלא אשאר באוקראינה ולא אשרת
      בצבא שלה; שבניגוד לישראל אין בה שירות חובה (כך היה בזמנו), ושבנות לא
      מחויבות לשרת.
    </Paragraph>
    <Paragraph
      >יש לי זיכרונות רבים משנותיי המוקדמות, אבל אף פעם לא חשבתי מהו הזיכרון
      הראשון שלי. ההורים שלי צילמו הרבה, כאילו שהם רצו לשמר את הילדות שלי בקלטות
      וידאו, ואני צפיתי בהן שוב ושוב – עד שמה שראיתי בהם והזיכרונות שלי התלכדו.
    </Paragraph>
    <Paragraph
      >אני זוכרת בעיקר דברים שקשורים לדאצ'ה, בית הקיץ שלנו. שם בילינו חופשות
      משפחתיות, בהן אבא לשם שינוי לא היה בנסיעות עסקים, ואימא בישלה הרבה. הדאצ'ה
      שלנו הייתה באזור אובוכוב (Obukhov), במרחק כשעה וחצי נסיעה מקייב. היה שם
      אגם, והיה פשוט נהדר. אני חושבת שזה בגלל שאבא שלי ממש השתדל. הוא דיבר עם
      צמחים, עם העצים, היו לו כרמים משלו, הוא הכין יין, ותמיד היו לנו פירות יער
      ופירות אחרים.
    </Paragraph>
    <Quote>
      הזיכרונות שלי מהדאצ'ה מוחשיים יותר, בגלל שבבית לא רציתי לזכור דברים, אתם
      מבינים? אימא גידלה אותי, אבא לא נמצא. בדאצ'ה היה חופש.
    </Quote>
    <Paragraph
      >בית ילדותי הוא אותו בניין שבו אימא שלי גדלה, רק בדירות שונות. גם סבא שלי
      גר שם עכשיו. ביליתי הרבה בבית – בניגוד לילדים אחרים, לא הרביתי לשחק עם בני
      גילי בגן השעשועים. למדתי בבית ספר יהודי פרטי שהיה מרוחק מהבית, אז החברים
      שלי תמיד היו רחוקים. שהיתי שעות ארוכות במקום עבודתה של סבתי, היא הייתה
      האחות הראשית בתחנת עירוי הדם של קייב. היה לי טוב שם, כולם אהבו אותי, הייתי
      הילדה של תחנת התרומות! זו בטח הסיבה שאני לא מפחדת מדם.
    </Paragraph>
    <Paragraph
      >בגן חובה, שהיה גן יהודי, שיחקנו בסביבון והימרנו על איזו אות הוא ינחת. היו
      כמובן גם פוקימון – עם הדיסקיות העגולות האלה שצריך היה לזרוק. מכרנו אותן זה
      לזו והתחלפנו בהן. בשלב כלשהו, כל הבנות ממשפחות עשירות קיבלו לא רק ברביות,
      אלא בובות בראץ עם ראשים ענקיים. אני זוכרת את אימא שלי אומרת לי: "כשאוכל,
      אני אקנה לך אחת". לא הייתי מסוג הילדים שהשתטחו על הרצפה בחנות וצרחו: "אני
      רוצה כזה!". לא, המתנתי בסבלנות, ובהמשך אמי קנתה לי בובה כזו.
    </Paragraph>

    <Separator />

    <Subtitle>משפחה</Subtitle>
    <Paragraph
      >כשאמי הייתה ילדה, היא נסעה לעתים קרובות לבורודיאנקה (Borodyanka, פרבר של
      קייב), היכן שגרו סבתא וסבתא רבתא שלה. היא בילתה שם הרבה, באוויר הצח ובטבע.
      אבל למעשה, היא התגוררה ברובע שבצ'נקו (Shevchenkivskyi), ליד באבי יאר ומגדל
      הטלוויזיה, איפה שגם אבא שלי נולד ואיפה שחיינו לימים כמשפחה. כשאנשים שואלים
      אותי "איפה גרת?", אני עונה "במחוז שבצ'נקו", וכולם אומרים: "אה, זה המקום
      שבו נמצא חרשצ'אטיק?" (Khreshchatyk, הרחוב הראשי של קייב). "לא, לא, עוד
      קצת...", אני מסבירה. זה מחוז אחד, הוא פשוט גדול מאוד.
    </Paragraph>
    <Paragraph
      >אבי נולד בקייב, אבל לא היו לו יחסים טובים במיוחד עם הוריו, אז הוא גדל
      בעיקר אצל סבא וסבתא שלו, בקרים. אחר כך הוא הלך לצבא, ולבסוף חזר לקייב.
    </Paragraph>
    <Paragraph
      >בהתחלה אימא ​​שלי עבדה כמורה בבית ספר יסודי וכספרנית, אבל אז היא המשיכה
      לעבוד רק כספרנית. הדבר משתקף בבירור בבית שלנו בקייב – מדפים ענקיים, ספרים
      בכל פינה, ריח של ספרים ברחבי הבית.
    </Paragraph>
    <Quote
      >כשהתחילה "אוקראיניזציה" ב-2014, והחלו לזרוק, ואפילו לשרוף, ספרות רוסית
      וקלאסיקות רוסיות, אימא שלי אספה מהרחוב הביתה ספרים רבים ככל שיכלה, היא לא
      יכולה הייתה לצפות בהם מושמדים כך.
    </Quote>
    <Paragraph
      >בעבר אבא שלי עבד בחברת "Ukraeroruh" – חברה שעסקה במטוסים ובציוד תעופה בכל
      רחבי אוקראינה. הוא היה יוצא לנסיעות עסקים, לפעמים אפילו לחו"ל. במשך זמן מה
      הוא היה הנהג והעוזר של אחד מבכירי החברה, אבל אז נמאס לו מכל הפוליטיקה,
      והוא התפטר.
    </Paragraph>
    <Paragraph
      >בכל פעם שאחי ואני מאזינים לסיפור ההיכרות של ההורים שלנו, מתברר לנו שהיו
      להם הרבה הזדמנויות להיפגש מוקדם יותר: הם היו באותם המקומות באותו הזמן, אבל
      דרכיהם לא הצטלבו. היו להם הרבה חברים משותפים. הוא למד באקדמיה הימית, והיא
      במכללה להכשרת מורים. ואתם יודעים, היו להם מסיבות בתקופה הסובייטית – הייתי
      מתה ללכת אליהן! אני מדמיינת אותם מתלבשים בבגדים היפים שלהם ויוצאים לרקוד,
      וזה מזכיר לי את "המגונדרים" – סרט מוזיקלי רוסי מ-2008, על צעירים בברית
      המועצות בשנות ה-50.
    </Paragraph>
    <Paragraph
      >אימא ואבא היו שניהם נשואים בעבר, לא בהצלחה מרובה. בנישואיה הראשונים של
      אמי, היא איבדה ילד. באותה תקופה, כשהיא בדיכאון עמוק, אבלה ומתוחה, בלי
      איפור על הפנים או אוכל במקרר, חברה הכירה ביניהם. באחד הימים, אבא בא לבית
      של אימא ומילא את המקרר שלה. למחרת, הוא הביא לה מכלי מים נקיים, ופשוט נשאר
      לגור איתה. הוא חיבב אותה עד כדי כך שהם לא ניהלו שום שיחה על דייטים, אלא
      פשוט זבנג! הם התאהבו והחלו לחיות יחד. רק כשהייתי בת שש הם התחתנו.
    </Paragraph>
    <Paragraph
      >במשפחה שלנו הייתה מסורת ללכת לאתר ההנצחה היהודי בבאבי יאר. ביום הניצחון
      על הנאצים, היינו מתנדבים ועוזרים לווטרנים. עכשיו הם בטח כבר לא בין החיים.
      בפורים הלכנו ל"כפר החלומות" להחליק על הקרח; ובפארק המים אכלנו פיצה – ממש
      בתוך המים.
    </Paragraph>
    <Quote
      >לאמי היה נוהג משעשע: אם לי או לאחי הייתה סיבה לחגוג, היא הייתה נותנת
      מתנות לשנינו, אבל גם אם הייתי מתנהגת בשובבות, שנינו היינו ננזפים. בקיצור,
      אף ילד לא הושאר בחוץ.</Quote
    >
    <Paragraph
      >בחורף תמיד הלכתי עם אימא שלי לבלט, ואם היא לא יכלה, הלכתי עם סבתא שלי.
      אפשר לומר שהייתי ילדה מלומדת במיוחד – שהולכת גם לתיאטרון וגם לאופרה. אפילו
      שרתי באופרה, אבל אני יותר אוהבת בלט. זיכרון ילדות נוסף שלי הוא ממסיבות חג
      המולד, עם מתנות ושוקולדים חסרי טעם.
    </Paragraph>
    <Paragraph
      >סבתי והוריי גרים כיום בכרמיאל, בעוד שסבי גר בקייב, ואני מבינה אותו לגמרי.
      בגיל כזה, לעבור למדינה שבה אתה צריך ללמוד את השפה מאפס, ולגור בדירה
      שכורה... כשבמדינה שלך יש לך את הדירה שלך, את השפה שלך, ואת יתר הדברים שאתה
      רגיל אליהם. אני לא חושבת שהוא מרגיש בטוח באוקראינה, אבל הוא גם נבוך ופגוע,
      כי לכל אורך חייו הוא האמין ש"פוטין הוא בחור טוב", ואז קיבל את הזאפטה הזו.
    </Paragraph>
    <Paragraph
      >יש לנו קרובי משפחה רבים בישראל, וסבתא שלי נהגה להגיע ארצה בכל שנה כדי
      לבקר את הבן שלה, האח של אימא שלי. אני זוכרת איך היא הייתה מביאה לנו מכאן
      אבוקדו, חומוס ושוקולד שנראה כמו קליפה של גזע עץ! זה היה טעים מאוד.
    </Paragraph>

    <Separator />

    <Subtitle> ריחות, צלילים, קולות </Subtitle>
    <Paragraph
      >קייב היא עיר יפה מאוד, ירוקה, שמזוהה עבורי עם האוניברסיטה ועם ילדות
      מאושרת. עיר מגניבה עם אנשים אופנתיים. מבחינתי, קייב היא באיזשהו מקום חלק
      נפרד מאוקראינה.
    </Paragraph>
    <Paragraph
      >אהבתי לצאת בקייב לכל מיני טיולים, בין השאר לאתרים ארכיאולוגיים. כשהייתי
      בעיר בפעם האחרונה, אימא שלי נתנה לי מתנה: סיור בבתי הבושת של קייב מהמאה
      ה-19. באותן שנים המקומות הללו היו מוסווים בתוך אתרים "לגיטימיים", כך שאתה
      נכנס למשל לקליניקה של רופא שיניים, ומאחורי דלת משרדו של הרופא מתחבא לו בית
      בושת.
    </Paragraph>
    <Quote>קייב היא צלילי פעמונים, טרוליבוסים וחשמליות. </Quote>
    <Paragraph
      >גרנו במקום שהיה בו הרבה טבע, בקרבת יער דובקי (Dubki) ופארק דורוגוז'יצ'י
      (Dorogozhichi), אז קייב היא גם ציוץ הציפורים, כמובן. וכנראה גם צליל המטרו,
      כשאת כבר על הרכבת, או מחכה שהיא תגיע.
    </Paragraph>
    <Paragraph
      >ריח הלילך ושושנת העמקים, והניחוח של פשטידות ליד בית האופרה. אם עומדים עם
      הפנים אל בית האופרה, פונים שמאלה והולכים קצת, מגיעים לחנות פשטידות קטנטנה
      אך מפורסמת. היה לה ריח של בצק מטוגן. מאחר שאבא שלי גדל בחצי האי קרים,
      נסענו לשם מדי שנה. בקרים, הריחות של צ'יבורקי (כיסון בצק מטוגן ממולא בשר)
      ושל הים שיגעו אותי. גם לאודסה יש ריח של ים, ושל שוקולד, ואילו לקייב יש ריח
      של פרחים, של גשם, וכנראה, של האוכל של אימא שלי.
    </Paragraph>
    <Paragraph
      >אתם יודעים איך בהרי הקרפטים מבשלים דייסת תירס עם רוטב פטריות? אמא שלי
      תמיד הכינה את זה עם כוסמת.אימא בישלה כל מה שביקשת. המנה האהובה עליי הייתה
      עוף עם פטריות.
    </Paragraph>
    <Quote
      >לא הייתה בבית שלנו אף מנה שהוכנה רק לחגים. אם רצינו לאכול משהו, ביקשנו
      אותו. פאי פרג, למשל. סבתא בישלה את כל מנות המטבח האשכנזי. הכי טעימה הייתה
      הבבקה המלוחה שהיא אפתה מקמח מצה.
    </Quote>
    <Paragraph
      >הייתה פיצרייה שהיינו אוכלים בה, אני חושבת שקראו לה "מר חתול", בשכונת
      שוליאבקה (Shulyavka). כמובן שהיינו הולכים גם ל-"Puzata Khata" (רשת מסעדות
      מזון מהיר המגישות מנות אוקראיניות מסורתיות), שם אהבנו לאכול ורניקי
      (כיסונים) במילוי מתוק. אהבנו לגלות מקומות חדשים, למשל, כשנפתח עסק שהגיש
      צ'יקן קייב בשכונת פודיל (Podil), ואחר כך מקום של סופגניות. אבל לרוב אמא
      שלי בישלה בעצמה. בדרך כלל, כשאנשים חוגגים, הם יוצאים למסעדה, אבל אצלנו זה
      היה הפוך. ציינו את רוב החגים בארוחות ביתיות, ואם רצינו לצאת לאנשהו, פשוט
      עשינו את זה.
    </Paragraph>
    <Paragraph
      >דיברנו רוסית בבית, ואז כשנוסעים לערים כמו חרקוב או אודסה, את מתחילה לדבר
      ואומרים לך: "אנחנו מדברים אחרת".
    </Paragraph>
    <Paragraph
      >בקייב, אנו משתמשים במילה אלגנטית יותר, רוסית, עבור כניסות, שהיא יותר כמו
      "כניסה לאצולה". רבים אומרים שאוצר המילים בקייב דומה לזה של סנט פטרסבורג.
      אני לא יודעת, האם הייתי רוצה להיות כמו פטרבורגרית עכשיו? אבל, אנשי קייב
      מבטאים לא נכון את המילה "שלהם", בניגוד למי שדוברים רוסית כהלכתה.
    </Paragraph>
    <Quote
      >בעבר הייתה בקייב אוכלוסייה גדולה יותר של דוברי רוסית. כשהלכתי
      לאוניברסיטה, התחלתי לדבר אוקראינית, והחברים הכי טובים שלי היו מערים כמו
      לבוב וריבנה. גם להם יש סלנג ודיאלקטים משלהם
    </Quote>

    <Separator />

    <Subtitle> זמן ומקומות </Subtitle>
    <Paragraph
      >נקודת המפגש בקייב היא פארק מרינסקי (Mariinsky), בשכונת ליפקי (Lipki). זה
      אזור יפיפה. נראה לי שכל החברות שלי יצאו שם לדייטים. רחוב האדריכל גורודצקי,
      אם הוא לא סגור כי שם משכן הנשיא. זה נשמע בנאלי, אבל רבים יוצאים לדייטים
      ברחוב הראשי של העיר, חרשצ'אטיק. דייטים רבים מתקיימים בשכונת פודיל, ועל גדת
      הנהר. גם אני יצאתי לדייטים בפודיל, והם הסתיימו במסעדת "Puzata Khata". אלה
      היו הדייטים הטובים ביותר, כשהאכילו אותי! ואתם יודעים, לא באיזו מסעדה
      אופנתית אלא ב"פוזטה חטה", עם אוכל אוקראיני עממי ובלי יומרות.
    </Paragraph>
    <Quote
      >אני זוכרת את האגדה על בית הרופא, גם הוא אי שם בליפקי. הסיפור היה שגרו שם
      יהודים, ושבחג הסוכות גג הבית שלהם התפרק – וכך התאפשר להם לבנות סוכה,
      בתקופה שבה שליט העיר אסר על כך. ישנה כמובן גם האגדה על בית הכימרות, גם הוא
      בליפקי, שלפיה עם רדת הליל היו הגרגוילים מתעוררים לחיים ומשוטטים בקייב.
      האגדות הפרועות ביותר לא היו על קייב, אלא על הכפרים מסביב, שעליהם מסופר כי
      היו בהם מאווקות (רוחות יער נשיות), בתולות ים ורוחות רעות.
    </Quote>
    <Paragraph
      >כל המקומות שהיו חשובים לי היו ברבעים שונים של העיר. גרתי בשבצ'נקו, למדתי
      בבית הספר בגולוסייבסקה (Goloseevske) והלכתי למקהלה בסולומיאנקה
      (Solomianskyi). המקהלה היוותה חלק גדול מחיי: שרתי בה במשך 11 שנים, הופענו
      בכל רחבי אירופה, והערצתי את הבנות ששרתי איתן. הן כולן גרו בסולומיאנקה,
      ולעומתן אני התקבלתי בגלל שבית הספר היהודי שלי היה בקרבת מקום. יום אחד הגיע
      מנצח המקהלה לבית הספר ובחר בי. תמיד קינאתי בבנות שגרו במרחק חמש דקות
      מהמקהלה, בזמן שלי לקח שעה להגיע – בחורף, בקור, בשבתות. אני זוכרת שכשהייתי
      בת 13 וסבתי התלוותה אליי לשם, התקוממתי: "סבתא! אני כבר מבוגרת!". הרשו לי
      להגיע בכוחות עצמי רק בשלב די מאוחר, כשהייתי בת 14. אני אוהבת את קייב, אבל
      היא מעולם לא הייתה העיר הבטוחה ביותר עבור בנות.
    </Paragraph>
    <Paragraph
      >למדתי ב-KNEU, האוניברסיטה הלאומית לכלכלה של קייב, תואר בניהול משאבי אנוש.
      היו באוניברסיטה מעונות שבהם החברים שלי ואני עשינו לפעמים שיעורי בית ועבדנו
      על פרויקטים שונים. יום אחד הגיעה המשטרה, הייתה המולה גדולה, ואז התברר
      שבחורה אחת, כפרית, הסתירה את העובדה שהיא בהריון. הוריה לא ידעו דבר. היא
      ילדה תינוק בחדר במעונות, והשליכה אותו מהקומה הרביעית לתוך מתקן אשפה. היא
      ילדה וזרקה את התינוק! מאז, המעונות הפכו להיות המקום המפחיד ביותר עבורי.
      מבחינה פסיכולוגית, לא הצלחתי לתפוס את זה. לא ידעתי אם לשנוא את הבחורה הזו
      או לרחם עליה.
    </Paragraph>
    <Paragraph
      >אם הייתי צריכה לבחור מקום שמהווה סמל של קייב, הייתי בוחרת באנדרטת הקשת
      (מאז 14 במאי 2022, היא נקראת "קשת החופש של העם האוקראיני", לפי החלטה של
      מועצת העיר). תמיד היו שם הרבה צעירים, וגם מסיבות וקונצרטים. זה סמל די
      אופטימי עבורי.
    </Paragraph>
    <Quote
      >יותר מכל אני מתגעגעת לחברים שלי. מוזר לומר את זה, אבל אני מתגעגעת לאוכל.
      המגוון והאיכות שם! כאן כמעט לא קורה שאני נכנסת לחנות ונדהמת, ואילו שם את
      נכנסת לאיזה "סילפו" (Silpo, רשת סופרמרקטים) ואת רוצה הכל! אני מתגעגעת מאוד
      לשלג, לרגע שבו את יוצאת החוצה והדמעות והנזלת שלך קופאות לנטיפי קרח.
      והאוויר הזה שאת נושמת, ופשוט מרגישה את הקור.
    </Quote>
    <Paragraph
      >אני מתגעגעת לארכיטקטורה. אני מאלה שחושבים שישראל יפה, אבל האדריכלות כאן
      לא פעם שאובה ממקומות רחוקים, כמו למשל המבנים הטמפלריים בשרונה. לעומת זאת,
      בקייב, מבנים נבנו, השתמרו ושרדו מלחמות מזמנים קדומים, וכל הארכיטקטורה
      בליפקי, בחרשצ'אטיק, במרכז העיר... את רואה את זה והלב שלך מחסיר פעימה! כל
      כניסה, כל גג, תקרות גבוהות מחופות סטוקו עם נברשות מהודרות. למרבה הצער,
      באוקראינה לא משקיעים בשימור המורשת הזו כפי שעושים בישראל. כנראה שיש כאן
      פחות מזה, אז זה מוערך יותר.
    </Paragraph>

    <Separator />

    <Subtitle>קייב ואני: מחר ועכשיו </Subtitle>
    <Paragraph
      >מיד אחרי שעברתי לכאן, הבאתי הנה את סבתא שלי. חיפשתי לה דירה בכרמיאל, היא
      משוגעת על המקום הזה. בזמנו, היא הכירה את ישראל יותר טוב ממני. החלום היחיד
      שלי היה לשרת בצבא הישראלי עם כלבי רועה גרמני. ובכן, כל התוכניות האלה של
      תגלית והלל, ובתי הספר היהודיים, החדירו בי מילדות את הרעיון הזה של "כן, אני
      אגיע לישראל בשלב מסוים בחיי". אבל להגיד שידעתי הרבה על המדינה לפני שעברתי
      לכאן? כילדה, התחושה שלי הייתה שזו ארץ כל כך קטנה, מקום שבו, כמו בשיר של
      נטשה קורוליובה, תמיד חם, והכל פשוט ומושלם. ואז עברתי לפה ו... באסה.
    </Paragraph>
    <Paragraph
      >חודש לפני פריצת המלחמה באוקראינה, ההורים שלי הגיעו לישראל. אבא שלי נזקק
      לניתוח והם תכננו לשהות כאן במשך חודשיים, לא לעבור לגור פה. הם עדיין רוצים
      לחיות באוקראינה יותר מאשר כאן, אבל בניגוד אליהם, אני מרגישה שישראל היא
      המקום שלי. בתחילת המלחמה לא הייתי שקטה ושאלתי את עצמי מה אני עושה פה.
      הרגשתי שאני צריכה להיות שם – ידעתי באותה נקודה איך להשתמש בנשק, וחשבתי
      שאני צריכה להצטרף אל הצבא האוקראיני ולהילחם בשורותיו. כל החברים שלי עזבו
      בזמנו את קייב ואת אוקראינה, ואני, להבדיל, רציתי לחזור.
    </Paragraph>
    <Quote
      >לא הייתי אומרת שהפטריוטיות נשפכת ממני, אבל אני חושבת שכשהבית שלך מופגז,
      אוחזות בך תחושות שנאה, פחד ואשמה, אי-אפשר לחשוב בבהירות ואת רוצה לדהור
      קדימה כמו רכבת מהירה לתוך אזור המלחמה, כדי לעזור.
    </Quote>
    <Paragraph
      >השתתפתי במאמץ המלחמתי על ידי תרומת כסף לפרויקטים הקשורים לציוד רפואי
      ותרופות. יש מקום לכולם: ישנם מי שמשרתים ומגנים, וישנם אלה שיוצאים לעבודה
      מדי יום ותורמים מכספם.
    </Paragraph>
    <Paragraph
      >אני לא מתכוונת לפגוע, אבל התברר שגם פה וגם שם, המדינה לא מציעה הרבה עזרה.
      כשהתחילה המלחמה בישראל, המוני מתנדבים סיפקו אוכל ובגדים, וחשבתי: איפה
      הממשלה? למה שאנשים פרטיים יצטרכו לעשות את זה? למה אזרחים צריכים לאסוף
      פרוטה לפרוטה כדי לרכוש רחפן אחד? בה בעת, המדינה יכולה להקצות סכום עתק
      מהתקציב הלאומי לתוכנית טלוויזיה.
    </Paragraph>
    <Paragraph
      >לפני המלחמה באוקראינה, הגדרתי את עצמי כיהודייה מקייב. לא לעתים קרובות
      קראתי לעצמי ישראלית.</Paragraph
    >
    <Quote
      >אני אסירת תודה לחברים שלי שלא התרחקו ממני בגלל שאני מדברת רוסית, וממשיכים
      לתקשר איתי, לאהוב ולכבד אותי.
    </Quote>
    <Paragraph
      >יש מקומות רבים שאני רוצה לבקר בהם כשאהיה שוב בקייב. פארק מרינסקי, אולם
      התצוגה של מותג האופנה האוקראיני COOSH, תיאטרון Lesya Ukrainka. אני גם רוצה
      לשתות מאצ'ה עם חלב בננה. אני לא מפחדת, אבל יש לי תחושה שכשאגיע לקייב,
      ארגיש כמו אדם שמסתובב באירופה מבלי לדעת אנגלית. אימא שלי כבר יודעת איך הכל
      מתנהל בזמן המלחמה, ואני אפילו לא יודעת איזה כרטיס למטרו צריך לקנות, כי
      הרבה זמן לא הייתי בעיר. נדמה שיש פער שאני צריכה לגשר עליו.
    </Paragraph>
  </article>
</Main>
