---
import Main from "../../layouts/main.astro";

import Title from "../../components/Title.astro";
import Subtitle from "../../components/Subtitle.astro";
import Paragraph from "../../components/Paragraph.astro";
import Quote from "../../components/Quote.astro";
import Separator from "../../components/Separator.astro";
---

<Main>
  <article>
    <Title>אודסה</Title>
    <Paragraph
      >אמי נולדה בקזחסטן, ואבי בצ'רנוביץ. הם הגיעו לאודסה אחרי האוניברסיטה -
      שניהם שובצו לעבודה באותו מפעל. שם הם נפגשו והחליטו להישאר. אז לא, אני לא
      יכולה לטעון שאני אודסנית מדורי דורות, ובכל זאת, העיר הפכה לבית שלנו.
    </Paragraph>
    <Paragraph
      >בילדותי גרתי עם המשפחה שלי במעונות של מפעל גדול באודסה, שבו סבי היה
      המנהל. ליד המעונות היו שוק, גן חיות ולונה פארק, וסופי השבוע שלנו התנהלו
      בשגרה מוכרת. אבא שלי היה מניח אותי על הכתפיים שלו, וכך היינו צועדים לגן
      החיות. הזיכרון החי ביותר שלי משם הוא של האויב שלי - הלאמה. לא ידעתי כילדה
      שלאמות יורקות, ומשום מה לא הצלחתי להפנים את העניין הזה. בכל פעם שעברנו ליד
      הכלוב של הלאמה, קיבלתי את מנת הרוק שלה - מה ששעשע מאוד את אבי. אחרי שצחק,
      הוא בדרך כלל היה נעשה קצת עצבני, ולבסוף הוא היה קורא לאמא שלי שתבוא לעזור.
      זה אחד מזיכרונות הילדות החזקים ביותר שלי: אני יושבת על הכתפיים של אבא שלי,
      הכל מתנהל על מי מנוחות, עד לרגע שבו הלאמה מכריזה על נוכחותה.
    </Paragraph>
    <Paragraph
      >היו שתי שכונות שעיצבו את הילדות שלי. גדלתי בשכונת מגורים שנקראה טאיירובו
      (Tairovo), אבל הלכתי לבית ספר במרכז העיר - שהיה עולם אחר. בטאיירובו למדתי
      את הלכות היומיום - עניינים ארציים, מעשיים. במרכז העיר, לעומת זאת, ספגתי
      השפעות תרבותיות, מעודנות יותר. אלה היו שתי קהילות שונות מאוד, וכל אחת מהן
      תרמה למי שהפכתי להיות.
    </Paragraph>

    <Separator />

    <Subtitle>ריחות, רעשים, קולות</Subtitle>
    <Paragraph
      >הצלילים של אודסה בלתי נשכחים: שאגת הים העדינה, קריאת המגדלור מהנמל, הרחש
      התוסס של השוק, שקשוקה של החשמלית ונעימותיהם של נגני רחוב. העיר מדיפה ריחות
      של ים וחול, מהולים בחום – יש ניחוח ספציפי שיוצרת התערובת של מים מלוחים,
      חול לוהט ודגים. וישנו הריח של עצי רוביניה הנישא ברחובות העיר.
    </Paragraph>
    <Paragraph
      >אודסה היא לא רק מקום – היא חוויה. סיבה עיקרית לכך היא האופן שבו אנשים
      מדברים. אחת הדוגמאות לניב המקומי הייחודי היא מה שנקרא "שוקניה" (Shokanye)
      – באודסה, אנשים מחליפים את הצליל CH ב-SH, דבר שיוצר אפקט רך, כמעט משקיט.
      כך, במקום לשאול "מה-צ'ה יודע?" (What-cha you know?, סלנג נפוץ ברוסית),
      באודסה זה נשמע יותר כמו "וואטשה יודע?"
    </Paragraph>
    <Quote
      >צורת הדיבור הייחודית הזו, שתופסת את תשומת לבם של זרים המגיעים אל העיר,
      אינה רק בגדר מבטא; היא מגלמת בתוכה את ההומור והקסם של אודסה.
    </Quote>
    <Paragraph
      >הדיאלקט האודסני מלא במילים ביידיש כמו "בקיצער", "גליק" ו"טוכעס", והסלנג
      המקומי משקף את ההשפעה היהודית על העיר. למשל, חביתיות שעשויות מבלילת שפרוט
      (דגים מלוחים) אינן נקראות "פנקייקס" אלא "לאטקס".
    </Paragraph>
    <Paragraph
      >אף שגדלתי במשפחה חילונית, אוכל ומנהגים יהודיים היו חלק מהחיים שלנו. היו
      לנו פורשמק (forshmak, דג ממולא) ובאבא גנוש (סלט חצילים). בזמנו, לא שאלתי
      מאיפה המטעמים הללו מגיעים, אבל מאוחר יותר התחלתי להבין. "למה זה יהודי אם
      זה מאודסה?", חשבתי לעצמי. עבורי, המסורת הייתה חשובה פחות מהטעם עצמו – אין
      מקום בעולם שבו החצילים יכולים להשתוות לאלה שאוכלים באודסה.
    </Paragraph>
    <Quote>אודסה היא מקום שבו אנשים עונים על שאלה בשאלה אחרת. </Quote>
    <Paragraph
      >הם מחווים עם הידיים כשהם מדברים. אפילו קללות הופכות בפיהם לאמנות: שילוב
      של גסויות ועגה מקומית, שאיכשהו מתקבל כצורת ביטוי לגיטימית. יש גם קונספט של
      "קללות מנומסות" – מילים לא-פוגעניות שנאמרות בתקיפות ובחיבה בו-זמנית, באופן
      שגורם לך להבין שפישלת. קחו לדוגמה את המילה נַקָר (woodpecker) – אף אחד לא
      באמת מחשיב אותה כעלבון, אבל כשהיא נאמרת בנימה המדויקת, היא צורבת. זו צורת
      תקשורת ייחודית שניתן להבין רק אם חיית אותה.
    </Paragraph>

    <Separator />

    <Subtitle>מקומות וזמן</Subtitle>
    <Paragraph
      >לגבי המקומות בעיר שהכי חשובים לי, יכולתי להגיד משהו קלישאתי כמו "הבית הוא
      המקום שבו נמצאת המשפחה שלי", אבל יש אתרים ספציפיים באודסה שזיכרונותיי
      כרוכים בהם. השוק, הלונה פארק, גן החיות – אלה לא מקומות שנשמעים רומנטיים
      במיוחד, אבל הם הלב של הילדות שלי. החופים ארקדיה (Arcadia) ולנז'רון
      (Langeron) השתנו דרסטית לאורך השנים, אבל הם עדיין משמרים את אותה אווירה
      מוכרת. בכל פעם שאני מבקרת בהם, הזיכרונות מציפים אותי והם מוחשיים כתמיד.
      פארק שבצ'נקו (Shevchenko), פארק גורקי (Gorky) – כל המקומות האלה הם חלק
      מהעבר שלי.
    </Paragraph>
    <Quote>אבל יותר מהכל, אני מתגעגעת לאנשים </Quote>
    <Paragraph
      >אני מתגעגעת לאווירה. אני מתגעגעת לפסיעה לאורך רחוב דריבסובסקאיה
      (Deribasovskaya), עם בליטות אבני הריצוף מתחת לכפות רגליי והאנרגיה התוססת
      של העיר מסביבי. זה הקסם הייחודי של האנשים עצמם – אודסנים לא תמיד יודעים עד
      כמה הם כריזמטיים. אפשר לשבת, להתרווח ולצפות בהם לנצח, ואיכשהו, זה אף פעם
      לא נמאס.
    </Paragraph>
    <Paragraph
      >ה-2 במאי 2014, שבו פרצו באודסה מהומות ותגרות קטלניות בין תומכי העצמאות
      האוקראינית למצדדים במשטרו פרו-רוסיט, היה יום מפחיד. בתחילת מאי מצוינים
      באוקראינה כמה חגים לאומיים, כך שרוב התושבים שהו מחוץ לעיר, בדאצ'ות שלהם
      (dacha, בית נופש עונתי). החברים שלי ואני בילינו יחד במרכז נופש ופנאי שכמעט
      ולא הייתה בו קליטה סלולארית. כשסוף-סוף הצלחנו לקבל אות, הטלפונים שלנו
      בקושי עמדו במבול השיחות וההודעות מקרובי משפחה מודאגים בחו"ל: חדשות אירועי
      היום התפשטו ברחבי העולם. כשחזרנו לעיר אחרי החג, היא נראתה כאילו כלום לא
      קרה – הנזק נוקה, אך החיים שאבדו הותירו באודסה צלקת קבועה.
    </Paragraph>
    <Paragraph
      >ואז הגיע 24 בפברואר 2022. באותו זמן, כבר גרתי בישראל. התעוררתי לצלילי
      הרטט של הטלפון שלי, שהתפקע מהודעות. בהתחלה לא הבנתי מה קורה, אבל ההודעה
      הראשונה שקראתי הבהירה את התמונה. מלחמה הגיעה לאוקראינה. אותו יום סימן את
      תחילתה של תקופה חדשה ומחרידה. ראשית הכה בי הלם, ואחר כך בא פחד, שהלך וגבר
      ככל שהמצב החמיר. מצאתי את עצמי בהתכתבויות בלתי-פוסקות עם עקורים שהיו
      נואשים למצוא מקלט או דרך בטוחה להיחלץ מהמדינה.
    </Paragraph>
    <Quote
      >מאז תחילת המלחמה לא חזרתי לאוקראינה, אבל הייתי בגבול שלה עם פולין, ומה
      שראיתי שם היה מבהיל. בזמנו, היה לי קשה לקלוט את הדברים, אבל הפחד חלחל
      כשהבנתי למה הייתי עדה.
    </Quote>
    <Paragraph
      >אני לא בטוחה מה נשאר מאודסה. העיר ללא ספק הצטלקה מהמלחמה, אבל אני יודעת
      שישנם מקומות, כמו המבנים היפים בכיכר הקתדרלה, שאט-אט עוברים שחזור. לעומתם
      ניתן לציין את המלון בנמל, בניין ידוע לשמצה, שכולם שנאו בגלל שחסם את הנוף
      לים. כשהוא נחרב, הופיע הומור שחור. ככה זה באודסה – צחוק וטרגדיה שזורים זה
      בזו.
    </Paragraph>

    <Separator />

    <Subtitle>אודסה ואני: מחר ועכשיו </Subtitle>
    <Paragraph
      >עברו כמעט שבע שנים מאז שעזבתי את אודסה. ובכל זאת, מדי שנה אני אורזת את
      המזוודה שלי ואומרת לעצמי שאני חוזרת הביתה. גם כשהמלחמה התחילה, הייתי מוכנה
      לחזור מיד. למרבה המזל, הסובבים אותי הזכירו לי שאני יכולה לעזור יותר ממקום
      מושבי בישראל מאשר מאוקראינה.
    </Paragraph>
    <Quote>זה קשה, כי הלב שלי מחולק בין שני המקומות – אודסה וישראל. </Quote>
    <Paragraph
      >גדלתי עם ערכים ציוניים חזקים, אבל אחרי שחייתי כאן זמן מה, התחלתי להטיל
      בהם ספק. גם עכשיו אני נאבקת עם השאלות האלה, אבל אני יודעת שאני יותר מועילה
      כאן, היכן שאני יכולה לעזור לחברים ולמשפחה שזקוקים לי. לאנשים באודסה נגמרים
      המשאבים: רגשיים, כלכליים ואחרים. היכולת להציע להם מקום מפלט, אפילו זמני,
      מספקת לי תחושת משמעות.
    </Paragraph>
    <Paragraph
      >ניסיתי לשכנע את ההורים שלי לעזוב את אודסה ולבוא לישראל. המצב שם מחמיר,
      אבל הם מסרבים לעזוב. אודסה היא כל מה שהם מכירים, והם לא מוכנים לנטוש אותה.
      אני מקווה שיום אחד הם יסכימו להיפרד ממנה, גם אם רק לתקופה. התקווה הזו היא
      מה שמחזיק אותי כאן.
    </Paragraph>
    <Quote
      >בתחילתה של המלחמה באוקראינה, חשבתי לעצמי: "אני לא שם, אבל אני יכולה
      לעזור".
    </Quote>
    <Paragraph
      >כשפרצה המלחמה בישראל, ידעתי שלא אעזוב. מצאתי לי כאן מטרה חדשה, לעזור
      לאוקראינים שברחו ממלחמה אחת רק כדי למצוא את עצמם בזירת לחימה אחרת. הם
      מקשיבים לאנשים כמוני, שמבינים את שני העולמות.
    </Paragraph>
    <Paragraph
      >אם אי פעם אשוב לאודסה, הדבר הראשון שאעשה הוא ללכת לים. יש משהו בים השחור
      שאני לא מוצאת בישראל. כילדה, הייתי נשארת במים עד שהשפתיים שלי הכחילו,
      כשברקע נשמעו צעקותיה של אמי שאחזור אל החוף. אפילו עכשיו, הים השחור מרגיש
      כמו חבר קרוב, זה שאני מספרת לו הכל, בעוד שהים התיכון הוא יותר כמו מכר –
      נחמד, אבל לא אותו דבר. יש משהו שונה בחוויית הנשימה באודסה; זה כאילו ששם
      אני יכולה לנשוף החוצה את מלוא האוויר בריאותיי.
    </Paragraph>
  </article>
</Main>
