---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import "../styles/global.css";

const lang = Astro.currentLocale;
const isRTL = lang === "he";
---

<html lang={lang} dir={isRTL ? "rtl" : "ltr"}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />

    <title>мiсто</title>
  </head>
  <body class="body">
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
  <script>
    const bserver = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            entry.target.classList.add("in-view");
          }
        });
      },
      {
        rootMargin: "0px",
        threshold: [0, 0.1, 1],
      }
    );

    const observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            entry.target.classList.add("in-view");
          }
        });
      },
      {
        rootMargin: "0px",
        threshold: [0, 0.1, 1],
      }
    );

    const tags = document.querySelectorAll(".slide-in, .stretch");

    tags.forEach((tag) => {
      observer.observe(tag);
    });
  </script>
</html>
<style>
  body {
    position: relative;
  }

  main {
    padding-top: 96px;
  }
</style>
